<div class="login-wrapper ">
  <!-- START Login Background Pic Wrapper-->
  <div class="bg-pic">
    <!-- START Background Pic-->
    <div class="img-holder" [ngStyle]="{'background':'url(assets/img/bg-login.jpg)','background-size':'cover'}" style="opacity: 0.85 !important;height: 100%"></div>
    <!-- START Background Caption-->
    <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-30 m-b-20">
      <h2 class="semi-bold text-white">Hubble - Your portal for Payroll, Timesheets and CRM</h2>

      <p class="small">
        &copy; 2019 Miracle Software Systems, Inc
      </p>
    </div>
    <!-- END Background Caption-->
  </div>
  <!-- END Login Background Pic Wrapper-->
  <!-- START Login Right Container-->
  <div class="login-container bg-white">
    <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-50 sm-p-l-15 sm-p-r-15 sm-p-t-40">
      <img src="assets/img/miracle-logo.svg" alt="logo" style="margin-left:-10px !important;" width="200px" height="50">

      <p class="p-t-35">Don't worry, we'll send you an email to reset your password.</p>
      <!-- START Login Form -->
      <form class="p-t-15" role="form" #loginForm="ngForm">
        <!-- START Form Control-->
        <div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="loginUserName.invalid && (loginUserName.dirty || loginUserName.touched)">
          <label>Your Email Address</label>
          <input type="text" id="userName" name="userName" [(ngModel)]="userName" #loginUserName="ngModel" required placeholder="johndoe@miraclesoft.com"
            class="form-control">
        </div>
        <div *ngIf="loginUserName.invalid && (loginUserName.dirty || loginUserName.touched)">
          <label *ngIf="loginUserName.errors.required" class="error">Oops, Don't leave empty!</label>
        </div>
        <!-- END Form Control-->
        <!-- START Form Control-->

        <!-- START Form Control-->

        <!-- END Form Control-->
        <div class="row">
          <div class="col-md-7">
            <button routerLink="/login" class="btn btn-primary btn-cons m-t-10" disabled="!loginUserName.invalid" 
            [ngStyle]="{'cursor': (!loginUserName.invalid? 'not-allowed':'pointer')}" type="submit">
              <i class="fa fa-unlock-alt"></i> Forgot Password</button>
          </div>
          <div class="col-md-5 mt-3">
            <a href="../" class="text-primary small float-right ">
              <i class="fa fa-arrow-left"></i> Back to Login</a>
          </div>
        </div>
      </form>
      <!--END Login Form-->

      <div class="pull-bottom sm-pull-bottom">
        <div class="m-b-50 p-r-80 sm-m-t-0 sm-p-r-15 sm-p-b-20 clearfix">

          <div class="col-sm-10 no-padding m-t-10">
            <p>
              <!-- <small>If you are a new employee, Please reach out to reporting HR for credentials after registering
                  <a href="corporate/session/register" class="text-primary">here</a>
                </small> -->
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- END Login Right Container-->
</div>