<pg-container>

  <pg-breadcrumb>
    <ol class="breadcrumb" >
      <li class="breadcrumb-item">
        <a href="#">Home</a>
      </li>
      <li class="breadcrumb-item active">BMS</li>
    </ol>
  </pg-breadcrumb>
</pg-container>



<pg-container>
  <div class="card card-default p-3" style="padding-bottom: 5px !important;margin-bottom:15px !important">
    <div class="row">

      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group form-group-default input-group" style="height:84%">
              <div class="form-input-group">
                <label>Date</label>
                <pg-datepicker></pg-datepicker>
              </div>
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>
            </div>
          </div>
          

          <!-- <div class="col-md-3">
            <div class="form-group form-group-default form-group-default-select2">
              <label class="">TimeZone</label>
              <pg-select style="width: 100%;" [(ngModel)]="selectedOption" [PlaceHolder]="'Select Option'" AllowClear ShowSearch>
                <pg-option *ngFor="let option of options" [Label]="option.label" [Value]="option" [Disabled]="option.disabled">
                </pg-option>
              </pg-select>
            </div>
          </div> -->

          <div class="col-md-4" style="display: flex">
              <div style="border-right:0" class="form-group form-group-default" pgFormGroupDefault>
                  <label>Time</label>
                  <input type="text" placeholder="HH:MM" class="form-control">
                </div>
                <div   class="form-group form-group-default form-group-default-select2">
                    <label class="">AM/PM</label>
                    <pg-select class="meridiem" style="width: 100%" [(ngModel)]="selectedOption" [PlaceHolder]="'Select'" AllowClear ShowSearch>
                      <pg-option *ngFor="let option of meridiem" [Label]="option.label" [Value]="option" [Disabled]="option.disabled">
                      </pg-option>
                    </pg-select>
                  </div>
          </div>


          <div class="col-md-4">
              <div class="form-group form-group-default form-group-default-select2">
                  <label class="">Duration(Hrs)</label>
                  <pg-select style="width: 100%;" [(ngModel)]="selectedOption" [PlaceHolder]="'Select Option'" AllowClear ShowSearch>
                    <pg-option *ngFor="let option of duration" [Label]="option.label" [Value]="option" [Disabled]="option.disabled">
                    </pg-option>
                  </pg-select>
                </div>
          </div>
        </div>
      </div>

    

      <div class="col-md-3">
        <!-- <button class="btn btn-primary mr-2" style="height: 56px;width:50%;border-radius: 0;font-size: 15px;">
            <i class="fa fa-search mr-1"></i> Search
        </button> -->
        <button (click)="addBridge()" class="btn btn-primary" style="height: 56px;width:100%;border-radius: 0;font-size: 15px">
            <i class="fa fa-plus mr-1" style="color:white;"></i> Book Bridge
           </button>
      
      </div>

    </div>
  </div>

  <div class="card card-default p-3">

    <div class="row">
      <div class="col-md-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>S.No</th>
              <th>Extension</th>
              <th>Number</th>
              <th>Passcode</th>
              <th>Time</th>
              <th>Date</th>
              <th>By</th>
              <!-- <th>Status</th>               -->
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let data of bridgeHistory">
              <td  (click)="showBridgeDetails()">
                {{data.sl}}
              </td>
              <td>
                {{data.extension}} <i (click)="createCopiedDetailsNotification()" class="fa fa-clone" aria-hidden="true"></i>
              </td>
              <td  (click)="showBridgeDetails()">
                {{data.number}}
              </td>
              <td  (click)="showBridgeDetails()">
                {{data.passcode}}
              </td >

              <td  (click)="showBridgeDetails()" class="start">
                {{data.time}}
              </td>
              <td  (click)="showBridgeDetails()">
                {{data.date | date: mediumDate}}
              </td>
              <td  (click)="showBridgeDetails()">
                {{data.by}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</pg-container>



<!--Edit Modal -->
<div  bsModal #mdSlideUpShowBridge="bs-modal" class="modal fade slide-up disable-scroll" tabindex="-1"
  role="dialog" aria-hidden="false">
  <div class="modal-dialog modal-lg" style="width:750px !important">
    <div [style.opacity]="opacity" class="modal-content-wrapper">
      <div class="modal-content">
        <div class="modal-header clearfix text-left">
          <button type="button" class="close" (click)="mdSlideUpShowBridge.hide()" aria-hidden="true">
            <i class="pg pg-close fs-14"></i>
          </button>
          <h5>
            <span class="semi-bold">Bridge Details</span>
          </h5>
          <p class="p-b-10">Please find the selected bridge details below</p>
        </div>
        <div class="modal-body">

          
            <div class="row">
                <div class="col-md-4">
                  <div class="form-group form-group-default input-group">
                    <div class="form-input-group">
                      <label>Date</label>
                      <pg-datepicker [(ngModel)]="startValue"></pg-datepicker>
                    </div>
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="fa fa-calendar"></i>
                      </span>
                    </div>
                  </div>
                </div>
                
      
                <!-- <div class="col-md-3">
                  <div class="form-group form-group-default form-group-default-select2">
                    <label class="">TimeZone</label>
                    <pg-select style="width: 100%;" [(ngModel)]="selectedOption" [PlaceHolder]="'Select Option'" AllowClear ShowSearch>
                      <pg-option  *ngFor="let option of options" [Label]="option.label" [Value]="option" [Disabled]="option.disabled">
                      </pg-option>
                    </pg-select>
                  </div>
                </div> -->
      
                <!-- <div class="col-md-4">
                  <label for="" class="start-time-label">Start Time</label>
                    <div class="input-group date start-time">
                        <pg-timepicker [(ngModel)]="_date"></pg-timepicker>
                        <div class="input-group-append">
                            <span class="input-group-text transparent">
                                <i class="pg pg-clock"></i>
                            </span>
                        </div>
                      </div>
                </div> -->

                <div class="col-md-4" style="position: relative">
                    <div style="border-right:0;position:absolute;top:0;left:0;width:65%" class="form-group form-group-default" pgFormGroupDefault>
                        <label>Time</label>
                        <input type="text" placeholder="HH:MM" class="form-control">
                      </div>
                      <div style="height:54px;position:absolute;top:0;right: 0;width:35%"   class="form-group form-group-default form-group-default-select2">
                          <label class="">AM/PM</label>
                          <pg-select class="meridiem" style="width: 100%" [(ngModel)]="selectedOption" [PlaceHolder]="'Select'" AllowClear ShowSearch>
                            <pg-option *ngFor="let option of meridiem" [Label]="option.label" [Value]="option" [Disabled]="option.disabled">
                            </pg-option>
                          </pg-select>
                        </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-group-default form-group-default-select2">
                        <label class="">Duration(Hrs)</label>
                        <pg-select style="width: 100%;" [(ngModel)]="selectedOption" [PlaceHolder]="'Select Option'" AllowClear ShowSearch>
                          <pg-option *ngFor="let option of duration" [Label]="option.label" [Value]="option" [Disabled]="option.disabled">
                          </pg-option>
                        </pg-select>
                      </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                    <div class="form-group tag-group form-group-default required ">
                        <label>Attendees</label>
                        <pg-tag-control [(ngModel)]="tags"></pg-tag-control>
                      </div>
                </div>
              </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-group-default">
                <label>Description</label>
                <textarea type="text" rows="4" class="form-control">Discussion on Hubble UI and further steps
                                        </textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8 m-t-10 sm-m-t-10">

              <button style="float: left" (click)="showDelete();opacity=0" type="button" class="btn btn-danger miracle-submit m-t-5">Cancel Bridge</button>

            </div>
            <div class="col-md-4 m-t-10 sm-m-t-10">
              <button (click)="mdSlideUpShowBridge.hide();createUpdateBridgeNotification()" type="button" class="btn btn-primary miracle-submit m-t-5">Update</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
</div>
<!-- /.modal-dialog -->




<!-- delete modal -->
<div bsModal #mdSlideUpDelete="bs-modal" class="modal fade slide-up disable-scroll" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-sm">
      <div class="modal-content-wrapper">
        <div class="modal-content">
  
          <div class="modal-body text-center m-t-20">
            <h4 class="no-margin p-b-10">Are you sure you want to cancel the bridge request?</h4>
            <div class="row">
              <div class="col-md-6">
                <button class="btn btn-danger btn-cons" (click)="mdSlideUpDelete.hide();opacity=1" type="button">Close</button>
              </div>
              <div class="col-md-6">
                <button class="btn btn-success btn-cons" (click)="mdSlideUpDelete.hide();opacity=1;mdSlideUpShowBridge.hide();createCancelBridgeNotification()" type="button">Confirm</button>
  
              </div>
  
            </div>
          </div>
  
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
  </div>
  <!-- delete modal -->




  
<!--Edit Modal -->
<div  bsModal #mdSlideUpAddBridge="bs-modal" class="modal fade slide-up disable-scroll" tabindex="-1"
role="dialog" aria-hidden="false">
<div class="modal-dialog modal-lg" style="width:750px !important">
  <div [style.opacity]="opacity" class="modal-content-wrapper">
    <div class="modal-content">
      <div class="modal-header clearfix text-left">
        <button type="button" class="close" (click)="mdSlideUpAddBridge.hide()" aria-hidden="true">
          <i class="pg pg-close fs-14"></i>
        </button>
        <h5>
          <span class="semi-bold">Bridge Details</span>
        </h5>
        <p class="p-b-10">Please add below details and click save</p>
      </div>
      <div class="modal-body">


          <div class="row">
              <div class="col-md-4">
                <div class="form-group form-group-default input-group">
                  <div class="form-input-group">
                    <label>Date</label>
                    <pg-datepicker></pg-datepicker>
                  </div>
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </div>
                </div>
              </div>
              
    
             
    
              <!-- <div class="col-md-4">
                <label for="" class="start-time-label">Start Time</label>
                  <div class="input-group date start-time">
                      <pg-timepicker [(ngModel)]="_date"  [Format]="'h:mm'"></pg-timepicker>
                      <div class="input-group-append">
                          <span class="input-group-text transparent">
                              <i class="pg pg-clock"></i>
                          </span>
                      </div>
                    </div>
              </div> -->


              <div class="col-md-4" style="position: relative">
                  <div style="border-right:0;position:absolute;top:0;left:0;width:65%" class="form-group form-group-default" pgFormGroupDefault>
                      <label>Time</label>
                      <input type="text" placeholder="HH:MM" class="form-control">
                    </div>
                    <div style="height:54px;position:absolute;top:0;right: 0;width:35%"   class="form-group form-group-default form-group-default-select2">
                        <label class="">AM/PM</label>
                        <pg-select class="meridiem" style="width: 100%" [(ngModel)]="selectedOption" [PlaceHolder]="'Select'" AllowClear ShowSearch>
                          <pg-option *ngFor="let option of meridiem" [Label]="option.label" [Value]="option" [Disabled]="option.disabled">
                          </pg-option>
                        </pg-select>
                      </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group form-group-default form-group-default-select2">
                      <label class="">Duration(Hrs)</label>
                      <pg-select style="width: 100%;" [(ngModel)]="selectedOption" [PlaceHolder]="'Select Option'" AllowClear ShowSearch>
                        <pg-option *ngFor="let option of duration" [Label]="option.label" [Value]="option" [Disabled]="option.disabled">
                        </pg-option>
                      </pg-select>
                    </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                  <div class="form-group tag-group form-group-default required ">
                      <label>Attendees</label>
                      <pg-tag-control [(ngModel)]="tags1"></pg-tag-control>
                    </div>
              </div>
            </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-group-default">
              <label>Description</label>
              <textarea type="text" rows="4" class="form-control" placeholder="Please enter the description here"></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 m-t-10 sm-m-t-10">

            <button style="float: left" (click)="mdSlideUpAddBridge.hide();" type="button" class="btn btn-danger miracle-submit m-t-5">Cancel</button>

          </div>
          <div class="col-md-4 m-t-10 sm-m-t-10">
            <button (click)="mdSlideUpAddBridge.hide();createAddBridgeNotification()" type="button" class="btn btn-primary miracle-submit m-t-5">Book</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.modal-content -->
</div>
</div>
<!-- /.modal-dialog -->