.start-time{
    input{
        padding-top: 28px !important;
    }
}
.start-time-label{
   
    font-size: 10.5px;
    margin: 0;
    position: absolute;
    padding-left: 10px;
    padding-top: 7px;
    font-weight: 500;
}
table th{
    text-align: center;
}
table td{
    text-align: center;
}
.table tbody tr:last-child td{
    border:none
}
.meridiem .pg-select-selection{
    background: transparent !important;
}
.fa-clone:hover{
    color:#00aae7;
    cursor: pointer;
}