
<pg-container>
  
        <pg-breadcrumb>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Timesheets</li>
          </ol>
        </pg-breadcrumb>  
      </pg-container>

     

<!-- 
  <pg-container>    
    <div class="card card-default p-3">
      <div class="row">
        <div class="col-lg-3 float-left"> 
           <a href="/timesheet-history">
            <button class="btn btn-info btn-cons float-left" >
                <i class="fa fa-history"></i> History</button>
          </a>   
         </div>
        <div class="col-lg-6"></div>
        <div class="col-lg-3 float-right"> 
            
             <button class="btn btn-primary btn-cons float-right">
                <i class="fa fa-gavel"></i> Approve</button> 
       </div>
        </div>
      </div>
  </pg-container>
 -->

<pg-container>
  <div class="card card-default p-3">
        <div class="row mt-2">
            <!-- <div class="col-lg-2"></div>        -->
                <div class="col-lg-3">
                  <div class="form-group form-group-default input-group col-md-12">
                    <div class="form-input-group">
                      <label> Date</label>
                      <pg-datepicker></pg-datepicker>
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="fa fa-calendar"></i>
                        </span>
                    </div>
                  </div> 
                </div>
               
                <div class="col-lg-7">
                    <!-- <button class="btn btn-success btn-cons mt-2 mr-0" id="stickup_default" name="stickup_toggler" value="md" [(ngModel)]="stickUp.type" (click)="showStickUp()">                    <i class="fa fa-plus"></i> Add Timesheet</button> -->
                </div>

                <div class="col-lg-2 float-right">
                  <button [routerLink]="'/timesheets-2'" class="btn btn-primary" style="height: 56px;width:100%;border-radius: 0;font-size: 15px;">
                    <i class="fa fa-history"></i> History
                  </button>
          
                </div>

                <!-- <div class="col-lg-2 float-right">
                    <a href="/timesheet-history" class="">
                      <button class="btn btn-info mt-2 float-lg-right" >
                          <i class="fa fa-history"></i> History</button>
                    </a>  
                </div> -->
                <!-- <div class="col-lg-2"></div>      -->
                
              </div>

   
           

   
  </div>
</pg-container>


<pg-container> 
<div class="row mt-2">
    <div class="col-md-3 pl-3 pt-1 pr-3 pb-2" *ngFor="let day of days">
        <ngx-flip [flip]="day.flip" class="card card-default text-center" style="min-height: 190px;padding:10px;"> 
            <div front  style="background-color: white" class="player pt-3">
                <div class="text-center">                    
                    <button style="margin-top:-10px;" class="btn btn-info"  *ngIf="day.status!=''" >{{day.status}}</button>

                    <h4 class="day-name text-uppercase">{{day.name}}</h4>
                    <p>{{day.date}}</p>
                    <a style="display:block">
                       <button class="btn btn-primary" (click)="flipa(day)">Fill timesheet</button>
                    </a>
                  
                </div>
           </div>
        
            <div back style="background-color: white">
                <div class="back">
                    <a  (click)="flipa(day)" class="cross-close">
                        <i class="fa fa-close"></i>
                    </a>
                    <a style="display:block"><button class="btn btn-info w-50" (click)="fullday(day)">Full Day</button></a>
                    <a style="display:block"><button class="btn btn-info mt-2 w-50" (click)="halfday(day)">Half Day</button></a>
                    
                    <a style="display:block"><button class="btn btn-info mt-2 w-50" (click)="leave(day)">Leave</button></a>
                    <!-- <a style="display:block"><button class="btn btn-info mt-2 w-50" (click)="holiday(day)">Holiday</button></a> -->
                   
                    <!-- <a class="text-center" ngbButton >
                        <i class="fa fa-arrow-circle-left mt-2" style="font-size:25px;"></i>
                     </a>             -->
                </div>
               
            </div>
          </ngx-flip> 
    </div>
    
    
    <div class="col-lg-3 pl-3 pt-1 pr-3 pb-2">            
                <div class="card card-default text-center" style="min-height: 190px;padding:10px;">
                    <div class="col-lg-12 mt-3">
                        <a style="display:block">
                           <button class="btn btn-primary col-lg-12" (click)="markRegular()" style="min-width:135px;">Mark as Regular</button>
                          </a>
                    </div>
                    <div class="col-lg-12 mt-3">
                        <a style="display:block">
                          <button class="btn btn-primary col-lg-12" [disabled] = "!showUnmark" (click)="unMark()"  style="min-width:135px;">Unmark Selected</button>
                        </a>
                  </div>
                  <div class="col-lg-12 mt-3">
                      <a style="display:block">
                        <button class="btn btn-primary col-lg-12" [disabled]="!showSubmit" (click)="submit()"  style="min-width:135px;">Submit Timesheets</button>
                      </a>
                  </div>
                </div>
          
  </div>
</div> 
</pg-container>



<div bsModal #mdStickUp="bs-modal" class="modal fade stick-up" role="dialog" style="z-index: 5555 !important;">
        <div class="modal-dialog modal-{{stickUp.type}}" style="top:50px;min-width:800px;">
          <div class="modal-content">
            <div class="modal-header clearfix text-left">
              <button type="button" class="close" (click)="mdStickUp.hide()" aria-hidden="true"><i class="pg pg-close fs-14"></i>
              </button>
              <h4> <span class="semi-bold">Add TimeSheet</span></h4>
              <!-- <p>We need payment information inorder to process your order</p> -->
            </div>
            <div class="modal-body">
            
              <div class="row mt-2">
                    <div class="col-lg-12">                      
                        <p>Please select any one choice</p>                        
                    </div>
                    
              </div>

              <!-- <div class="row">
                <div class="radio radio-success">
                  <input type="radio" value="yes" name="optionyes" id="yes">
                  <label for="yes">This week</label>
                  <input type="radio" checked="checked" value="no" name="optionyes" id="no">
                  <label for="no">Previous Week</label>
                </div>
              </div> -->
              <div class="row">                   
                    <div class="col-lg-6">
                        <!-- <div class="radio radio-success">
                            <input type="radio" checked="checked" value="yes" name="optionyes" id="yes">
                            <label for="yes">This week</label>                            
                          </div> -->
                        <div class="form-group form-group-default input-group">
                            <div class="form-input-group">
                              <label>Submit Time Sheet for this week</label>
                              <pg-datepicker></pg-datepicker>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text">
                                  <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                          </div>
                    </div>

                    <div class="col-lg-6">
                       <!-- <div class="radio radio-success"> 
                        <input type="radio" value="no" name="optionyes" id="no">
                        <label for="no">Previous Week</label>
                        </div> -->
                        <div class="form-group form-group-default input-group">
                            <div class="form-input-group">
                              <label>Previous week starting on :</label>
                              <pg-datepicker></pg-datepicker>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text">
                                  <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                          </div>
                    </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                    <div class="mt-2 pull-right" style="margin-left:-10px;">
                        <button class="btn btn-primary" href="timesheets">Submit Timesheet</button>
                    </div>
                </div>
              </div>
                
                
                                
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
