
.player {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    min-height: 135px;
   
}

    .player .back {

        // background: #222;
        // color: #FFF;
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        
    }
.cross-close{
    position: absolute;
    top:5px;
    right:10px;
    i{
        font-size: 15px;
        cursor: pointer;
        color: #c1bfbf;
    }
}

.back{
    margin-top:23px;
}
.day-name{
    color: #232527;
    font-weight: 400;
}