<pg-container>
  <pg-breadcrumb>
      <ol class="breadcrumb" style="padding-left: 10px;padding-top:20px;">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Timesheets</li>
      </ol>
  </pg-breadcrumb>
</pg-container>

<pg-container>
  <div class="heading">
      <i class="fa fa-clock-o" aria-hidden="true"></i><span
          class="heading_title">timesheets</span>
  </div>
  <div class="time-info">
      <button class="time-info_date">Today</button>

      <div class="time-info_nav">
          <div class="time-info_nav-bg">
              <div class="time-info_nav-icon">
                  <i class="fa fa-angle-left
                      time-info_nav-icon--group"></i>
                  <i class="fa fa-angle-right
                      time-info_nav-icon--group"></i>
              </div>
              <div class="time-info_nav-text" style="    font-size: 13px;">
                  Jun 03 - Jun 09
              </div>
              <div class="time-info_nav-datepicker">
                  <i class="fa fa-calendar
                      time-info_nav-datepicker-group"
                      aria-hidden="true"></i>
              </div>
          </div>
      </div>

      <div class="switch-outer">
          <span class="switch"  *ngFor="let data of switch;let i = index" (click)="switches(i)">{{data}}</span>
          
      </div>
  </div>


</pg-container>
<div  style="margin: 0 auto;width: 94%;margin-top:50px;">
  <div class="boxes-container">
          <div class="forover" [style.transform]='css' >
              {{innerValue}}
              </div>
      <div class="TimeBar-style__day___2nz5T" *ngFor="let data of data.slice(startValue,endValue);let i = index " (click)="show(i)">
          <div class="TimeBar-style__name___QVRwW">
              <span>{{data}}</span>
          </div>
      </div>
  
  </div>


  <div class="box" style="    position: relative;
  background: white;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  margin-top: 45px;
  padding: 25px 20px 15px;">
    <div class="arrow" [style.left]="arrow">

    </div>



  <div class="row">
    <div class="col-md-3">
      <div class="form-group form-group-default">
        <label>Applied By</label>
        <input type="text"  value="Rajeev Gottimukkala" class="form-control">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group form-group-default">
        <label>Project</label>
        <input type="text"  value="Internal" class="form-control">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group form-group-default">
        <label>In-Time</label>
        <input type="text"  value="2:00 PM" class="form-control">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group form-group-default">
        <label>Out-Time</label>
        <input type="text"  value="11:00 PM" class="form-control">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group form-group-default">
        <label>Duration</label>
        <input type="text"  value="8 Hrs" class="form-control">
      </div>
    </div>
  </div>
  </div>
</div>



<!-- 
<button (click)="left()">Left</button>
<button (click)="right()">Right</button> -->