.TimeBar-style__day___2nz5T {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
    height: 80px;
    border: 1px solid lightgray;
    font-family: "Soleil", sans-serif;
    cursor: pointer;
    user-select: none;
    min-width: 14%;
}

.TimeBar-style__day___2nz5T .TimeBar-style__name___QVRwW {
    position: relative;
    z-index: 4;
    font-size: 1.6rem;
    font-family: "Soleil Light", sans-serif;
    transition: color 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.TimeBar-style__name___QVRwW span {
    display: inline-block;
    transform: translateY(0.1em);
    -moz-transform: none;
    font-size: 18px;
    color: gray;
}
body{
    background: #f4f6fa;
}
.boxes-container{
    display: flex;
    position: relative;
}
.TimeBar-style__day___2nz5T{
    background: white;
}
.forover{
    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
    height: 100px;
    top: -10px;
    background-color: #4c72f4;
    width: 16%;
    box-shadow: 0 5px 13px 0 rgba(0, 55, 234, 0.35);
    z-index: 111;
    /* opacity: 0.5; */
    // transform: translateX(309%);
    border-radius: 6px;
    left:-1%;
    transition: ease-in-out 600ms;
    color:white;
    font-size: 20px;

}
.arrow{
    width: 20px;
    height: 20px;
    background: #fff;
    border-style: solid;
    border-color: #6d8eff;
    border-width: 1px 0 0 1px;
    transform: rotate(45deg);
    position: absolute;
    top: -10px;
    transition: ease-in-out 800ms;
}












.page-container {
    padding: 15px 0px 15px 15px;
}

.heading {
    border-bottom: 1px solid #DCDCDC;
    padding: 5px;
    .fa-clock-o {
        font-size: 36px;
        margin-right: 10px;
    }
    &_title {
        font-size: 24px;
        text-transform: capitalize;
    }
}

.time-info {
    margin-top: 30px;
    display: flex;
    flex: 1;
    align-items: center;
    &_date {
        border: 1px solid #eee;
        background-color: #fff;
        padding: 10px 20px;
        border-radius: 100px;
        font-weight: 700;
        font-size: 13px;
        color: #00aae7;
        text-transform: uppercase;
        margin-right: 30px;
        cursor: pointer;
        transition: all 0.2s;
        &:focus {
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3) !important;
            transform: scale(1.1);
        }
    }
    &_nav {
        display: flex;
        flex: 1;
        align-items: center;
        &-bg {
            background-color: #fff;
            padding: 5px;
            border-radius: 100px;
            color: #232527;
            font-weight: 700;
            display: flex;
        }
        &-icon {
            &--group {
                font-size: 15px;
                background-color: #f2f2f2;
                border: 1px solid #eee;
                border-radius: 100px;
                padding: 5px 10px;
                height: 30px;
                width: 30px;
                font-weight: 700;
                &:not(:last-child) {
                    margin-right: 5px;
                }
            }
        }
        &-text {
            padding: 0px 30px;
            font-size: 18px;
            align-self: center;
        }
        &-datepicker {
            color: #00aae7;
            font-size: 15px;
            background-color: #f2f2f2;
            border: 1px solid #eee;
            border-radius: 100px;
            padding: 3px 7px 5px;
            height: 30px;
            width: 30px;
            font-weight: 700;
        }
    }
    &_toggle {
        background-color: #fff;
        border: 1px solid #eee;
        border-radius: 100px;
        padding: 7px 15px;
        position: relative;
        &-members {
            font-size: 15px;
            font-weight: 700;
            cursor: pointer;
            &:hover {
                color: #00aae7;
            }
            &:not(:last-child) {
                padding-right: 15px;
            }
        }
    }
}

.switch{
   
    text-align: center;
    padding: 5px 15px;
    cursor: pointer;
 
}
.switch.active{
     background: #232527;
     border-radius: 15px;
     color:white;
     transition: ease-in-out 600ms;
}
.switch-outer{
    background: white;
    padding: 10px;
    border-radius: 18px;
}

