<pg-container>

    <pg-breadcrumb>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Time Sheets</a>
        </li>
        <li class="breadcrumb-item active">Approvals</li>
      </ol>
    </pg-breadcrumb>
  </pg-container>
  
  <pg-container>
  
    <div class="card card-default p-3" style="padding-bottom: 5px !important;margin-bottom:15px !important">
      <div class="row">
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group form-group-default form-group-default-select2">
                <label class="">Year</label>
                <pg-select style="width: 100%;" [(ngModel)]="selectedCity" [PlaceHolder]="'Select Year'" AllowClear ShowSearch>
                  <pg-option *ngFor="let option of year" [Label]="option.label" [Value]="option" [Disabled]="option.disabled">
                  </pg-option>
                </pg-select>
              </div>
            </div>
            
  
            <div class="col-md-3">
              <div class="form-group form-group-default form-group-default-select2">
                <label class="">Month</label>
                <pg-select style="width: 100%;" [(ngModel)]="selectedCity" [PlaceHolder]="'Select Month'" AllowClear ShowSearch>
                  <pg-option *ngFor="let option of month" [Label]="option.label" [Value]="option" [Disabled]="option.disabled">
                  </pg-option>
                </pg-select>
              </div>
            </div>
  
            <div class="col-md-3">
              <div class="form-group form-group-default form-group-default-select2">
                <label class="">Team Member</label>
                <pg-select style="width: 100%;" [(ngModel)]="selectedCity" [PlaceHolder]="'Select Team Member'" AllowClear ShowSearch>
                  <pg-option *ngFor="let option of teamMembers" [Label]="option.label" [Value]="option" [Disabled]="option.disabled">
                  </pg-option>
                </pg-select>
              </div>
            </div>
  
            <div class="col-md-3">
              <div class="form-group form-group-default form-group-default-select2">
                <label class="">Status</label>
                <pg-select style="width: 100%;" [(ngModel)]="selectedCity" [PlaceHolder]="'Select Option'" AllowClear ShowSearch>
                  <pg-option *ngFor="let option of Status" [Label]="option.label" [Value]="option" [Disabled]="option.disabled">
                  </pg-option>
                </pg-select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary" style="height: 56px;width:100%;border-radius: 0;font-size: 15px;">
            Search
          </button>
        </div>
  
      </div>
    </div>
  
  
    <div class="card card-default p-3">
  
      <div class="row">
        <div class="col-md-12">
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="name">Applied By</th>
                <th>Start Date</th>
                <th>End Date</th> 
                <th>Submitted Date</th> 
                <th>Billable hrs</th>                             
                <th>Status</th>
               
                <th>Action</th>              
              </tr>
            </thead>
           
            <tbody>
              <tr *ngFor="let data of Timesheetsapproval;let i = index;">
                <td class="name" (click)="showApproval()">
                  {{data.name}}
                </td>
                <td class="start" (click)="showApproval()">
                  {{data.startDate|date: mediumDate}}
                </td>
                <td class="end" (click)="showApproval()">
                  {{data.endDate|date: mediumDate}}
                </td>
              <td class="submitteddate" (click)="showApproval()">
                {{data.submittedDate|date: mediumDate}}
              </td>
              <td class="billable" (click)="showApproval()">
                  {{data.billable}}hrs
                </td>
                <td class="status" (click)="showApproval()">
                  <p class="label label-success" style="padding:5px 10px;width:80px;margin:0 auto" [ngStyle]="{'background-color':getStatus(data.status)}">
                    {{data.status}}
                  </p>
                </td>
               <td *ngIf="!showStatus(data.status)">                 
                    <button class="check" (click)="createNotificationForApprove();mdSlideUpApproveLeave.hide();addApprovel(i)" tooltip="Approve" placement="bottom"><i class="fa fa-check"></i></button>
                    <button class="times" (click)="showReject();opacity=0;" tooltip="Reject" placement="bottom"><i class="fa fa-times"></i></button>
                
                </td>
               <td *ngIf="showStatus(data.status)">
                  No actions
               </td>
                <!-- <td class="controls">
                      <i class="fa fa-edit" (click)="showLeaveEdit()" style="font-size:18px;vertical-align:bottom "></i>
                      <i class="fa fa-trash pl-2" (click)="showSlideUpDelete()" style="font-size: 18px"></i>
                    </td> -->
              </tr>
              <tr *ngFor="let data of Timesheetsapproval1;">
                  <td class="name" (click)="showApproval1()">
                    {{data.name}}
                  </td>
                  <td class="start" (click)="showApproval1()">
                    {{data.startDate|date: mediumDate}}
                  </td>
                  <td class="end" (click)="showApproval1()">
                    {{data.endDate|date: mediumDate}}
                  </td>
                <td class="submitteddate" (click)="showApproval1()">
                  {{data.submittedDate|date: mediumDate}}
                </td>
                <td class="billable" (click)="showApproval1()">
                    {{data.billable}}hrs
                  </td>
                  <td class="status" (click)="showApproval1()">
                    <p class="label label-success" style="padding:5px 10px;width:80px;margin:0 auto" [ngStyle]="{'background-color':getStatus(data.status)}">
                      {{data.status}}
                    </p>
                  </td>                
                 <td>
                    No actions
                 </td>
                  <!-- <td class="controls">
                        <i class="fa fa-edit" (click)="showLeaveEdit()" style="font-size:18px;vertical-align:bottom "></i>
                        <i class="fa fa-trash pl-2" (click)="showSlideUpDelete()" style="font-size: 18px"></i>
                      </td> -->
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </pg-container>
  
  <!-- approve modal -->
  
  <div bsModal #mdSlideUpApproveLeave="bs-modal" class="modal fade slide-up disable-scroll" tabindex="-1"
    role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-lg" style="width:750px !important">
      <div class="modal-content-wrapper"  [style.opacity]="opacity" >
        <div class="modal-content">
          <div class="modal-header clearfix text-left">
            <button type="button" class="close" (click)="mdSlideUpApproveLeave.hide()" aria-hidden="true">
              <i class="pg pg-close fs-14"></i>
            </button>
            <h5>
              <span class="semi-bold">Time Sheet Information</span>
            </h5>
            <p class="p-b-10">Please check the Time Sheet Information</p>
            <!-- <p class="p-b-10">Please change the required information and save</p> -->
          </div>
          <div class="modal-body">
  
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-group-default">
                  <label>Applied By</label>
                  <input type="text" disabled value="Aditya" class="form-control">
                  <!-- <i (click)="showLeaveHistory();opacity=0" class="fa fa-clock-o" style="cursor: pointer;color: #2d8fbd"></i> -->
                </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group form-group-default input-group">
                      <div class="form-input-group">
                        <label>Submitted date</label>
                        <pg-datepicker [(ngModel)]="subDate"></pg-datepicker>
                      </div>
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="fa fa-calendar"></i>
                        </span>
                      </div>
                    </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-4">
                <div class="form-group form-group-default input-group">
                  <div class="form-input-group">
                    <label>Start</label>
                    <pg-datepicker [(ngModel)]="startDate"></pg-datepicker>
                  </div>
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group form-group-default input-group">
                    <div class="form-input-group">
                      <label>End</label>
                      <pg-datepicker [(ngModel)]="endDate"></pg-datepicker>
                    </div>
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="fa fa-calendar"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-group-default">
                      <label>Total Billable (hrs)</label>
                      <input type="text" disabled value="16hrs" class="form-control">
                    </div>
                  </div>
              
  
  
            
  
            
  
  
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group form-group-default text-left pb-3">
                      <label class="mb-1">Vacation</label>
                      <span *ngFor="let data of vacationtags" class="label label-inverse mr-1" style="padding:5px 10px;width:80px;">
                          {{data}}
                       </span>
                    </div>
                  </div>
                <div class="col-md-6">
                    <div class="form-group form-group-default text-left pb-3">
                      <label class="mb-1">Comptime</label>
                      <span *ngFor="let data of comptimetags" class="label label-inverse mr-1" style="padding:5px 10px;width:80px;">
                          {{data}}
                       </span>
                    </div>
                  </div>
                
                  
                    <!-- <div class="col-md-6">
                        <div class="form-group form-group-default text-left pb-3">
                          <label>Holiday (hrs)</label>
                          <input type="text" disabled value="0" class="form-control">
                        </div>
                      </div>            -->
              
  
            </div>
           
  
  
            <div class="row">
              <div class="col-md-8 m-t-10 sm-m-t-10">
               
                <button style="float: left" (click)="showReject();opacity=0" type="button" class="btn btn-danger miracle-submit m-t-5">Reject</button>
  
              </div>
              <div class="col-md-4 m-t-10 sm-m-t-10">
                <button (click)="createNotificationForApprove();mdSlideUpApproveLeave.hide();" type="button" class="btn btn-primary miracle-submit m-t-5">Approve</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
  </div>

  
  <!-- approve modal -->
  
<!-- approve modal with reject message -->

<div bsModal #mdSlideUpApproveLeave1="bs-modal" class="modal fade slide-up disable-scroll" tabindex="-1"
    role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-lg" style="width:750px !important">
      <div class="modal-content-wrapper"  [style.opacity]="opacity" >
        <div class="modal-content">
          <div class="modal-header clearfix text-left">
            <button type="button" class="close" (click)="mdSlideUpApproveLeave1.hide()" aria-hidden="true">
              <i class="pg pg-close fs-14"></i>
            </button>
            <h5>
              <span class="semi-bold">Time Sheet Information</span>
            </h5>
            <p class="p-b-10">Please check the Time Sheet Information</p>
            <!-- <p class="p-b-10">Please change the required information and save</p> -->
          </div>
          <div class="modal-body">
  
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-group-default">
                  <label>Applied By</label>
                  <input type="text" disabled value="Aditya" class="form-control">
                  <!-- <i (click)="showLeaveHistory();opacity=0" class="fa fa-clock-o" style="cursor: pointer;color: #2d8fbd"></i> -->
                </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group form-group-default input-group">
                      <div class="form-input-group">
                        <label>Submitted date</label>
                        <pg-datepicker [(ngModel)]="subDate"></pg-datepicker>
                      </div>
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="fa fa-calendar"></i>
                        </span>
                      </div>
                    </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-4">
                <div class="form-group form-group-default input-group">
                  <div class="form-input-group">
                    <label>Start</label>
                    <pg-datepicker [(ngModel)]="startDate"></pg-datepicker>
                  </div>
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group form-group-default input-group">
                    <div class="form-input-group">
                      <label>End</label>
                      <pg-datepicker [(ngModel)]="endDate"></pg-datepicker>
                    </div>
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="fa fa-calendar"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-group-default">
                      <label>Total Billable (hrs)</label>
                      <input type="text" disabled value="16hrs" class="form-control">
                    </div>
                  </div>
              
  
  
            
  
            
  
  
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group form-group-default text-left pb-3">
                      <label class="mb-1">Comptime</label>
                      <span *ngFor="let data of comptimetags" class="label label-inverse mr-1" style="padding:5px 10px;width:80px;">
                          {{data}}
                       </span>
                    </div>
                  </div>
                
                  <div class="col-md-6">
                      <div class="form-group form-group-default text-left pb-3">
                        <label class="mb-1">Vacation</label>
                        <span *ngFor="let data of vacationtags" class="label label-inverse mr-1" style="padding:5px 10px;width:80px;">
                            {{data}}
                         </span>
                      </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group form-group-default text-left pb-3">
                          <label>Reason for Rejection</label>
                          <input type="text" disabled value="You have kept dates wrong please check" class="form-control">
                        </div>
                      </div>           
              
  
            </div>
           
  
  
            <div class="row">
              <div class="col-md-8 m-t-10 sm-m-t-10">
               
                <!-- <button style="float: left" (click)="showReject();opacity=0" type="button" class="btn btn-danger miracle-submit m-t-5">Reject</button> -->
  
              </div>
              <div class="col-md-4 m-t-10 sm-m-t-10">
                <button (click)="mdSlideUpApproveLeave1.hide();" type="button" class="btn btn-primary miracle-submit m-t-5">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
  </div>
<!-- approve midal with rejet message -->
  
  <!-- reject modal -->
  <div bsModal #mdSlideUpRejectLeave="bs-modal" class="modal fade slide-up disable-scroll" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-md">
      <div class="modal-content-wrapper">
        <div class="modal-content">
            
  
          <div class="modal-body text-center m-t-20">
            <h4 class="no-margin text-left p-b-10">Are you sure you want to reject the Timesheet request?</h4>
            <div class="row"> 
              <div class="col-md-12">
                <div class="form-group form-group-default">
                  <label style="text-align:left">Reason for Rejection</label>
                  <textarea type="text" rows="4" placeholder="Please mention the reason for rejecting the Timesheet" class="form-control"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <button class="btn btn-success btn-cons float-left" (click)="mdSlideUpRejectLeave.hide();opacity=1" type="button">Close</button>
              </div>
              <div class="col-md-6">
                <button class="btn btn-danger btn-cons float-right" (click)="createNotificationForReject();mdSlideUpRejectLeave.hide();mdSlideUpApproveLeave.hide();opacity=1"
                  type="button">Reject</button>
  
              </div>
  
            </div>
          </div>
  
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
  </div>
  

  
  
  