h4,.lockscreen-text h3{color:#FFF !important;}
.text-primary{color:#00aae7 !important;}
.col-md-10 p{
    color:#a9a7a7;
}
.button-lock{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-radius: 0;
}