<div class="" style="background:url('assets/img/bg-login.jpg');background-size:cover;width:100%;height:100%">


  <div class="full-height sm-p-t-20 align-items-center d-md-flex">
    <div class="align-items-center" style="background-color:#282828;opacity:0.9;margin:0px auto;padding:25px;width:28%;">
      <div class="row">

        <div class="col-md-12 text-center">
          <img src="assets/img/miracle-logo-white.svg" width="150px">
        </div>

        <div class="col-md-12 text-center">
          <h4>Enter your password to continue</h4>
        </div>

      </div>

      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
         
          <img class="align-items-center thumbnail-wrapper circular" width="75px" height="75px" pgRetina alt="" src="assets/img/profiles/4x.jpg">
        </div>
        <div class="col-md-4"></div>
      </div>
      <h4 class="text-center" style="color:white;" >Rajeev Gottimukkala</h4>

      <div class="row mt-2">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="form-group form-group-default sm-m-t-30  mt-1 border-0" style="height: 80%;border-radius:0">
            <input style="padding-top:7px;" type="password" name="password" placeholder="Enter password to unlock" class="form-control"
              required>

            <button class="btn btn-primary button-lock" type="button">
              <i class="fa fa-arrow-right"></i>
            </button>
          </div>
          <!--           
          <div class="btn-group">                
              <button class="btn btn-success" type="button"><i class="fa fa-arrow-right"></i></button>
            </div> -->
        </div>


        <div class="col-md-1"></div>


      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 mt-1">
          <a href="/login" class="inline text-primary fs-14 hint-text">Not Rajeev?</a>
        </div>
        <!-- <div class="col-md-5 mr-0 pr-0"> -->
        <!-- <a href="javascript:void(0)" class="inline text-white fs-14 "><i class="pg pg-mail"></i>&nbsp;<span class="hint-text">12</span></a> -->
        <!-- <a href="javascript:void(0)" class="inline text-white  fs-14 m-l-20"><i class="pg pg-comment"></i>&nbsp;<span class="hint-text">4</span></a> -->

        <!-- </div> -->

        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-10 text-center mt-3">
          <p>&copy; 2019 Miracle Software Systems, Inc.</p>
        </div>
        <div class="col-md-1"></div>

      </div>


    </div>

  </div>
</div>

<style>
  .lockscreen-text h5,
  .lockscreen-text h3 {
    color: #FFF;
  }
</style>