<div class="social-wrapper">
  <div class="users-image">
    <div style="position: relative">
      <img src="https://www.miraclesoft.com/images/employee-profile-pics/{{userDetails.LoginId}}.png" onError="this.src='https://www.miraclesoft.com/images/employee-profile-pics/NoImage_male.png';" alt="User Avatar" class="rounded-circle user-avatar">
    </div>
  </div>
  <div class="social " data-pages="social">
    <!-- START JUMBOTRON -->
    <div class="jumbotron" data-social="cover" coverpage>
      <div class="cover-photo" pg-parallax [ngStyle]="{'background-image': 'url(https://images.pexels.com/photos/953214/pexels-photo-953214.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)'}">

      </div>
      <div class="{% if mode =='horizontal_menu' %} container  {% else %} container-fluid {% endif %}  container-fixed-lg sm-p-l-0 sm-p-r-0">
        <div class="inner">

          <div class="pull-bottom bottom-left m-b-40 sm-p-l-15">

            <h1 class="text-white no-margin">
              <span class="semi-bold">{{userDetails.FName + " "}}</span>{{userDetails.LName}}</h1>
            <h5 class="text-white no-margin text-right">{{userDetails.TitleTypeId}} <span *ngIf='!((userDetails.TitleTypeId === null) || (userDetails.TitleTypeId === "") || (userDetails.HireDate === null) || (userDetails.HireDate === ""))'>- Since </span> {{userDetails.HireDate | date:'MMMM dd, yyyy '}}</h5>

          </div>

          <button *ngIf='userDetails.EmpId === currentUserId'  [routerLink]="['/dashboard/my-profile']" style="position: absolute;background:#ffffff;
          right: 0; bottom: 15px; padding: 5px 10px;" placement="left" tooltip="View as me" class="btn m-b-10"
            type="button">
            <i class="fa fa-user" style="color:#232527;" ></i>
          </button>
        </div>
      </div>
    </div>
    <div class="container-fluid container-fixed-lg sm-p-l-0 sm-p-r-0 " style="margin-top:80px;">

      <div class="row">
        <div class="col-md-3">
          <div class="card social-card share  col1" data-social="item" style="width: 100%">
            <div class="" data-toggle="tooltip" title="Label" data-container="body">
            </div>

            <div class="card-description">
              <p class="desc" *ngIf='!((userDetails.HireDate === null) || (userDetails.HireDate === ""))'>
                <i class="fa fa-calendar"></i>
                
                <span >Since {{userDetails.HireDate | date:'MMMM dd, yyyy'}}</span>
              </p>
              <!-- *ngIf='!((userDetails.TitleTypeId === null) || (userDetails.TitleTypeId === "") || (userDetails.HireDate === null) || (userDetails.HireDate === ""))' -->
              <!-- <p class="desc">  <i class="fa fa-suitcase"></i><span>Web Master</span> </p> -->
              <p class="desc" *ngIf='!((userDetails.Location === null) || (userDetails.Location === ""))'>
                <i class="fa fa-map-marker"></i>
                <span>{{userDetails.Location}}</span>
              </p>
              <p class="desc" *ngIf='!((userDetails.LoginId === null) || (userDetails.LoginId === ""))'>
                <i class="fa fa-envelope"></i>
                <span>
                  <a style="color:#575757" href={{userDetails.Email1}}>{{userDetails.LoginId}}</a>
                </span>
              </p>
              <p class="desc" *ngIf='!((userDetails["WorkPhoneNo"] === null) || (userDetails["WorkPhoneNo"] === ""))'>
                <i class="fa fa-volume-control-phone"></i>
                <span>{{userDetails['WorkPhoneNo']}}</span>
              </p>
              <p class="desc" *ngIf='!((userDetails.HomePhoneNo === null) || (userDetails.HomePhoneNo === ""))'>
                <i class="fa fa-phone"></i>
                <span>{{userDetails.HomePhoneNo}}</span>
              </p>
              <p class="desc" *ngIf='!((userDetails.BirthDate === null) || (userDetails.BirthDate === ""))'>
                <i class="fa fa-birthday-cake"></i>
                <span>{{userDetails.BirthDate | date: 'd'}}<sup>{{userDetails.BirthDate | date: 'd' | datesS}}</sup>{{userDetails.BirthDate | date: 'LLL, yyyy'}}</span>
                <!-- {{​userDetails.BirthDate}} -->
              </p>

              <p class="desc">
                <a *ngIf='!((userDetails.LinkedIn === null) || (userDetails.LinkedIn === ""))' href={{userDetails.LinkedIn}}  target="_blank" ><i class="fa fa-linkedin"></i></a>
                <!-- <i class="fa fa-google-plus"></i> -->
                <a href={{userDetails.Facebook}} *ngIf='!((userDetails.Facebook === null) || (userDetails.Facebook === ""))' target="_blank"><i class="fa fa-facebook"></i></a>
                <a href={{userDetails.Twitter}}  target="_blank" *ngIf='!((userDetails.Twitter === null) || (userDetails.Twitter === ""))'><i class="fa fa-twitter"></i></a>
                <a href={{userDetails.Instagram}}  target="_blank" *ngIf='!((userDetails.Instagram === null) || (userDetails.Instagram === ""))'><i class="fa fa-instagram"></i></a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="card social-card share  col1" data-social="item" style="width: 100%">
            <div class="circle" data-toggle="tooltip" title="Label" data-container="body">
            </div>
            <div class="card-header clearfix">

              <h5>About me</h5>
<!--  -->
            </div>
            <div class="card-description">
              <p *ngIf='userDetails.AboutMe != ""; else NoData' >{{userDetails.AboutMe}}</p>
              <ng-template #NoData><p>{{userDetails.FName + " " + userDetails.LName}} hasn't added this field</p></ng-template>
            </div>
          </div>

          <!-- <div class="card social-card share  col1" data-social="item" style="width: 100%">
            <div class="circle" data-toggle="tooltip" title="Label" data-container="body">
            </div>
            <div class="card-header clearfix">

              <h5>Certifications</h5>

            </div>
            <div class="card-description">

                <div class="col-md-12 pl-0" style="display:inline-flex">
                    <div>
                      <img style="height:60px;width:60px" src="assets/img/google.png" alt="">
                    </div>
                    <div style="padding-top:5px;padding-left:10px">
                      <label for="" class="for-label">Google Web and Mobile Developer</label>
                      <p class="for-text">By Google -
                        <a style="color:#0d416b" (click)="showSlideUp('Employment')"><strong>View</strong></a>
                      </p>
                    </div>  
                  </div>
                  <div class="col-md-12 pl-0 pt-2" style="display:inline-flex">
                      <div>
                        <img style="height:60px;width:60px" src="assets/img/ibm.png" alt="">
                      </div>
                      <div style="padding-top:5px;padding-left:10px">
                        <label for="" class="for-label">
                          IBM Certified System Administrator - WebSphere Application Server Network </label>
                          <p class="for-text">By IBM    
                          </p>
                      </div>
                    </div>

            </div>
          </div> -->

          <div class="card social-card share  col1" data-social="item" style="width: 100%">
            <div class="circle" data-toggle="tooltip" title="Label" data-container="body">
            </div>
            <div class="card-header clearfix">

              <h5>Skill Set</h5>

            </div>
            <div class="card-description">
              <span *ngIf='userDetails.SkillSet !=null? (userDetails.SkillSet.length>0? true: false) : false; else NoSkills'>
                <span *ngFor='let skill of userDetails.SkillSet; let i = index'>
                  <a href="" class="label label-miracle-dark mr-2" [ngClass]='[i%2 === 0 ? "label label-miracle-dark mr-2": "label label-miracle-light mr-2"]'>{{skill}}</a>
                </span>
              </span>
              <ng-template #NoSkills>
                  <p>
                      {{userDetails.FName + " " + userDetails.LName}} hasn't added any skills yet
                  </p>
              </ng-template>
            </div>
          </div>

        </div>
      </div>







    </div>
  </div>

  <!-- Modal -->
<div bsModal #mdSlideUp="bs-modal" class="modal fade slide-up disable-scroll" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content-wrapper">
      <div class="modal-content">
          <div class="modal-header clearfix text-left pl-2 pb-2">
           
              <h5>
                <span class="semi-bold">Google Mobile and Web Developer</span>
              </h5>
             
            </div>
        <div class="modal-body pb-2">
       <div class="row">
         <img class="img-responsive" height="500px" width="100%" src="https://images.pexels.com/photos/48148/document-agreement-documents-sign-48148.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
       </div>
          <div class="row">

            <div class="col-md-8">
              <div class="p-t-20 clearfix p-l-10 p-r-10">
           
              </div>
            </div>
            <div class="col-md-4 m-t-10 sm-m-t-10 p-0 ">
              <button  (click)="mdSlideUp.hide()" style="width:120px;float:right" type="button" class="btn btn-primary btn-block ">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
<!-- /.modal-dialog -->