<div style="background:url('assets/img/bg-login.jpg');background-size:cover;width:100%;height:100%;margin:0px auto;min-width: 100%;min-height: 100%;">
  <div class="register-container full-height sm-p-t-30">
    <div class="d-flex justify-content-center flex-column full-height ">

      <img src="assets/img/miracle-logo-white.svg" width="200px" class="align-items-center">
      <h3 class="m-white-fg">Registration Details</h3>




      <!-- <p>
              Create a pages account. If you have a facebook account, log into it for this process. Sign in with 
              <a href="javascript:void(0)" class="text-info">Facebook</a> or <a href="javascript:void(0)" class="text-info">Google</a>
            </p> -->
      <form class="p-t-15" role="form" #registerForm="ngForm">
        <h5 class="m-white-fg">General Details</h5>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group form-group-default">
              <label>First Name</label>
              <input type="text" placeholder="John" class="form-control" id="txtfname" name="txtfname" required>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group form-group-default">
              <label>Last Names</label>
              <input type="text" placeholder="Smith" class="form-control" id="txtlname" name="txtlname" required>
            </div>

          </div>
          <div class="col-md-3">
            <div class="form-group form-group-default">
              <label>Middle Name</label>
              <input type="text" placeholder="Doe" class="form-control" id="txtmname" name="txtmname" required>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group form-group-default form-group-default-select2 required">
              <label class="">Gender</label>
              <pg-select [ngModelOptions]="{standalone: true}" style="width: 100%;" [(ngModel)]="selectedOption" [PlaceHolder]="'Select Option'"
                AllowClear ShowSearch>
                <pg-option *ngFor="let option of gender" [Label]="option.label" [Value]="option" [Disabled]="option.disabled">
                </pg-option>
              </pg-select>
            </div>



          </div>
        </div>

        <div class="row">

          <div class="col-md-3">

            <div class="form-group form-group-default form-group-default-select2 required">
              <label class="">Marital Status</label>
              <pg-select [ngModelOptions]="{standalone: true}" style="width: 100%;" [(ngModel)]="selectedOption" [PlaceHolder]="'Select Option'"
                AllowClear ShowSearch>
                <pg-option *ngFor="let option of maritialStatus" [Label]="option.label" [Value]="option" [Disabled]="option.disabled">
                </pg-option>
              </pg-select>
            </div>



          </div>
          <div class="col-md-3">
            <div class="form-group form-group-default">
              <label>SSN/PAN</label>
              <input type="text" placeholder="SSN/PAN" class="form-control" id="txtmname" name="txtmname" required>
            </div>
          </div>
          <div class="col-md-3">

            <div class="form-group form-group-default form-group-default-select2 required">
              <label class="">Country</label>
              <pg-select [ngModelOptions]="{standalone: true}" style="width: 100%;" [(ngModel)]="selectedOption" [PlaceHolder]="'Select Country'"
                AllowClear ShowSearch>
                <pg-option *ngFor="let option of country" [Label]="option.label" [Value]="option" [Disabled]="option.disabled">
                </pg-option>
              </pg-select>
            </div>

          </div>
          <div class="col-md-3">
            <div class="form-group form-group-default">
              <label>DOB</label>
              <input type="text" placeholder="mm/dd/yy" class="form-control" id="txtmname" name="txtmname" required>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group form-group-default">
              <label>Official DOB</label>
              <input type="text" placeholder="mm/dd/yy" class="form-control" id="txtmname" name="txtmname" required>
            </div>

          </div>
          <div class="col-md-4">
            <div class="form-group form-group-default">
              <label>Referred by</label>
              <input type="text" placeholder="Referred Name" class="form-control" id="txtmname" name="txtmname" required>
            </div>
          </div>
        </div>

        <h5 class="m-white-fg">Contact Details</h5>
        <div class="row">

          <div class="col-md-4">
            <div class="form-group form-group-default">
              <label>Work Phone</label>
              <input type="text" placeholder="Work Phone" class="form-control" id="txtfname" name="txtfname" required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group form-group-default">
              <label>Mobile</label>
              <input type="text" placeholder="Mobile" class="form-control" id="txtlname" name="txtlname" required>
            </div>

          </div>
          <div class="col-md-4">
            <div class="form-group form-group-default">
              <label>Home Phone</label>
              <input type="text" placeholder="Home Phone" class="form-control" id="txtmname" name="txtmname" required>
            </div>
          </div>
        </div>









        <div class="row m-t-0">
          <div class="col-lg-6">
            <div class="checkbox check-primary">
              <input type="checkbox" checked="checked" value="1" id="checkbox2">
              <label for="checkbox2">
                <span style="color: white">I agree to the </span>
                <a href="javascript:void(0)" class="text-primary">Pages Terms </a>
                <span style="color: white">and </span>
                <a href="javascript:void(0)" class="text-primary">Privacy</a>
              </label>
            </div> &nbsp;

          </div>
          <div class="col-lg-6"></div>

          <!-- <div class="col-lg-6 text-right">
                  <a href="javascript:void(0)" class="text-info small">Help? Contact Support</a>
                </div> -->
        </div>
        <button class="btn btn-primary  btn-cons m-t-10" type="submit" [class.disabled]="registerForm.invalid">Create a new account</button>
      </form>

    </div>
  </div>
  <!-- <div class=" full-width">
      <div class="register-container m-b-10 clearfix">
        <div class="m-b-30 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix d-flex-md-up">
          <div class="col-md-2 no-padding d-flex align-items-center">
            <img src="assets/img/demo/pages_icon.png" alt="" class="" pgRetina src1x="assets/img/demo/pages_icon.png" src2x="assets/img/demo/pages_icon_2x.png" width="60" height="60">
          </div>
          <div class="col-md-9 no-padding d-flex align-items-center">
            <p class="hinted-text small inline sm-p-t-10">No part of this website or any of its contents may be reproduced, copied, modified or adapted, without the prior written consent of the author, unless otherwise indicated for stand-alone materials.</p>
          </div>
        </div>
      </div>
    </div> -->

</div>