

<pg-container>

  <!-- Search Bar -->
  <div class="card card-default p-3" style="padding-bottom: 5px !important;margin-bottom:15px !important">
    <div class="row">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group form-group-default input-group">
              <div class="form-input-group">
                <label>Start</label>
                <pg-datepicker (ngModelChange)="_startDate=$event;_startValueChange()" Placeholder="Start Date" [ngModel]="_startDate" AllowClear ShowSearch [DisabledDate]="_disabledStartDate" [Format]="'YYYY-MM-DD'" ></pg-datepicker>
              </div>
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>
            </div>
          </div>
          

          <div class="col-md-3">
            <div class="form-group form-group-default input-group">
              <div class="form-input-group">
                <label>End</label>
                <pg-datepicker (ngModelChange)="_endDate=$event;_endValueChange()" Placeholder="End Date" [ngModel]="_endDate" AllowClear ShowSearch [DisabledDate]="_disabledEndDate" [Format]="'YYYY-MM-DD'"></pg-datepicker>
              </div>
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group form-group-default form-group-default-select2">
              <label class="">Team Member</label>
              <pg-select style="width: 100%;" [(ngModel)]="selectedEmployee" [PlaceHolder]="'Select Team Member'" AllowClear ShowSearch>
                <pg-option *ngFor="let option of teamMembers" [Label]="option.label" [Value]="option.value" [Disabled]="option.disabled">
                </pg-option>
              </pg-select>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group form-group-default form-group-default-select2">
              <label class="">Leave Status</label>
              <pg-select style="width: 100%;" [(ngModel)]="selectedLeaveStatus" [PlaceHolder]="'Select Option'" AllowClear ShowSearch>
                <pg-option *ngFor="let option of leaveStatus" [Label]="option.label" [Value]="option.value" [Disabled]="option.disabled">
                </pg-option>
              </pg-select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary" (click)="search()" style="height: 56px;width:100%;border-radius: 0;font-size: 15px;">
          <i class="fa fa-search"></i> Search
        </button>
      </div>

    </div>
  </div>
  <!-- Search Bar -->

<!-- Static Data from API in the table -->
  <div class="card card-default p-3">

    <div class="row">
      <div class="col-md-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="applied-by">Applied By</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Days</th>
              <th>Leave type</th>
              <th>Status</th>
              <th>Reports To</th>
              <!-- <th>Action</th>               -->
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let data of TeamLeavesHistory | paginate: { id: 'leaveapprovals1', itemsPerPage: 10, currentPage: p1}" (click)="showApproval(data)">
              <td class="applied-by">
                {{data.AppliedBy}}
              </td>
              <td class="start">
                {{data.StartDate|date: mediumDate}}
              </td>
              <td class="end">
                {{data.EndDate|date: mediumDate}}
              </td>
              <td class="days">
                {{data.Days}}
              </td>
              <td class="leave-type">
                {{data.LeaveRequestType}}
              </td>
              <td class="status">
                <p class="label label-success" style="padding:5px 10px;width:80px;margin:0 auto" [ngStyle]="{'background-color':getStatus(data.status)}">
                  {{data.STATUS}}
                </p>
              </td>
              <td class="reports-to">
                {{data.reportsTo}}
              </td>
              <!-- <td class="controls">
                    <i class="fa fa-edit" (click)="showLeaveEdit()" style="font-size:18px;vertical-align:bottom "></i>
                    <i class="fa fa-trash pl-2" (click)="showSlideUpDelete()" style="font-size: 18px"></i>
                  </td> -->
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="row pt-4" *ngIf='TeamLeavesHistory.length > 1'>
        <div class="col-md-6">
          <span style="font-size: 12px;
          padding: 0 20px;
          color: #575757;">
            Displaying <b *ngIf='TeamLeavesHistory'>{{(( p1 > 1 ? p1 : 1 ) - 1) * 10 + 1}} - {{finalNumber1()}}</b> of {{TeamLeavesHistory.length}} entries
          </span>
        </div>
        <div class="col-md-6">
          <div >          
          <pagination-controls class="pagination-block" id='leaveapprovals1' (pageChange)="p1 = $event" autoHide="true"></pagination-controls>
          </div>
        </div>
      </div>

  </div>
<!-- Static Data from API in the table -->


  
<!-- approve modal -->

<div bsModal #mdSlideUpApproveLeave="bs-modal" class="modal fade slide-up disable-scroll" tabindex="-1"
role="dialog" aria-hidden="false">
<div class="modal-dialog modal-lg" style="width:750px !important">
  <div class="modal-content-wrapper"  [style.opacity]="opacity" >
    <div class="modal-content">
      <div class="modal-header clearfix text-left">
        <button type="button" class="close" (click)="mdSlideUpApproveLeave.hide()" aria-hidden="true">
          <i class="pg pg-close fs-14"></i>
        </button>
        <h5>
          <span class="semi-bold">Leave Information</span>
        </h5>
        <p class="p-b-10">Please check the required information</p>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-md-6">
            <div class="form-group form-group-default">
              <label>Applied By</label>
              <input type="text" disabled [value]="showApprovalData.AppliedBy" class="form-control">
              <i (click)="showLeaveHistory(showApprovalData.EmpId, showApprovalData.Id);opacity=0" class="fa fa-clock-o" style="cursor: pointer;color: #2d8fbd"></i>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-group-default">
              <label>Reports To</label>
              <input type="text" disabled [value]="showApprovalData.reportsTo" class="form-control">
            </div>
          </div>
        </div>
<!--  -->
        <div class="row">
          <div class="col-md-4">
            <div class="form-group form-group-default input-group">
              <div class="form-input-group">
                <label>Start</label>
                <pg-datepicker [(ngModel)]="showApprovalData.StartDate"></pg-datepicker>
              </div>
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
              <div class="form-group form-group-default input-group">
                <div class="form-input-group">
                  <label>End</label>
                  <pg-datepicker [(ngModel)]="showApprovalData.EndDate"></pg-datepicker>
                </div>
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-default">
                  <label class="">Include Weekend</label>
                  <input type="text" [value]="showApprovalData.IncludeWeekend" class="form-control" disabled>

                  <!-- <pg-select style="width: 100%;" [(ngModel)]="showApprovalData.IncludeWeekend" [PlaceHolder]="'Select Option'" AllowClear ShowSearch>
                    <pg-option *ngFor="let option of includeWeekends" [Label]="option.label" [Value]="option.value" >
                    </pg-option>
                  </pg-select> -->
                </div>
              </div>

        </div>
        <div class="row">

          <div class="col-md-4">

            <div class="form-group form-group-default">
              <label class="">Category</label>
              <input type="text" [value]="showApprovalData.LeaveCategory" class="form-control" disabled>
              <!-- <pg-select style="width: 100%;" [(ngModel)]="showApprovalData.LeaveCategory" (ngModelChange)="changeLeaveCategory()" [PlaceHolder]="'Select Option'"
                AllowClear ShowSearch>
                <pg-option *ngFor="let option of LeaveCategory" [Label]="option.label" [Value]="option.value" [Disabled]="true">
                </pg-option> 
              </pg-select>-->
            </div>

          </div>
          <div class="col-md-4" *ngIf="showOtherTitle">
            <div class="form-group form-group-default">
              <label>If Other</label>
              <input type="text" [value]="showApprovalData.OtherCategory" class="form-control" disabled>
            </div>
          </div>
          <div class="col-md-4">
              <div class="form-group form-group-default" >
                <label>No. of Days</label>
                <!-- <pg-select style="width: 100%;" [PlaceHolder]="'Select Option'" AllowClear ShowSearch>
                  <pg-option *ngFor="let option of LeaveDays" [Label]="option.label" [Value]="option.value" [Disabled]="true">
                  </pg-option>
                </pg-select> -->
                <input type="text" disabled [value]="showApprovalData.Days" class="form-control">
              </div>
              </div>
          <div class="col-md-4">
            <div class="form-group form-group-default">
              <label>Leave Status</label>
              <input type="text" disabled [value]="showApprovalData.STATUS" class="form-control">
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-group-default">
              <label>Reason</label>
              <textarea type="text" rows="4" class="form-control" disabled>{{showApprovalData.Reason}}
              </textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            
              <div class="form-group form-group-default pb-3">
                  <label class="mb-1">Others on leave</label>
                  <span *ngFor="let data of tags" class="label label-inverse mr-1" style="padding:5px 10px;width:80px;">
                    <!-- <img src="assets/img/profiles/4x.jpg" class="image-tag">  -->
                    {{data}}
                  </span>
              </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-8 m-t-10 sm-m-t-10">

            <button style="float: left" (click)="showReject();opacity=0" type="button" class="btn btn-danger miracle-submit m-t-5">Reject</button>

          </div>
          <div class="col-md-4 m-t-10 sm-m-t-10">
            <button (click)="mdSlideUpApproveLeave.hide()" type="button" class="btn btn-primary miracle-submit m-t-5">Approve</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.modal-content -->
</div>
</div>

<!-- approve modal -->


<!-- reject modal -->
<div bsModal #mdSlideUpRejectLeave="bs-modal" class="modal fade slide-up disable-scroll" tabindex="-1" role="dialog" aria-hidden="false">
<div class="modal-dialog modal-md">
  <div class="modal-content-wrapper">
    <div class="modal-content">
      <div class="modal-body text-center m-t-20">
        <h4 class="no-margin text-left p-b-10">Are you sure you want to reject the leave request?</h4>
        <div class="row"> 
          <div class="col-md-12">
            <div class="form-group form-group-default">
              <label style="text-align:left">Reason</label>
              <textarea type="text" rows="4" placeholder="Please mention the reason for rejecting the leave" class="form-control"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-success btn-cons float-left" (click)="mdSlideUpRejectLeave.hide();opacity=1" type="button">Close</button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-danger btn-cons float-right" (click)="mdSlideUpRejectLeave.hide();mdSlideUpApproveLeave.hide();opacity=1"
              type="button">Reject</button>

          </div>

        </div>
      </div>

    </div>
  </div>
  <!-- /.modal-content -->
</div>
</div>
<!-- reject modal -->




<!-- leave History modal -->

<div bsModal #mdSlideUpLeaveHistory="bs-modal" class="modal fade slide-up disable-scroll" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog" style="width:750px;max-width: 750px;">
    <div class="modal-content-wrapper">
      <div class="modal-content">
          <div class="modal-header clearfix text-left">
              
              <h5>
                <span class="arrow-back" (click)="mdSlideUpLeaveHistory.hide();opacity=1">
                    <i class="fa fa-arrow-left"></i>
                </span>

                <span class="semi-bold" >Leave Records</span>
              </h5>
              <p class="p-b-10">Please check the previous leave records</p>
            </div>

        <div class="modal-body text-center">
            <div class="row">
                <div class="col-md-6">
                  <div class="form-group form-group-default  text-left">
                    <label>Applied By</label>
                    <input type="text" disabled [value]="showApprovalData.AppliedBy" class="form-control">
                    
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group form-group-default text-left">
                    <label>Reports To</label>
                    <input type="text" disabled [value]="showApprovalData.reportsTo" class="form-control">
                  </div>
                </div>
              </div>


          <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                      <tr>
                       
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Days</th>
                        <th>Leave type</th>
                        <th>Category</th>
                        <th>Status</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of leaveRecords | paginate: { id: 'leaveapprovals', itemsPerPage: 4, currentPage: p};">
                       
                        <td class="start">
                          {{data.StartDate|date: mediumDate}}
                        </td>
                        <td class="end">
                          {{data.EndDate|date: mediumDate}}
                        </td>
                        <td class="days">
                          {{data.Days}}
                        </td>
                        <td class="leave-type">
                          {{data.leaveType}}
                        </td>
                      
                        <td>
                          {{data.LeaveCategory}}
                        </td>
                        <td>
                            <p class="label label-success" style="padding:5px 10px;width:80px;margin:0 auto" [ngStyle]="{'background-color':getStatus(data.status)}">
                                {{data.STATUS}}
                              </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
    <div class="row pt-4" *ngIf='LeaveApprovalHistory.length > 1'>
      <!-- consider this a footer for the form -->
        <div class="col-md-6">
          <span style="font-size: 12px;
          padding: 0 20px;
          padding-right: 143px;
          color: #575757;">
            Displaying <b *ngIf='LeaveApprovalHistory'>{{(( p > 1 ? p : 1 ) - 1) * 4 + 1}} - {{finalNumber()}}</b> of {{LeaveApprovalHistory.length}} entries
          </span>
        </div>
        <div class="col-md-6">
          <div >          
            <!-- Use maxSize when needed a wrap, look at the UI to get an idea -->
          <pagination-controls class="pagination-block" id='leaveapprovals' (pageChange)="p = $event" maxSize = '5' autoHide="true"></pagination-controls>
          </div>
        </div>
      </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <button class="btn btn-success btn-cons float-left"  type="button">Leaves Available  : {{availableLeaves}}</button>
            </div>
            <div class="col-md-6">
              <!-- <button class="btn btn-danger btn-cons float-right" (click)="mdSlideUpLeaveHistory.hide();mdSlideUpApproveLeave.hide();opacity=1"
                type="button">Reject</button> -->

            </div>

          </div>
        </div>

      </div>
    </div>
    <!-- /.modal-content -->
  </div>
</div>
<!-- leave History modal -->



</pg-container>
