tbody{
    td{
        text-align: center;
    }

}
th{
    text-align: center
}
.applied-by{
    text-align: left !important;
}
.modal{
    .pg-select-dropdown-menu{
        max-height: 130px;
    }
}
.fa-clock-o{

    position: absolute;
    top: 20px;
    font-size: 18px;
    right: 10px;

}
// .table tbody tr:last-child td{
//     border:none
// }
.image-tag{
    height: 100%;
    width: 15px;
    vertical-align: text-bottom;
}
.arrow-back{
    background: #232527;
    padding:0px 10px 5px 10px;
    border-radius: 5px;
    position: absolute;
    right: 25px;
    top: 20px;
    cursor: pointer;
    .fa{
        font-size: 15px;
        color: white;
    }
}
.pagination-block{
    ul{
        list-style-type: none;
        float: right;
        li{
            display: inline-block;
            padding-left: 0;
            font-size: 11px;
            a{
                font-weight: 700;
                color: #575757;
                opacity: 0.35;
                padding: 5px 10px;
               
            }
            a.active{
                opacity: 1;
            }
        }
    }
}