
<div class="social-wrapper profile-page-container">
  <div class="users-image" (mouseover)="showOverlay = true" (mouseleave)="showOverlay = false">
    <div style="position: relative">
      <!-- <img src={{userDetails.ProfilePic}} alt=""> -->
      <img src="https://www.miraclesoft.com/images/employee-profile-pics/{{userDetails.LoginId}}.png" onError="this.src='https://www.miraclesoft.com/images/employee-profile-pics/NoImage_male.png';" alt="User Avatar" class="rounded-circle user-avatar">
      <div class="image-overlay" *ngIf="showOverlay">  
          <!-- <input type="file" id="file" (change)="handleFileInput($event.target.files)" class="img-upload"> -->
          <input type="file" name="photo" ng2FileSelect [uploader]="uploader" class="img-upload" />
        <i class="fa fa-camera"></i>
      </div>
    </div>
  </div>
  <div class="social " data-pages="social">
    <!-- START JUMBOTRON -->
    <div class="jumbotron" data-social="cover" coverpage>
      <div class="cover-photo" pg-parallax [ngStyle]="{'background-image': 'url(https://images.pexels.com/photos/953214/pexels-photo-953214.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)'}">
      </div>
      <div class="{% if mode =='horizontal_menu' %} container  {% else %} container-fluid {% endif %}  container-fixed-lg sm-p-l-0 sm-p-r-0">
        <div class="inner">

          <div class="pull-bottom bottom-left m-b-40 sm-p-l-15">

            <h1 class="text-white no-margin">
              <span class="semi-bold">{{userDetails.FName}}</span> {{userDetails.LName}}</h1>
            <!-- <h5 class="text-white no-margin text-right">{{userDetails.TitleTypeId}} - Since July, 2015</h5> -->
            <h5 class="text-white no-margin text-right">{{userDetails.TitleTypeId}} <span *ngIf='!((userDetails.TitleTypeId === null) || (userDetails.TitleTypeId === "") || (userDetails.HireDate === null) || (userDetails.HireDate === ""))'>- Since </span> {{userDetails.HireDate | date:'MMMM dd, yyyy '}}</h5>

          </div>
          <!-- mightnot work in Angular 8, so use state parameters and remove the ngx-navigation-with-data
  [routerLink]="['/dashboard/view-profile', {id: userDetails.Id}]"-->
          <button (click)='clearNavCtrlId()'  style="position: absolute;background:#ffffff;
          right: 0; bottom: 15px; padding: 5px 10px;" placement="left" tooltip="View as others" class="btn m-b-10"
            type="button">
            <i class="fa fa-user" style="color:#0f1316;" ></i>
          </button>
        </div>
      </div>
    </div>



    <div class="container-fluid container-fixed-lg sm-p-l-0 sm-p-r-0" style="margin-top:80px;">
      <div class="row">

        <div class="col-md-3 profile-sidebar">
          <div class="card social-card share  col1" data-social="item" style="width: 100%">
            <div class="" data-toggle="tooltip" title="Label" data-container="body">
            </div>

            <div class="card-description p-0">
              <p class="desc" *ngFor="let item of sideMenu;let i=index" (click)="selectedSideMenu = i" [class.active]="selectedSideMenu == i">
                <i [class]="item.icon"></i>
                {{item.name}}
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-9">

          <!-- employment starts -->
          <div *ngIf="selectedSideMenu == 0" class="card social-card share  col1" data-social="item" style="width: 100%">
            <div class="circle" data-toggle="tooltip" title="Label" data-container="body">
            </div>
            <div class="card-header clearfix">

              <h5>Employment Details</h5>

              <i class="fa fa-pencil" (click)="showSlideUp('Employment')"></i>
            </div>
            <div class="card-description">
              <div class="row">
                <div class="col-md-4">
                  <label for="" class="for-label">First Name</label>
                  <p class="for-text" *ngIf='(userDetails.FName != null) || (userDetails.FName != ""); else fname'>{{userDetails.FName}}</p>
                  <ng-template #fname>
                    <p class="for-text">N/A</p>
                  </ng-template>
                </div>
                <div class="col-md-4">
                  <label for="" class="for-label">Middle Name</label>
                  <p class="for-text" *ngIf='(userDetails.MName != null) || (userDetails.MName != ""); else mname'>{{userDetails.MName}}</p>
                  <ng-template #mname>
                    <p class="for-text">N/A</p>
                  </ng-template>
                </div>
                <div class="col-md-4">
                  <label for="" class="for-label">Last Name</label>
                  <p class="for-text" *ngIf='(userDetails.LName != null) || (userDetails.LName != ""); else lname'>{{userDetails.LName}}</p>
                  <ng-template #lname>
                    <p class="for-text">N/A</p>
                  </ng-template>
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-md-4">
                  <label for="" class="for-label">Hire Date</label>
                  <!-- <p class="for-text">25
                    <sup>th</sup> Jan, 2015</p> -->
                    <p class="for-text">{{userDetails.HireDate | date: 'd'}}
                      <sup>{{ userDetails.HireDate | date: 'd' | datesS}}</sup> {{userDetails.HireDate | date: 'LLL, yyyy'}}</p>
                </div>
                <div class="col-md-4">
                  <label for="" class="for-label">Employee ID</label>
                  <p class="for-text">{{userDetails.EmpNo}}</p>
                </div>
                <div class="col-md-4">
                  <label for="" class="for-label">ITG Batch</label>
                  <p class="for-text">{{userDetails.Itgbatch}}</p>
                </div>
              </div>

              <div class="row mt-2">


                <div class="col-md-4">
                  <label for="" class="for-label">Designation</label>
                  <p class="for-text">{{userDetails.TitleTypeId}}</p>
                </div>
                <div class="col-md-4">
                  <label for="" class="for-label">Department</label>
                  <p class="for-text">{{userDetails.PracticeId}}</p>
                </div>
                <div class="col-md-4">
                  <label for="" class="for-label">Work Location</label>
                  <p class="for-text">{{userDetails.Location}}</p>
                </div>

              </div>


              <div class="row mt-2">
                <div class="col-md-4">
                  <label for="" class="for-label">Corporate Mail</label>
                  <p class="for-text">{{userDetails.Email1}}</p>
                </div>
                <div class="col-md-4">
                  <label for="" class="for-label">VoIP</label>
                  <p class="for-text">{{userDetails.WorkPhoneNo}}</p>
                </div>
                <div class="col-md-4">
                  <label for="" class="for-label">Contact Number</label>
                  <p class="for-text">{{userDetails.CellPhoneNo}}</p>
                </div>
              </div>




              <div class="row mt-2">
                <div class="col-md-4">
                  <label for="" class="for-label">Reports To</label>
                  <p class="for-text">{{userDetails.ReportsTo}}</p>
                </div>
                <div class="col-md-4">
                  <label for="" class="for-label">Reporting HR</label>
                  <p class="for-text">{{userDetails.ReportingHr}}</p>
                </div>
                <div class="col-md-4">
                  <label for="" class="for-label"></label>
                  <p class="for-text"></p>
                </div>
              </div>
            </div>
          </div>
          <!-- employment ends -->


          <!-- personal starts -->
          <div *ngIf="selectedSideMenu == 1" class="card social-card share  col1" data-social="item" style="width: 100%">
            <div class="circle" data-toggle="tooltip" title="Label" data-container="body">
            </div>
            <div class="card-header clearfix">

              <h5>Personal Details</h5>
              <i class="fa fa-pencil" (click)="showSlideUp('Personal')"></i>
            </div>
            <div class="card-description">
              <div class="row">
                <div class="col-md-4">
                  <label for="" class="for-label">Alias Name</label>
                  <p class="for-text">{{userDetails.AliasName}}</p>
                </div>
                <div class="col-md-4">
                  <label for="" class="for-label">Alternate Contact</label>
                  <p class="for-text">{{userDetails.AlterPhoneNo}}</p>
                </div>
                <div class="col-md-4">
                  <label for="" class="for-label">Personal Mail</label>
                  <p class="for-text">{{userDetails.Email2}}</p>
                </div>

              </div>
              <div class="row mt-2">


                <div class="col-md-4">
                  <label for="" class="for-label">Birthday</label>
                  <!-- <p class="for-text">02/08/1993</p> -->
                  <p class="for-text">{{userDetails.BirthDate | date: 'dd/MM/yyyy'}}</p>
                </div>
                <div class="col-md-4">
                  <label for="" class="for-label">Gender</label>
                  <p class="for-text">{{userDetails.Gender}}</p>
                </div>
                <div class="col-md-4">
                  <label for="" class="for-label">Marital Status</label>
                  <p class="for-text">{{userDetails.MaritalStatus}}</p>
                </div>

              </div>
              <div class="row mt-2">
                <div class="col-md-12">
                  <label for="" class="for-label">Address</label>
                  <p class="for-text">
                    MIG 36, OPP. Brindavan Appt., PM Palem, Visakhapatnam, 530041
                  </p>
                </div>

              </div>

              <div class="row mt-2">
                <div class="col-md-12">
                  <label for="" class="for-label">About Me</label>
                  <p class="for-text">
                    {{userDetails.AboutMe}}
                  </p>
                </div>

              </div>
            </div>
          </div>
          <!-- personal ends -->

          <!-- confidential starts -->
          <div *ngIf="selectedSideMenu == 2" class="card social-card share  col1" data-social="item" style="width: 100%">
            <div class="circle" data-toggle="tooltip" title="Label" data-container="body">
            </div>
            <div class="card-header clearfix">

              <h5>Confidential Details</h5>
              <i class="fa fa-pencil" (click)="showSlideUp('Confidential')"></i>
            </div>
            <div class="card-description">
              <div class="row">
                <div class="col-md-4">
                  <label for="" class="for-label">Bank Name</label>
                  <p class="for-text">{{userDetails.BankName}}</p>
                </div>
                <div class="col-md-4">
                  <label for="" class="for-label">Account Number</label>
                  <p class="for-text">{{userDetails.AccNum}}</p>
                </div>
                <div class="col-md-4">
                  <label for="" class="for-label">IFSC Code</label>
                  <p class="for-text">{{userDetails.IfscCode}}</p>
                </div>
              </div>
              <div class="row mt-2">


                <div class="col-md-4">
                  <label for="" class="for-label">Aadhaar</label>
                  <p class="for-text">{{userDetails.AadharNum}}</p>
                </div>
                <div class="col-md-4">
                  <label for="" class="for-label">PAN</label>
                  <p class="for-text">{{userDetails.PAN}}</p>
                </div>
                <div class="col-md-4">
                  <label for="" class="for-label">UAN</label>
                  <p class="for-text">{{userDetails.UANNo}}</p>
                </div>

              </div>
              <div class="row mt-2">
                <div class="col-md-4">
                  <label for="" class="for-label">PF Number</label>
                  <p class="for-text">{{userDetails.PFNo}}</p>
                </div>
                <div class="col-md-4">
                  <label for="" class="for-label">Passport</label>
                  <p class="for-text">{{userDetails.PassportNo}}</p>
                </div>
                <div class="col-md-4">
                  <label for="" class="for-label">Expiry Date</label>
                  <p class="for-text">{{userDetails.PassportExpiryDate}}</p>
                </div>
              </div>


              <div class="row mt-2">
                <div class="col-md-4">
                  <label for="" class="for-label">Name as per Bank</label>
                  <p class="for-text">{{userDetails.NameAsPerAcc}}</p>
                </div>
                <div class="col-md-4">
                  <label for="" class="for-label">Name as per Aadhaar</label>
                  <p class="for-text">{{userDetails.AadharName}}</p>
                </div>
                <div class="col-md-4">
                  <label for="" class="for-label">Name as per PAN</label>
                  <p class="for-text">{{userDetails.NameAsPerPan}}</p>
                </div>
              </div>
            </div>
          </div>
          <!-- confidential ends -->

          <!-- social starts -->
          <div *ngIf="selectedSideMenu == 3" class="card social-card share  col1" data-social="item" style="width: 100%">
            <div class="circle" data-toggle="tooltip" title="Label" data-container="body">
            </div>
            <div class="card-header clearfix">

              <h5>Social Details</h5>
              <i class="fa fa-pencil" (click)="showSlideUp('Social')"></i>
            </div>
            <div class="card-description">
              <div class="row">
                <div class="col-md-4">
                  <label for="" class="for-label">Linkedin</label>
                  <p class="for-text">{{userDetails.LinkedIn}}</p>
                </div>
                <div class="col-md-4">
                    <label for="" class="for-label">Twitter</label>
                    <p class="for-text">{{userDetails.Twitter}}</p>
                  </div>
                <div class="col-md-4">
                  <label for="" class="for-label">Facebook</label>
                  <p class="for-text">{{userDetails.Facebook}}</p>
                </div>
              </div>
              <div class="row mt-2">


                
                <div class="col-md-4">
                  <label for="" class="for-label">Instagram</label>
                  <p class="for-text">{{userDetails.Instagram}}</p>
                </div>
                <!-- <div class="col-md-4">
                  <label for="" class="for-label">Work Location</label>
                  <p class="for-text">Miracle Heights</p>
              </div> -->

              </div>

            </div>
          </div>
          <!-- socail ends -->


          <!-- skills starts -->
          <div *ngIf="selectedSideMenu == 4" class="card social-card share  col1" data-social="item" style="width: 100%">
            <div class="circle" data-toggle="tooltip" title="Label" data-container="body">
            </div>
            <div class="card-header clearfix skill-cert">

              <h5>Skills</h5>
              <i class="fa fa-pencil" (click)="showSlideUp('Skills')"></i>
            </div>
            <div class="card-description">

              <div class="row">
                <div class="col-md-12" >
                    <span *ngFor='let skills of userDetails.SkillSet; let i = index'>
                    <a href="" [ngClass]='[i%2 === 0 ? "label label-miracle-dark mr-2": "label label-miracle-light mr-2"]'>{{skills}}</a>
                    </span>
                </div>
              </div>

            </div>
          </div>
 
          <!-- skills ends -->
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div bsModal #mdSlideUp="bs-modal" class="modal fade slide-up disable-scroll" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <div class="modal-header clearfix text-left">
          <button type="button" class="close" (click)="mdSlideUp.hide()" aria-hidden="true">
            <i class="pg pg-close fs-14"></i>
          </button>
          <h5>
            <span class="semi-bold">{{selectedTitles}} Information</span>
          </h5>
          <div class="form-group form-group-default form-group-default-select2">
            <label class="">Category</label>
            <pg-select style="width: 100%;" [(ngModel)]="selectedTitlesDropdown" (ngModelChange)="changeCategory()" [PlaceHolder]="'Select Option'"
              AllowClear ShowSearch>
              <pg-option *ngFor="let option of modelTitles" [Label]="option.label" [Value]="option" selected='option.select'>
              </pg-option>
            </pg-select>
          </div>
          <p class="p-b-10">Please change the required information and save</p>
        </div>
        <div class="modal-body">
          <form role="form" [formGroup]='editableUserDetails' novalidate>

            <!-- data for employment starts -->
            <div class="form-group-attached" *ngIf="selectedTitles=='Employment'">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group form-group-default">
                    <label>First Name</label>
                    <input type="text" formControlName='FName' class="form-control" readonly>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-group-default">
                    <label>Middle Name</label>
                    <input type="text" formControlName='MName' class="form-control" readonly>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-group-default">
                    <label>Last Name</label>
                    <input type="text" formControlName='LName' class="form-control" readonly>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group form-group-default">
                    <label>Hire Date</label>
                    <input type="text"  formControlName='HireDate' class="form-control" readonly>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-group-default">
                    <label>Employee ID</label>
                    <input type="text" formControlName='EmpNo' class="form-control" readonly>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-group-default">
                    <label>ITG Batch</label>
                    <input type="text" formControlName='Itgbatch' class="form-control" readonly>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group form-group-default">
                    <label>Designation</label>
                    <input type="text" formControlName='TitleTypeId' class="form-control" readonly>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-group-default">
                    <label>Department</label>
                    <input type="text" formControlName='PracticeId' class="form-control" readonly>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-group-default">
                    <label>Work Location</label>
                    <input type="text" formControlName='Location' class="form-control" readonly>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group form-group-default">
                    <label>Corporate Email</label>
                    <input type="email" formControlName='Email1' class="form-control" readonly>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-group-default" [class.has-error]="editableUserDetails.get('WorkPhoneNo').errors != null">
                    <label>Voip</label>
                    <input *ngIf='default' type="text" formControlName='WorkPhoneNo' maxlength='14' (keydown)="onKey($event.key == 'Backspace'? '' : $event.target.value, 'VoIP')" class="form-control">
                    <input *ngIf='eleven' type="text" formControlName='WorkPhoneNo' maxlength='16' (keydown)="onKey($event.key == 'Backspace'? '' : $event.target.value, 'VoIP')" class="form-control">
                    <input *ngIf='plus' type="text" formControlName='WorkPhoneNo' maxlength='15' (keydown)="onKey($event.key == 'Backspace'? '': $event.target.value, 'VoIP')" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-group-default" [class.has-error]="editableUserDetails.get('CellPhoneNo').errors != null">
                    <label>Contact Number</label>
                    <input type="text" formControlName='CellPhoneNo' minlength="14" maxlength='14' (keydown)="onKey($event.key == 'Backspace'? '':$event.target.value, 'Home')" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group form-group-default">
                    <label>Reports To</label>
                    <input type="text" formControlName='ReportsTo' class="form-control" readonly>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-group-default">
                    <label>Reporting HR</label>
                    <input type="text" formControlName="ReportingHr" class="form-control" readonly>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-group-default">
                    
                  </div>
                </div>

              </div>

            </div>

            <!-- data for employment ends -->

            <!-- data for personal starts -->
            <div class="form-group-attached" *ngIf="selectedTitles=='Personal'">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group form-group-default">
                    <label>Alias Name</label>
                    <input type="text" formControlName="AliasName" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-group-default" [class.has-error]="editableUserDetails.get('AlterPhoneNo').errors != null">
                    <label>Alternate Contact</label>
                    <input type="text" formControlName="AlterPhoneNo" (keydown)="onKey($event.key == 'Backspace'? '':$event.target.value, 'Alternate')" class="form-control" maxlength='14' minlength="14">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-group-default" [class.has-error]="editableUserDetails.get('Email2').invalid">
                    <label>Personal Email</label>
                    <input type="text" formControlName="Email2" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                  </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group form-group-default">
                    <label>Birthday</label>
                    <input type="text" formControlName="BirthDate" class="form-control" readonly>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-group-default">
                    <label>Gender</label>
                    <input type="text" formControlName="Gender" class="form-control" readonly>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-group-default">
                    <label>Marital Status</label>
                    <input type="text" formControlName="MaritalStatus" class="form-control" readonly>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-group-default">
                    <label>Address</label>
                    <textarea class="form-control" formControlName="HomeAddressId" name="" id="" rows="3" readonly></textarea>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-group-default">
                    <label>About ME</label>
                    <textarea class="form-control" formControlName="AboutMe" name="" id="" rows="3"></textarea>
                  </div>
                </div>

              </div>


            </div>

            <!-- data for personal ends -->

            <!-- data for confidential starts -->
            <div class="form-group-attached" *ngIf="selectedTitles=='Confidential'">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group form-group-default">
                    <label>Bank Name</label>
                    <input type="text" formControlName="BankName" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-group-default"  [class.has-error]="editableUserDetails.get('AccNum').errors != null">
                    <label>Account Number</label>
                    <input type="text" formControlName="AccNum" maxlength='30' class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-group-default">
                    <label>IFSC Code</label>
                    <input type="text" formControlName="IfscCode" class="form-control">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group form-group-default"  [class.has-error]="editableUserDetails.get('AadharNum').errors != null">
                    <label>Aadhaar</label>
                    <input type="text" formControlName="AadharNum" maxlength='15' class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-group-default"  [class.has-error]="editableUserDetails.get('PAN').errors != null">
                    <label>PAN</label>
                    <input type="text" formControlName="PAN" maxlength='12' class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-group-default"  [class.has-error]="editableUserDetails.get('UANNo').errors != null">
                    <label>UAN</label>
                    <input type="text" formControlName="UANNo" maxlength='50' class="form-control">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group form-group-default"  [class.has-error]="editableUserDetails.get('PFNo').errors != null">
                    <label>PF Number</label>
                    <input type="text" formControlName="PFNo" maxlength='50' class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-group-default"  [class.has-error]="editableUserDetails.get('PassportNo').errors != null">
                    <label>Passport</label>
                    <input type="text" formControlName="PassportNo" maxlength='20' class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-group-default">
                    <label>Expiry Date</label>
                    <input type="text" formControlName="PassportExpiryDate" class="form-control">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group form-group-default">
                    <label>Name as per Bank</label>
                    <input type="text" formControlName="NameAsPerAcc" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-group-default">
                    <label>Name as per Aadhaar</label>
                    <input type="text" formControlName="AadharName" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-group-default">
                    <label>Name as per PAN</label>
                    <input type="text" formControlName="NameAsPerPan" class="form-control">
                  </div>
                </div>
              </div>

            </div>

            <!-- data for confidential ends -->


            <!-- data for social starts -->
            <div class="form-group-attached" *ngIf="selectedTitles=='Social'">
              <div class="row">
                <div class="col-md-4" [class.has-error]="editableUserDetails.get('LinkedIn').invalid">
                  <div class="form-group form-group-default">
                    <label>Linkedin</label>
                    <input type="text" formControlName="LinkedIn" class="form-control" pattern="http(s)?:\/\/([\w]+\.)?linkedin\.com\/(in|pub)\/[A-z0-9_-]+\/?" placeholder='http://www.linkedin.com/in/{profilename}'>
                  </div>
                </div>
                <div class="col-md-4" [class.has-error]="editableUserDetails.get('Facebook').invalid">
                  <div class="form-group form-group-default">
                    <label>Facebook</label>
                    <input type="text" formControlName="Facebook" class="form-control" pattern="http(s)?:\/\/(www\.)?(facebook|fb)\.com\/[A-z0-9_\-\.]+\/?" placeholder='http://www.facebook.com/{username/profilename}'>
                  </div>
                </div>
                <div class="col-md-4" [class.has-error]="editableUserDetails.get('Twitter').invalid">
                  <div class="form-group form-group-default">
                    <label>Twitter</label>
                    <input type="text" formControlName="Twitter" class="form-control" pattern="http(s)?:\/\/(www\.)?twitter\.com\/[A-z0-9_]+\/?" placeholder='http://www.twitter.com/{username}'>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4" [class.has-error]="editableUserDetails.get('Instagram').errors != null">
                  <div class="form-group form-group-default">
                    <label>Instagram</label>
                    <input type="text" formControlName="Instagram" class="form-control" pattern="https?:\/\/(www\.)?instagram\.com\/([A-Za-z0-9_](?:(?:[A-Za-z0-9_]|(?:\.(?!\.))){0,28}(?:[A-Za-z0-9_]))?)" placeholder='http://www.instagram.com/{username}'>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-group-default"></div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-group-default"></div>
                </div>
              </div>

            </div>

            <!-- data for social ends -->


            <!-- data for skills starts -->
           
            <div  *ngIf="selectedTitles=='Skills'">
              <div class="form-group-attached">
                  <div class="row">
                
                      <div class="col-md-12">

                          <div class="form-group  form-group-default form-group-default-select2">
                              <label>Skills</label>
                              <!-- formControlName="SkillSet" -->
                              <pg-select style="width: 100%;"
                                  [Mode]="'multiple'"
                                  [PlaceHolder]="'Select'"
                                  formControlName='SkillSet'
                                  [NotFoundContent]="'Not found'">
                                  <pg-option
                                    *ngFor="let option of searchTags"
                                    [Label]="option.label"
                                    [Value]="option.value"
                                    [Disabled]="option.disabled">
                                  </pg-option>
                                </pg-select>
                              </div>

                      </div>
                    </div>
              </div>
              <div class="form-group-attached">
                   
              </div>

            </div>

            <!-- data for skills ends -->

           <!-- data for certifications starts -->

            <!-- <div  *ngIf="selectedTitles=='Certifications'">
              
              <div class="form-group-attached">

                    <div class="row">
                     
                      <div class="col-md-6">
                          <div class="form-group form-group-default">
                              <label>Title</label>
                              <input type="text" value="Google Web and Mobile Developer" class="form-control">
                            </div>
                      </div>
                      <div class="col-md-5">
                          <div class="form-group form-group-default">
                              <label>Company Name</label>
                              <input type="text" value="Google" class="form-control">
                            </div>
                      </div>
                      <div class="col-md-1">
                        <button class="btn btn-primary" style="height:100%;width:100%;padding-left:13px;">
                          <i class="fa fa-eye"></i>
                        </button>
                      </div>
                    </div>
              </div>
            </div> -->

            <!-- data for certifications starts -->

          </form>
          <div class="row">
            <div class="col-md-8">
              <div class="p-t-20 clearfix p-l-10 p-r-10">
           
              </div>
            </div>
            <div class="col-md-4 m-t-10 sm-m-t-10">
              <!-- 
                           -->
              <button (click)="createNotificationForEdit(selectedTitles);mdSlideUp.hide()" *ngIf="selectedTitles=='Employment'" [disabled]="((editableUserDetails.get('WorkPhoneNo').errors != null) && (editableUserDetails.get('CellPhoneNo').errors != null)) || (editableUserDetails.get('WorkPhoneNo').untouched && editableUserDetails.get('CellPhoneNo').untouched)" style="width:120px;float:right" type="button" class="btn btn-primary btn-block m-t-5">Save</button>
              <button (click)="createNotificationForEdit(selectedTitles);mdSlideUp.hide()" *ngIf="selectedTitles=='Personal'" [disabled]="((editableUserDetails.get('AlterPhoneNo').errors != null) && (editableUserDetails.get('Email2').invalid)) ||  ((editableUserDetails.get('AlterPhoneNo').untouched) && (editableUserDetails.get('Email2').untouched))" style="width:120px;float:right" type="button" class="btn btn-primary btn-block m-t-5">Save</button>
              <button (click)="createNotificationForEdit(selectedTitles);mdSlideUp.hide()" *ngIf="selectedTitles=='Confidential'" [disabled]='(editableUserDetails.get("BankName").untouched && editableUserDetails.get("AccNum").untouched && 
              editableUserDetails.get("IfscCode").untouched && editableUserDetails.get("AadharNum").untouched && 
              editableUserDetails.get("PAN").untouched && editableUserDetails.get("UANNo").untouched && 
              editableUserDetails.get("PFNo").untouched && editableUserDetails.get("PassportNo").untouched && 
              editableUserDetails.get("PassportExpiryDate").untouched && editableUserDetails.get("NameAsPerAcc").untouched && 
              editableUserDetails.get("AadharName").untouched && editableUserDetails.get("NameAsPerPan").untouched) ||
              (editableUserDetails.get("AccNum").invalid && editableUserDetails.get("IfscCode").invalid && editableUserDetails.get("AadharNum").invalid && 
              editableUserDetails.get("PAN").invalid && editableUserDetails.get("UANNo").invalid && editableUserDetails.get("PFNo").invalid && editableUserDetails.get("PassportNo").invalid && 
              editableUserDetails.get("PassportExpiryDate").invalid)' style="width:120px;float:right" type="button" class="btn btn-primary btn-block m-t-5">Save</button>
              <button (click)="createNotificationForEdit(selectedTitles);mdSlideUp.hide()" *ngIf="selectedTitles=='Social'" [disabled]="(editableUserDetails.get('LinkedIn').invalid && editableUserDetails.get('Facebook').invalid && editableUserDetails.get('Instagram').invalid && editableUserDetails.get('Twitter').invalid) || (editableUserDetails.get('LinkedIn').untouched && editableUserDetails.get('Facebook').untouched && editableUserDetails.get('Instagram').untouched && editableUserDetails.get('Twitter').untouched)" style="width:120px;float:right" type="button" class="btn btn-primary btn-block m-t-5">Save</button>
              <button (click)="createNotificationForEdit(selectedTitles);mdSlideUp.hide()" *ngIf="selectedTitles=='Skills'" [disabled]='editableUserDetails.get("SkillSet").untouched' style="width:120px;float:right" type="button" class="btn btn-primary btn-block m-t-5">Save</button>
              <!-- <button (click)="createNotificationForEdit(selectedTitles);mdSlideUp.hide()" *ngIf="selectedTitles=='Certification'" [disabled]='(editableUserDetails.status != "VALID") || editableUserDetails.untouched' style="width:120px;float:right" type="button" class="btn btn-primary btn-block m-t-5">Save</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
</div>
<!-- /.modal-dialog -->

<!-- Modal -->
<div bsModal #mdSlideUpAdd="bs-modal" class="modal fade slide-up disable-scroll" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <div class="modal-header clearfix text-left">
          <button type="button" class="close" (click)="mdSlideUpAdd.hide()" aria-hidden="true">
            <i class="pg pg-close fs-14"></i>
          </button>
          <h5>
            <span class="semi-bold">Add Skills/Certifications</span>
          </h5>
          <p class="p-b-10">Please add the required information and save</p>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group-attached">

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-group-default form-group-default-select2 required">
                    <label class="">Select option</label>


                    <pg-select name="skillset"  [(ngModel)]="selectedskillOrCert" (ngModelChange)="changeskillOrCert()"  style="width: 100%;" 
                      [PlaceHolder]="'Select Option'">
                      <pg-option *ngFor="let option of skillOrCert" [Label]="option.label" [Value]="option">
                      </pg-option>
                    </pg-select>


                  </div>
                </div>
              </div>

              <div *ngIf="showAddSkill">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="form-group tag-group form-group-default required ">
                              <label>Add/Remove skills</label>
                              <pg-tag-control [(ngModel)]="mySkills"></pg-tag-control>
                            </div>
                      </div>
                   </div>
              </div>
              <div *ngIf="!showAddSkill">
                  <div class="row">
                      <div class="col-md-12">
                        <div class="form-group form-group-default required">
                          <label>Certification Title</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
      
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group form-group-default required">
                          <label>Certifying Organization/Company</label>
                          <input type="text" class="form-control">
                        </div>
      
                      </div>
                      <!-- <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>Certificate Url</label>
                          <input type="text" class="form-control">
                        </div>
      
                      </div> -->
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-5">
                          <pg-upload Action="https://jsonplaceholder.typicode.com/posts/" [FileList]="fileList2">
                            <button class="btn btn-success btn-cons" style="margin-right:0">
                              <i class="fa fa-upload m-r-10"></i>
                              <span>Upload Screenshot</span>
                            </button>
                          </pg-upload>
                        </div>
                      </div>
              </div>
             
              <!-- <div class="row">
                    <div class="col-md-12">
                        <pg-upload
                        Action="https://jsonplaceholder.typicode.com/posts/"
                        [FileList]="fileList2">
                        <button class="btn btn-success btn-cons" style="margin-top:10px">
                          <i class="fa fa-upload m-r-10"></i><span>Certificate Badge (if any)</span>
                        </button>
                      </pg-upload>
                    </div>
                  </div> -->

            </div>
          </form>
         
          <div class="row">
            <div class="col-md-8">
              <div class="p-t-20 clearfix p-l-10 p-r-10">
              
              </div>
            </div>
            <div class="col-md-4 m-t-10 sm-m-t-10">
              <button (click)="createBasicNotification();mdSlideUpAdd.hide()" type="button" style="width: 120px;float: right;" class="btn btn-primary btn-block m-t-5">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
</div>
<!-- /.modal-dialog -->