.check
{
    background-color: transparent;
    border:none;
    font-size: 12px;
}
.check:hover
{
    background-color: #1dbb99;
    border:none;
    cursor: pointer;
    color:#ffffff;
    border-radius: 50%;
}
.times
{
    background-color: transparent;
    border:none;
}
.times:hover
{
    background-color:#ef4048;
    border:none;
    cursor: pointer;
    color:#ffffff;
    border-radius: 50%;
}
tbody{
    td{
        text-align: center;
    }

}
th{
    text-align: center
}
.name{
    text-align: left !important;
}
.status
{

}
.fa-clock-o{

    position: absolute;
    top: 20px;
    font-size: 18px;
    right: 10px;

}
.table tbody tr:last-child td{
    border:none
}