<pg-container>

  <pg-breadcrumb>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Home</a>
      </li>
      <li class="breadcrumb-item active">Employee Search</li>
    </ol>
  </pg-breadcrumb>
</pg-container>
<pg-container>

  <div class="row">

 <!-- <div class="col-lg-8 sm-no-padding for-employee-search scroller" virtualScroller style="height: 75vh" [items]="items" (vsEnd)="showEnd($event)"> -->
  <div class="col-lg-8 sm-no-padding for-employee-search scroller" style="height: 75vh">

          <pgcard Controls="false" class=" text-md-center text-lg-left" *ngFor="let contact of contactList">
            <div class="row align-items-center" style="padding: 15px 0 0 0;
                padding-top: 8px;">

              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <a style="background: white;border-color:#00aae7;position:absolute;top:4px;right:8px" target="_blank"
                  href="https://talk.miraclesoft.com/direct/{{contact.LoginId}}" placement="left"
                  tooltip="Text in mTalk">
                  <!-- <i class="fa fa-comments" style="color:#232527;font-size: 20px"></i> -->
                  <img style="height:20px;width:20px;" src="assets/message-icon.png">
                </a>
                <!-- {'id': contact.Id} -->
                <div class="float-xl-left pr-4 float-none user-controls">
                  <img (click)="navigateToABout({id: contact.EmpId})"
                    src="https://www.miraclesoft.com/images/employee-profile-pics/{{contact.LoginId}}.png"
                    onError="this.src='https://www.miraclesoft.com/images/employee-profile-pics/NoImage_male.png';"
                    alt="User Avatar" class="rounded-circle user-avatar">
                </div>
                <div class="pl-xl-3">
                  <div class="m-b-0">


                    <!-- mightnot work in Angular 8, so use state parameters and remove the ngx-navigation-with-data
  [routerLink]="['/dashboard/view-profile', {id: userDetails.Id}]"-->
                    <div class="user-avatar-name d-inline-block" style="position: relative">
                      <h2 (click)="navigateToABout({id: contact.Id})" class="font-weight-normal m-b-10 user-name"
                        style="margin-bottom: 0px;margin-top:0; font-size: 22px;">{{fileNameLimit(contact.EmpName)}}
                        <span style="color:gray"> | </span>
                        <span style="font-style:italic;font-size:12px;color:gray">{{contact.LoginId}}</span>
                      </h2>



                    </div>

                  </div>
                  <div class="user-avatar-address">
                    <p class="mb-2 mt-0">

                      <span *ngIf="!((contact.WorkPhoneNo === 'null') ||(contact.WorkPhoneNo === null) || (contact.WorkPhoneNo === ''))"><i
                          class="fa fa-volume-control-phone alt mr-2 text-primary"></i>{{contact.WorkPhoneNo}}</span>
                      <span *ngIf="!((contact.HomePhoneNo === 'null') ||(contact.HomePhoneNo === null) || (contact.HomePhoneNo === ''))"><i
                          class="fa fa-mobile alt mr-2 ml-2 text-primary"></i>{{contact.HomePhoneNo}}</span>
                      <span *ngIf="!((contact.AlterPhoneNo === 'null') ||(contact.AlterPhoneNo === null) || (contact.AlterPhoneNo === ''))"><i 
                          class="fa fa-mobile alt mr-2 ml-2 text-primary"></i>{{contact.AlterPhoneNo}}</span>
                    </p>

                    <style>
                      .user-avatar {
                        margin-top: 8px !important;
                      }
                    </style>
                    <div class="mt-1 float-left">
                      <a href="" *ngIf='!((contact.Location === "") || (contact.Location === -1) || (contact.Location === null) || (contact.Location === undefined) || (contact.Location === " "))' class="mr-1 badge" style="background:#2368a0;color:white">
                        <i class="fa fa-map-marker"></i>
                        {{contact.Location}}</a>


                      <a href="#" class="mr-1 ml-2 badge" style="background:#f35958;color:white">
                        <i class="fa fa-clock-o"></i>
                        Since {{contact.HireDate | date}}</a>

                      <a href="#" *ngIf='!((contact.TitleTypeId === "") || (contact.TitleTypeId === -1) || (contact.TitleTypeId === null) || (contact.Location === undefined) || (contact.TitleTypeId === " "))' class="mr-1 ml-2 badge" style="background: #00aae7;color:white">
                        <i class="fa fa-user-circle-o"></i>
                        {{contact.TitleTypeId}}</a>
                    </div>
                  </div>
                </div>
              </div>

            </div>          
          </pgcard>
          <div class="text-center mb-2">
            <button class="btn btn-primary" (click)='fetchMore()'>
              Load More
            </button>
          </div>
      <!--  -->
            <!-- </perfect-scrollbar> -->
  </div>
    <div class="col-lg-4 sm-no-padding for-employee-search">
      <div class="row">
        <div class="col-lg-12">
          <pgcard Controls="false">
            <div style="margin-top:20px" class="form-group form-group-default input-group" pgformgroupdefault="">
              <div class="form-input-group">
                <label>Employee Search</label>
                <input placeholder="Search by name or email" name="searchData" [(ngModel)]="searchData"
                  (keyup.enter)='search()' class="form-control" type="email">
              </div>
              <div class="input-group-append ">
                <span (click)='search()' class="input-group-text">
                  <i class="fa fa-search"></i>
                </span>
              </div>
            </div>


            <h3 class="filter-name mt-3">Sort By</h3>
            <div class="mt-2 form-group form-group-default form-group-default-select2">
              <label class="">Department</label>
              <pg-select [ngModelOptions]="{standalone: true}" style="width: 100%;" [(ngModel)]="departmentData"
                [PlaceHolder]="'Select Option'" AllowClear ShowSearch>
                <pg-option *ngFor="let option of department" [Label]="option.label" [Value]="option"
                  [Disabled]="option.disabled">
                </pg-option>
              </pg-select>
            </div>


            <div class="mt-2 form-group form-group-default form-group-default-select2">
              <label class="">Work Location</label>
              <pg-select [ngModelOptions]="{standalone: true}" style="width: 100%;" [(ngModel)]="locationData"
                [PlaceHolder]="'Select Option'" AllowClear ShowSearch>
                <pg-option *ngFor="let option of location" [Label]="option.label" [Value]="option"
                  [Disabled]="option.disabled">
                </pg-option>
              </pg-select>
            </div>

            <div class="mt-2 form-group form-group-default form-group-default-select2">
              <label class="">Position</label>
              <pg-select [ngModelOptions]="{standalone: true}" style="width: 100%;" [(ngModel)]="titleData"
                [PlaceHolder]="'Select Option'" AllowClear ShowSearch>
                <pg-option *ngFor="let option of designation" [Label]="option.label" [Value]="option"
                  [Disabled]="option.disabled">
                </pg-option>
              </pg-select>
            </div>

          </pgcard>
        </div>
      </div>
    </div>
  </div>
</pg-container>