// ps__rail-y

// ::ng-deep .ps__rail-y{
//         opacity: 0 !important;
//     }
// ::ng-deep .ps__thumb-y{
//         opacity: 0 !important;
//     }


.card-body{
    padding-bottom: 12px;
}
.user-controls{
    padding-right: 15px !important;
}
.user-avatar{
    height: 90px;
    width: 90px;
    margin-top: 14px;
    &:focus{
        outline:none;
    }
}
.fa-volume-control-phone{
    font-size: 14px;
}
.fa-mobile{
    font-size: 16px;
}
.badge{
    border-radius: 5px;
    padding: 5px 10px;
}
.user-name{
    font-size: 24px;
    &:focus{
        outline: none;
    }
    
}
.filter-name{
    font-weight: bold;
    font-size: 16px;
}
.radio label{
    display: block;
}
.btn-wishlist{
    position: absolute;
    top: 10px;
    left: 10px;
}
.btn-wishlist1{
    position: absolute;
    top: 15px;
    right: 10px;
    .fa-star{
        font-size:20px;
    }
}
.fa-star,.fa-star-o{
    font-size: 17px;
}
.radio.radio-success input[type=radio]:checked + label:before{
    border-color: #00aae7;
}
// .form-control:focus{
//     border-color: rgba(00, 0, 0, 0.1);
//     background-color: white;
//     outline: 0 !important;
//     box-shadow: 0 0 0 0.05rem rgba(00, 214, 255, 0.75);
// }
.vertical-hr{
    border-right: 1px solid lightgray;
}

.fa-user, .fa-comment{
    height: 15px;
    width:15px;
} 
.input-group-text{
    background: #00aae7;
    color: #fff;
}

// .btn-complete:hover{
//     background:#1e7e34 !important;
//     .fa-user,.fa-comment{
//         color:white !important;
//     }

// }
.btn-complete{
    border-color: #00aae7;
}
.btn-complete:hover{
    background:#00aae7 !important;
    .fa-user,.fa-comment{
        color:white !important;
    }

}

.scroller::-webkit-scrollbar {
    background-color: #b7b2b3;
    float: left;
    margin-bottom: 25px;
    margin-left: 22px;
    margin-top: 40px;
    width: 5px;
    overflow-y: scroll;
    color: #2368a0;
  }

  .scroller::-moz-scrollbar {
    background-color: #b7b2b3;
    float: left;
    margin-bottom: 25px;
    margin-left: 22px;
    margin-top: 40px;
    width: 5px;
    overflow-y: scroll;
    color: #2368a0;
  }

  .scroller::-webkit-scrollbar-thumb {
    background-color: #00aae7;
  }

  .scroller ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
  }

  .scroller {
    overflow-y: hidden !important;
  }

  .scroller:hover {
    overflow-y: scroll !important;
  }

  