// Pages Light Theme  
// --------------------------------------------------
// Copyright Reserved Revox - 2014
// --------------------------------------------------

$base-img-url: "../../img";
$assets-url: "../../../assets";

// Global Color 
// --------------------------------------------------
// Base Grey Guided Color * change only $base-light
// --------------------------------------------------

$color-white: #fff;
$color-black: #000;

//Base Grey Color
$color-master: #7a8994;

// Lighter Grey colors
$color-master-light:mix($color-master, #fff, 16%);
$color-master-lighter:mix($color-master, #fff, 9.5%);
$color-master-lightest:#f6f9fa;

// Darker Grey colors
$color-master-dark:mix($color-master, #000, 45%);
$color-master-darker:mix($color-master, #000, 27%);
$color-master-darkest:mix($color-master, #000, 18%);


$base-font-family: "Segoe UI",sans-serif !default;

// Menu Vars
// --------------------------------------------------
//Menu Animation Curve
$menu-bezier:.05, .74, .27, .99;
$menu-icon-size:40px;
$color-menu :#fff;
$color-menu-dark :#fff;
$color-menu-darker :#fff;

//Generating Menu font color
// $menu-mix-temp : mix($color-menu, #fff, 92%);
// $menu :hardlight(#fff, $menu-mix-temp);
$color-menu-light :#627182;
//Menu Font Color
$color-menu-link-hover:#000;

// Body
// --------------------------------------------------
$body-background: #fff;
$body-color: $color-master;
$body-font-family : $base-font-family;
$body-font-size : 13px;

// Layout
// --------------------------------------------------
$layout-header-height:60px;
$layout-mobile-header-height:48px;
$layout-mobile-logo-scale:0.8;
$layout-sidepanel-width-collapsed : 70px;
$layout-sidepanel-width:280px;
$layout-sidepanel-pin-width:250px;
$layout-right-quickview-width: 285px;
$layout-user-profile-margin:25px;
$layout-container-fixed-lg: 1700px;

$layout-gutter-sm : 5px;

//Horizontal Dropdown
//---------------------------------------------------
$navbar-width:45px;
$menu-padding:25px;

$header-lg-height:75px;
$header-md-height:51px;
$header-sm-height:50px;


// Panels
$panel-border-color: rgba(0, 0, 0, 0.07);
$panel-padding: 20px;
$panel-heading-padding: $panel-padding $panel-padding 7px $panel-padding;
$panel-heading-min-height: 48px;
$panel-condensed-heading-padding: 13px 13px 0 13px;
$panel-condensed-body-padding: 13px;
$panel-condensed-heading-min-height: 48px;

//Forms
$form-group-height: 54px !default;
$form-control-border-color: rgba($color-black, .07);

//Dashboard
$dashboard-background : $color-master-lightest;

$color-white: #fff;
$color-black: #000;

$color-success: #007be8;
$color-complete : #00e8ba;
$color-primary: #007be8;
$color-warning: #fed76e;
$color-danger: #ea2c54;
$color-info: #47525e;

//Mixing Color varriable for creating both light and dark colors
$mix-percentage-dark: 81%;
$mix-percentage-darker: 60%;
$mix-percentage-light: 80%;
$mix-percentage-lighter: 20%;

//Lighter colors
$color-success-light: mix($color-success, $color-white, $mix-percentage-light);
$color-success-lighter: mix($color-success, $color-white, $mix-percentage-lighter);

$color-complete-light: mix($color-complete, $color-white, $mix-percentage-light);
$color-complete-lighter: mix($color-complete, $color-white, $mix-percentage-lighter);

$color-primary-light: mix($color-primary, $color-white, $mix-percentage-light);
$color-primary-lighter: mix($color-primary, $color-white, $mix-percentage-lighter);

$color-warning-light: mix($color-warning, $color-white, $mix-percentage-light);
$color-warning-lighter: mix($color-warning, $color-white, $mix-percentage-lighter);

$color-danger-light: mix($color-danger, $color-white, $mix-percentage-light);
$color-danger-lighter: mix($color-danger, $color-white, $mix-percentage-lighter);

$color-info-light: mix($color-info, $color-white, $mix-percentage-light);
$color-info-lighter: mix($color-info, $color-white, $mix-percentage-lighter);

//Darker colors
$color-success-dark: mix($color-success, $color-black, $mix-percentage-dark);
$color-success-darker: mix($color-success, $color-black, $mix-percentage-darker);

$color-complete-dark: mix($color-complete, $color-black, $mix-percentage-dark);
$color-complete-darker: mix($color-complete, $color-black, $mix-percentage-darker);

$color-primary-dark: mix($color-primary, $color-black, $mix-percentage-dark);
$color-primary-darker: mix($color-primary, $color-black, $mix-percentage-darker);

$color-warning-dark: mix($color-warning, $color-black, $mix-percentage-dark);
$color-warning-darker: mix($color-warning, $color-black, $mix-percentage-darker);

$color-danger-dark: mix($color-danger, $color-black, $mix-percentage-dark);
$color-danger-darker: mix($color-danger, $color-black, $mix-percentage-darker);

$color-info-dark: mix($color-info, $color-black, $mix-percentage-dark);
$color-info-darker: mix($color-info, $color-black, $mix-percentage-darker);

// Email colors
$sidebar-background-color : $color-menu-dark;

$secondary-sidebar-width : 250px;

// Components
// --------------------------------------------------
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

//$padding-base-vertical:     6px;
$padding-base-horizontal:   17px;

// $padding-lg-vertical:    28px;
$padding-lg-horizontal:  28px;

// $padding-sm-vertical:    5px;
$padding-sm-horizontal:  16px;

$padding-xs-vertical:       2px;
$padding-xs-horizontal:     9px;
