.hierarchy-container{
    .fa-plus, .fa-minus{
        background: #232527;
        padding: 2px 4px;
        border-radius: 50%;
        // left: 35%;
        color: white;
        position: absolute;
        top: -12px;
    }
}
.for-image{
    position: absolute;
    border: 1px solid white;
    border-radius: 50%;
    top: 2px;
    z-index: 99;
}
.for-content-open{
    background-color: #00aae7 !important;
}

.for-content{
    box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22) !important;
    position: absolute;
    background-color: #8c8c8c;
    left: 25px;
    border: 3px solid white;
    z-index: 0;
    padding: 15px;
    padding-left: 35px;
    
    border-radius: 15px;
    color: white;
}
.for-controls{
    bottom: 2px;
    width: 100%;
    left:47%;
    position: absolute;
}


.main-box{

    position: relative;
    width:200px;
    height: 60px;

}

.main-box1:after{
    content: '';
    border-left: 1px solid black;
    height: 69%;
    position: absolute;
    bottom: -44px;
    left: 51%;
}

.first-level-child{
    display: flex;
    margin-top: 25px;
    // margin-left: 20px;
    margin-left: 40px;

    .inside-first-level-child{
        width: 200px;
        position: relative;
    }
    
    .inside-first-level-child:after{
        content: '';
        border-top: 1px solid black;
        width: 30px;
        position: absolute;
        top: 46%;
        /* z-index: 99; */
        left: -13%;
    }
    .inside-first-level-child:nth-child(1):after{
        content: none;
        border:none !important;
    }
    .inner-box{
        display: flex;position: relative;margin: auto !important;
        height:60px;
    }

}


.second-level-child{
    display: flex;
    margin-top: 25px;
    margin-left: 20px;
position: absolute;

    .inside-second-level-child{
        width: 200px;
        position: relative;
    }
    
    .inside-second-level-child:after{
        content: '';
        border-top: 1px solid black;
        width: 50px;
        position: absolute;
        top: 46%;
        /* z-index: 99; */
        left: -23%;
        // z-index: -1;
    }
    .inside-second-level-child:nth-child(1):after{
        content: none;
        border:none !important;
    }
    .inner-box{
        display: flex;position: relative;margin: auto !important;
        height:60px;
        z-index: 99 !important;
    }

}



.third-level-child{
    display: flex;
    margin-top: 25px;
    margin-left: 20px;
position: absolute;

    .inside-third-level-child{
        width: 200px;
        position: relative;
        z-index: 99
    }
    
    .inside-third-level-child:after{
        content: '';
        border-top: 1px solid black;
        width: 50px;
        position: absolute;
        top: 46%;
        /* z-index: 99; */
        left: -23%;
        // z-index: -1;
    }
    .inside-third-level-child:nth-child(1):after{
        content: none;
        border:none !important;
    }
    .inner-box{
        display: flex;position: relative;margin: auto !important;
        height:60px;
        z-index: 99 !important;
    }

}
.hierarchy-container{
    background: white;
    padding: 10px;
    height: 100%;
    min-height: 70vh;
}


.user-info{
    background: #232527;
    color: white;
    position: absolute;
    right: 18px;
    width: 20px;
    text-align: center;
    height: 20px;
    border-radius: 50%;
    top: -5px;
}