<pg-container>

  <pg-breadcrumb>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Home</a>
      </li>
      <li class="breadcrumb-item active">Hierarchy</li>
    </ol>
  </pg-breadcrumb>
</pg-container>


<pg-container >
  <div class="hierarchy-container">
    <div class="row main-container" *ngFor="let parent of myData" style="margin-top:25px !important">
      <div #container123 class="col-md-12" style="display: block">
        <div class="box main-box" [class.main-box1]="showFirstLevelChild" style="position: relative;">
          <div class="for-image">
            <img class="img-class" [src]="parent.imgUrl" height="50" width="50" style="border-radius:50%;">
          </div>
          <div class="for-content" [class.for-content-open]="parent.showChildrens">{{parent.name}}</div>
          <div class="for-controls" *ngIf="parent.children.length > 0">
            <i class="fa fa-plus" *ngIf="!showFirstLevelChild" (click)="showChild1(parent)"></i>
            <i class="fa fa-minus" *ngIf="showFirstLevelChild" (click)="showChild1(parent)"></i>

          </div>
          <!-- <div class="user-info">
            <i class="fa fa-info"></i>
          </div> -->
        </div>
      </div>

      <!-- *ngIf="parent.children.length > 0" -->
      <div *ngIf="showFirstLevelChild" class="first-level-child">
        <div class="inside-first-level-child" *ngFor="let a of parent.children">
          <div class="box inner-box" [class.main-box1]="a.showChildrens" style="display: flex;position: relative;margin: auto !important">
            <div class="for-image">
              <img class="img-class" [src]="a.imgUrl" height="50" width="50" style="border-radius:50%;">
            </div>
            <div class="for-content" [class.for-content-open]="a.showChildrens">{{a.name}}</div>
            <div class="for-controls" *ngIf="a.children.length > 0">
              <i class="fa fa-plus" *ngIf="!a.showChildrens" (click)="showChild2(a,parent)"></i>
              <i class="fa fa-minus" *ngIf="a.showChildrens" (click)="showChild2(a,parent)"></i>
            </div>
          </div>


          <!-- showSecondLevelChild -->
          <div *ngIf="a.showChildrens" class="second-level-child">
            <div class="inside-second-level-child" *ngFor="let b of a.children">
              <div class="box inner-box" [class.main-box1]="b.showChildrens" style="display: flex;position: relative;margin: auto !important">
                <div class="for-image">
                  <img class="img-class" [src]="b.imgUrl" height="50" width="50" style="border-radius:50%;">
                </div>
                <div class="for-content" [class.for-content-open]="b.showChildrens">{{b.name}}</div>
                <div class="for-controls" *ngIf="b.children.length > 0">
                  <i class="fa fa-plus" *ngIf="!b.showChildrens" (click)="showChild3(b,a,parent)"></i>
                  <i class="fa fa-minus" *ngIf="b.showChildrens" (click)="showChild3(b,a,parent)"></i>
                </div>
              </div>




              <!-- third level children -->
              <div *ngIf="b.showChildrens" class="third-level-child">
                <div class="inside-third-level-child" *ngFor="let c of b.children">
                  <div class="box inner-box" style="display: flex;position: relative;margin: auto !important">
                    <div class="for-image">
                      <img class="img-class" [src]="c.imgUrl" height="50" width="50" style="border-radius:50%;">
                    </div>
                    <div class="for-content">{{c.name}}</div>
                    <!-- <div class="for-controls" >
                             <i class="fa fa-plus"  (click)="showChild3(a)"></i>
                             <i class="fa fa-minus" (click)="showChild3(a)"></i>
                           </div> -->
                  </div>
                </div>
              </div>


            </div>
          </div>





        </div>




      </div>


    </div>
  </div>
</pg-container>