<pg-container>
  <div class="card card-default p-3" style="padding-bottom: 5px !important;margin-bottom:15px !important">
    <!-- Below belongs to Search -->
    <div class="row">

      <div class="col-md-8">

        <div class="row">
          <div class="col-md-4">
            <div class="form-group form-group-default input-group" style="height:85%">
              <div class="form-input-group">
                <label>Start</label>
                <pg-datepicker id='startDate' (ngModelChange)="_startDate=$event;_startSearchValueChange()"
                  Placeholder="Start Date" [ngModel]="_startDate" AllowClear ShowSearch
                  [DisabledDate]="_disabledSearchStartDate" [Format]="'YYYY-MM-DD'"></pg-datepicker>

              </div>
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>
            </div>

          </div>
          <div class="col-md-4">

            <div class="form-group form-group-default input-group" style="height:85%">
              <div class="form-input-group">
                <label>End</label>
                <pg-datepicker (ngModelChange)="_endDate=$event;_endSearchValueChange()" Placeholder="End Date"
                  [ngModel]="_endDate" AllowClear ShowSearch [DisabledDate]="_disabledSearchEndDate"
                  [Format]="'YYYY-MM-DD'"></pg-datepicker>

              </div>
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>
            </div>

          </div>

          <div class="col-md-4">
            <div class="form-group form-group-default form-group-default-select2">
              <label class="">Status</label>
              <pg-select style="width: 100%;" [(ngModel)]="selectedOption" [PlaceHolder]="'Select Option'" AllowClear
                ShowSearch>
                <pg-option *ngFor="let option of options" [Label]="option.label" [Value]="option"
                  [Disabled]="option.disabled">
                </pg-option>
              </pg-select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4" style="display:flex">
        <button class="btn btn-primary" style="height: 56px;width:50%;border-radius: 0;font-size: 15px;"
          (click)='leaveSearch()'>
          <i class="fa fa-search mr-1"></i>Search
        </button>

        <button class="btn btn-primary  ml-3" (click)="showAddLeave()"
          style="height: 56px;width:50%;border-radius: 0;font-size: 15px;background: #0d416b;border:#0d416b;">
          <i class="fa fa-plus mr-1" style="color:white;"></i>Apply
        </button>
      </div>

    </div>
  </div>

  <div class="card card-default p-3">

    <div class="row">
      <div class="col-md-12">
        <!-- Table contains data from API -->
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Days</th>
              <th>Leave type</th>
              <th>Status</th>
              <th>Applied Date</th>
            </tr>
          </thead>

          <tbody>
            <!--   AppliedDate: "2016-05-18 11:00:12.0"
Days: 1
EndDate: "2016-05-20 00:00:00.0"
STATUS: "Approved"
StartDate: "2016-05-19 00:00:00.0"
leaveType: "Vacation" -->
            <tr
              *ngFor="let data of LeavesHistory | paginate: { id: 'foo', itemsPerPage: 10, currentPage: p}; let i = index"
              (click)="showLeaveEdit(data, i)">
              <td class="start">
                {{data.StartDate |date: mediumDate}}
              </td>
              <td class="end">
                {{data.EndDate |date: mediumDate}}
              </td>
              <td class="days">
                {{data.Days}}
              </td>
              <td class="leave-type">
                {{data.LeaveRequestType}}
              </td>
              <td class="status">
                <p class="label label-success" style="padding:5px 10px;width:80px;margin:0 auto"
                  [ngStyle]="{'background-color':getStatus(data.STATUS)}">
                  {{data.STATUS}}
                </p>
              </td>
              <td class="approved-date">
                {{data.AppliedDate |date: mediumDate}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row pt-4" *ngIf='LeavesHistory.length > 1'>
      <!-- consider this a footer for the form -->
      <div class="col-md-6">
        <span style="font-size: 12px;
          padding: 0 20px;
          color: #575757;">
          Displaying <b *ngIf='LeavesHistory'>{{(( p > 1 ? p : 1 ) - 1) * 10 + 1}} - {{finalNumber()}}</b> of
          {{LeavesHistory.length}} entries
        </span>
      </div>
      <div class="col-md-6">
        <div>
          <pagination-controls class="pagination-block" id='foo' (pageChange)="p = $event" autoHide="true">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>

  <!--Edit an existing Leave Modal -->
  <div bsModal #mdSlideUpEditLeave="bs-modal" class="modal fade slide-up disable-scroll" tabindex="-1" role="dialog"
    aria-hidden="false">

    <div class="modal-dialog modal-lg" style="width:750px !important">
      <div [style.opacity]="opacity" class="modal-content-wrapper">
        <div class="modal-content">
          <div class="modal-header clearfix text-left">
            <button type="button" class="close" (click)="mdSlideUpEditLeave.hide()" aria-hidden="true">
              <i class="pg pg-close fs-14"></i>
            </button>
            <h5>
              <span class="semi-bold">Edit Leave Information</span>
            </h5>
            <p class="p-b-10">Please change the required information and update</p>
          </div>
          <div class="modal-body">
            <form [formGroup]='duplicateShowLeaveEditData'>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group form-group-default form-group-default-select2">
                    <label class="">Leave Type</label>
                    <pg-select style="width: 100%;" formControlName='LeaveType' [PlaceHolder]="'Select Option'"
                      [Mode]=''>
                      <pg-option *ngFor="let option of leaveTypes" [Label]="option.label" [Value]="option.label"
                        selected='true'>
                      </pg-option>
                    </pg-select>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group form-group-default input-group"
                    [class.has-error]='duplicateShowLeaveEditData.get("StartDate").invalid'>
                    <div class="form-input-group">
                      <label>Start</label>
                      <pg-datepicker formControlName="StartDate" AllowClear ShowSearch id='editLeaveStartDate'
                        [DisabledDate]="_disabledStartDate" required></pg-datepicker>
                    </div>
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="fa fa-calendar"></i>
                      </span>
                    </div>
                  </div>
                </div>


                <div class="col-md-4" *ngIf="showHalfDay">
                  <div class="form-group form-group-default input-group">
                    <div class="form-input-group">
                      <label>Start Time</label>
                      <input type='time' formControlName='startTime' class='form-control' step="2" required>
                    </div>
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="fa fa-clock-o"></i>
                      </span>
                    </div>
                  </div>
                </div>


                <div class="col-md-4" *ngIf="showHalfDay">
                  <div class="form-group form-group-default input-group">
                    <div class="form-input-group">
                      <label>End Time</label>
                      <input type='time' class='form-control' formControlName='endTime' step="2" required>
                    </div>
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="fa fa-clock-o"></i>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-md-4" *ngIf="!showHalfDay">
                  <div class="form-group form-group-default input-group"
                    [class.has-error]='duplicateShowLeaveEditData.get("EndDate").invalid'>
                    <div class="form-input-group">
                      <label>End</label>
                      <pg-datepicker formControlName="EndDate" AllowClear ShowSearch id="ealveEditEndDate"
                        [DisabledDate]="_disabledEndDate" [Format]="'YYYY-MM-DD'" required></pg-datepicker>
                    </div>
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="fa fa-calendar"></i>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-md-4" *ngIf="!showHalfDay">
                  <div class="form-group form-group-default form-group-default-select2">
                    <label class="">Include Weekend</label>
                    <pg-select style="width: 100%;" formControlName="includeWeekend" [PlaceHolder]="'Select Option'"
                      [Mode]=''>
                      <pg-option *ngFor="let option of includeWeekends" [Label]="option.label" [Value]="option.value"
                        select='true'>
                      </pg-option>
                    </pg-select>
                  </div>
                </div>



                <div class="col-md-4">

                  <div class="form-group form-group-default form-group-default-select2">
                    <label class="">Select Category</label>
                    <pg-select style="width: 100%;" formControlName="category" [PlaceHolder]="'Select Option'"
                      [Mode]=''>
                      <pg-option *ngFor="let option of LeaveCategory" [Label]="option.label" [Value]="option.label">
                      </pg-option>
                    </pg-select>
                  </div>

                </div>
                <div class="col-md-4" *ngIf="showOtherTitle">
                  <div class="form-group form-group-default"
                    [class.has-error]='duplicateShowLeaveEditData.get("otherCategory").invalid'>
                    <label>If Other</label>
                    <input type="text" class="form-control" formControlName='otherCategory'>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-group-default"
                    [class.has-error]='duplicateShowLeaveEditData.get("Reason").invalid'>
                    <label>Reason</label>
                    <textarea type="text" formControlName='Reason' rows="4" class="form-control"
                      required>{{duplicateShowLeaveEditData.controls.Reason.value}}</textarea>
                  </div>

                </div>

              </div>

              <div class="row">
                <div class="col-md-8 m-t-10 sm-m-t-10">

                  <button *ngIf='cancelButton' style="float: left" (click)="showSlideUpDelete()" type="button"
                    class="btn btn-danger miracle-submit m-t-5">Cancel Leave</button>

                </div>
                <div class="col-md-4 m-t-10 sm-m-t-10">
                  <button (click)="mdSlideUpEditLeave.hide(); update()" *ngIf='updateButton'
                    [disabled]='duplicateShowLeaveEditData.invalid || duplicateShowLeaveEditData.untouched'
                    type="button" class="btn btn-primary miracle-submit m-t-5">Update</button>
                  <button (click)="mdSlideUpEditLeave.hide();" *ngIf='!updateButton' type="button"
                    class="btn btn-primary miracle-submit m-t-5">Close</button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>

    <!-- /.modal-content -->

  </div>
  <!-- /.modal-dialog -->




  <!-- delete modal -->
  <div bsModal #mdSlideUpDelete="bs-modal" class="modal fade slide-up disable-scroll" tabindex="-1" role="dialog"
    aria-hidden="false">
    <div class="modal-dialog modal-sm">
      <div class="modal-content-wrapper">
        <div class="modal-content">

          <div class="modal-body text-center m-t-20">
            <h4 class="no-margin p-b-10">Are you sure you want to cancel the leave request?</h4>
            <div class="row">
              <div class="col-md-6">
                <button class="btn btn-danger btn-cons" (click)="mdSlideUpDelete.hide();opacity=1"
                  type="button">Close</button>
              </div>
              <div class="col-md-6">
                <button class="btn btn-success btn-cons"
                  (click)="mdSlideUpDelete.hide();opacity=1;mdSlideUpEditLeave.hide(); cancelLeave()"
                  type="button">Confirm</button>
              </div>

            </div>
          </div>

        </div>
      </div>
      <!-- /.modal-content -->
    </div>
  </div>
  <!-- delete modal -->



  <!-- add a new leave modal -->
  <div bsModal #mdSlideUpAddLeave="bs-modal" class="modal fade slide-up disable-scroll" tabindex="-1" role="dialog"
    aria-hidden="false">
    <div class="modal-dialog modal-lg" style="width:750px !important">
      <div class="modal-content-wrapper">
        <div class="modal-content">
          <div class="modal-header clearfix text-left">
            <button type="button" class="close" (click)="mdSlideUpAddLeave.hide()" aria-hidden="true">
              <i class="pg pg-close fs-14"></i>
            </button>
            <h5>
              <span class="semi-bold">Add Leave Request</span>
            </h5>
            <p class="p-b-10">Please add the required information and request</p>
          </div>
          <form [formGroup]='applyLeaveDetails'>
            <div class="modal-body">

              <div class="row">

                <div class="col-md-4">
                  <div class="form-group form-group-default form-group-default-select2"
                    [class.has-error]='applyLeaveDetails.get("leaveRequestType").invalid && applyLeaveDetails.get("leaveRequestType").touched'>
                    <label class="">Leave Type</label>

                    <pg-select style="width: 100%;" formControlName='leaveRequestType' [PlaceHolder]="'Select Option'"
                      [Mode]=''>
                      <pg-option *ngFor="let option of leaveTypes" [Label]="option.label" [Value]="option.label"
                        selected='true'>
                      </pg-option>
                    </pg-select>

                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group form-group-default input-group"
                    [class.has-error]='applyLeaveDetails.get("startDate").invalid && applyLeaveDetails.get("startDate").touched'>
                    <div class="form-input-group">
                      <label>Start</label>

                      <pg-datepicker id='newStartDate' Placeholder="Start Date" formControlName='startDate' AllowClear
                        ShowSearch [DisabledDate]="_disabledNewStartDate" required>
                      </pg-datepicker>
                    </div>
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="fa fa-calendar"></i>
                      </span>
                    </div>
                  </div>
                </div>


                <div class="col-md-4" *ngIf="showHalfDay">
                  <div class="form-group form-group-default input-group"
                    [class.has-error]='applyLeaveDetails.get("startTime").invalid && applyLeaveDetails.get("startTime").touched'>
                    <div class="form-input-group">
                      <label>Start Time</label>

                      <!-- If there's an issue know that old browsers doesn;t support time correctly, so it'll fallback to pattern/regEx, correct the pattern accordingly -->
                      <!--  pattern="[0-9]{2}:[0-9]{2}" -->
                      <input type='time' formControlName="startTime" class='form-control' step="2">
                    </div>
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="fa fa-clock-o"></i>
                      </span>
                    </div>
                  </div>
                </div>


                <div class="col-md-4" *ngIf="showHalfDay">
                  <div class="form-group form-group-default input-group"
                    [class.has-error]='applyLeaveDetails.get("endTime").invalid && applyLeaveDetails.get("endTime").touched'>
                    <div class="form-input-group">
                      <label>End Time</label>
                      <!-- <pg-timepicker [(ngModel)]="_date"></pg-timepicker> min="00:00" max="23:60" required-->
                      <input type='time' formControlName="endTime" class='form-control' step="2">
                    </div>
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="fa fa-clock-o"></i>
                      </span>
                    </div>
                  </div>
                </div>


                <div class="col-md-4" *ngIf="!showHalfDay">
                  <div class="form-group form-group-default input-group"
                    [class.has-error]='applyLeaveDetails.get("endDate").invalid && applyLeaveDetails.get("endDate").touched'>
                    <div class="form-input-group">
                      <label>End</label>

                      <pg-datepicker formControlName='endDate' Placeholder="End Date" AllowClear ShowSearch
                        [DisabledDate]="_disabledNewEndDate" [Format]="'YYYY-MM-DD'" required></pg-datepicker>
                    </div>
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="fa fa-calendar"></i>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-md-4" *ngIf="!showHalfDay">
                  <div class="form-group form-group-default form-group-default-select2"
                    [class.has-error]='applyLeaveDetails.get("includeWeekend").invalid && applyLeaveDetails.get("includeWeekend").touched'>
                    <label class="">Include Weekend</label>
                    <pg-select style="width: 100%;" formControlName='includeWeekend' [PlaceHolder]="'Select Option'"
                      AllowClear ShowSearch required>
                      <pg-option *ngFor="let option of includeWeekends" [Label]="option.label" [Value]="option.value"
                        [Disabled]="option.disabled">
                      </pg-option>
                    </pg-select>
                  </div>
                </div>

                <div class="col-md-4">

                  <div class="form-group form-group-default form-group-default-select2"
                    [class.has-error]='applyLeaveDetails.get("category").invalid && applyLeaveDetails.get("category").touched'>
                    <label class="">Select Category</label>
                    <pg-select style="width: 100%;" formControlName="category" [PlaceHolder]="'Select Option'" [Mode]=''
                      AllowClear ShowSearch required>
                      <pg-option *ngFor="let option of LeaveCategory" [Label]="option.label" [Value]="option.label"
                        [Disabled]="option.disabled">
                      </pg-option>
                    </pg-select>
                  </div>

                </div>
                <div class="col-md-4" *ngIf="showOtherTitle">
                  <div class="form-group form-group-default"
                    [class.has-error]='applyLeaveDetails.get("otherCategory").invalid && applyLeaveDetails.get("otherCategory").touched'>
                    <label>If Other</label>
                    <input type="text" formControlName='otherCategory' class="form-control">
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-group-default"
                    [class.has-error]='applyLeaveDetails.get("reason").invalid && applyLeaveDetails.get("reason").touched'>
                    <label>Reason</label>
                    <textarea rows="4" formControlName='reason' type="text" class="form-control" required></textarea>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-8 m-t-10 sm-m-t-10">
                  <button type="button" class="float-left btn btn-success m-t-5">Leaves Available : {{availableLeaves}}</button>
                </div>
                <div class="col-md-4 m-t-10 sm-m-t-10">
                  <!--  || (applyLeaveDetails.invalid && applyLeaveDetails.untouched) -->
                  <button (click)="mdSlideUpAddLeave.hide(); applyLeave()" [disabled]="applyLeaveDetails.invalid"
                    type="button" class="btn miracle-submit btn-primary m-t-5">Request</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
  </div>
  <!-- add leave modal -->
</pg-container>