tbody{
    td{
        text-align: center;
    }
    // .billable{
    //     text-align: center
    // }
}
th{
    text-align: center
}
// .table tbody tr:last-child td{
//     border:none
// }
.fa-edit:hover{
    color:#00aae7;
    cursor:pointer;
}
.fa-trash:hover{
    color:#f35958;
    cursor:pointer;
}
.modal{
    .pg-select-dropdown-menu{
        max-height: 130px;
    }
}
.pagination-block{
    ul{
        list-style-type: none;
        float: right;
        li{
            display: inline-block;
            padding-left: 0;
            font-size: 11px;
            a{
                font-weight: 700;
                color: #575757;
                opacity: 0.35;
                padding: 5px 10px;
               
            }
            a.active{
                opacity: 1;
            }
        }
    }
}
input[type="time"]::-webkit-clear-button {
    display: none;
}
.fa-clock-o{
    font-size:19px;
}