.me-all{
    display:flex;  
    position: absolute;
    right: 30px;
    top: 15px;
    background: white;
    padding: 5px 10px;
    cursor:pointer;
}
.me-all .active{
    background:#232527;
    color: white;
}