<pg-container>

    <pg-breadcrumb>
      <ol class="breadcrumb" >
        <li class="breadcrumb-item">
          <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item active">Leaves</li>
      </ol>
    </pg-breadcrumb>
    <div class="me-all" *ngIf='resourceRole'>
      <div style="padding: 2px 10px;" [class.active]="me" (click)="me=true;all=false">Me</div>
      <div style="padding: 2px 10px;" [class.active]="all" (click)="me=false;all=true">All</div>
    </div>
  </pg-container>

<app-my-leaves *ngIf="me"></app-my-leaves>
<app-leave-approvals *ngIf="all"></app-leave-approvals>