.m-white-bg{
    background-color: #FFFFFF !important;
}
.m-white-fg{
    color: #ffffff !important;
}

.m-black-bg{
    background-color: #232527 !important;
}

.m-black-fg{
    color: #232527 !important;
}


.m-light-blue-bg{
    background-color: #00AAE7 !important;
}

.m-light-blue-fg{
    color: #00AAE7 !important;
}


.m-dark-blue-bg{
    background-color: #0D416B !important;
}

.m-dark-blue-fg{
    color: #0D416B !important;
}

.m-medium-blue-bg{
    background-color: #2368A0 !important;
}

.m-medium-blue-fg{
    color: #2368A0 !important;
}

.m-light-grey-bg{
    background-color: #B7B2B3 !important;
}

.m-light-grey-fg{
    color: #B7B2B3 !important;
}

.m-dark-grey-bg{
    background-color: #8C8C8C !important;
}

.m-dark-grey-fg{
    color: #8C8C8C !important;
}

.m-red-bg{
    background-color: #EF4048 !important;
}

.m-red-fg{
    color: #EF4048 !important;
}