tbody{
    td{
        text-align: center;
    }
    // .billable{
    //     text-align: center
    // }
}
th{
    text-align: center
}
.table tbody tr:last-child td{
    border:none
}
.fa-edit:hover{
    color:#00aae7;
    cursor:pointer;
}
.fa-trash:hover{
    color:#f35958;
    cursor:pointer;
}
.go-back{
    i{
        font-size: 15px;
    }
}
.total-details td{
    background: #d7effb;
}
.header-date{
    color: rgba(0,0,0,0.7);
    font-size: 14px;
}
input{
    text-align: center;
}