
<pg-container>
  
  <pg-breadcrumb>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active">Timesheets</li>
    </ol>
  </pg-breadcrumb>  
</pg-container>


<pg-container *ngIf="!editTimeSheet">
  <div class="card card-default p-3" style="padding-bottom: 5px !important">
    <div class="row">
      <div class="col-md-3">
          <div class="form-group form-group-default input-group">
              <div class="form-input-group">
                <label>Start</label>
                <pg-datepicker></pg-datepicker>
              </div>
              <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </span>
              </div>
            </div>
      </div>
      <div class="col-md-3">
          <div class="form-group form-group-default input-group">
              <div class="form-input-group">
                <label>End</label>
                <pg-datepicker></pg-datepicker>
              </div>
              <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </span>
              </div>
            </div>
      </div>

      <div class="col-md-3">
          <div class="form-group form-group-default form-group-default-select2">
              <label class="">Status</label>
              <pg-select style="width: 100%;" [(ngModel)]="selectedOption" [PlaceHolder]="'Select Option'" AllowClear ShowSearch>
                  <pg-option
                  *ngFor="let option of options"
                  [Label]="option.label"
                  [Value]="option"
                  [Disabled]="option.disabled">
                </pg-option>
                </pg-select>
            </div>
      </div>

      <div class="col-md-3">
        <button class="btn btn-primary" style="height: 56px;width:100%;border-radius: 0;font-size: 15px;">
          Search
        </button>
 
      </div>
    </div>
  </div>

  <div class="card card-default p-3">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Billable Hrs</th>
              <th>Others</th>
              <th>Submitted Date</th>
              <th>Status</th>
              <th>Approved Date</th>
              <th>Action</th>              
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let data of timesheetHistory">
              <td class="start">
                {{data.startDate}}
              </td>
              <td class="end">
                {{data.endDate}}
              </td>
              <td class="billable">
                {{data.billable}}
              </td>
              <td class="others">
                  {{data.others}}
                </td>
              <td class="submitted-date">
                {{data.submittedDate}}
              </td>
              <td class="status" >
                <p class="label label-success" style="padding:5px 10px;width:80px;margin:0 auto" [ngStyle]="{'background-color':getStatus(data.status)}">
                    {{data.status}}
                </p>
              </td>
              <td class="approved-date">
                {{data.approvedDate}}
              </td>
              <td class="controls">
                <i class="fa fa-edit" (click)="showTimeSheetEdit()" style="font-size:18px;vertical-align:bottom "></i>
                <i class="fa fa-trash pl-2" (click)="showSlideUpDelete()" style="font-size: 18px"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</pg-container>



  <!-- Modal -->
        <div bsModal #mdSlideUp="bs-modal" class="modal fade slide-up disable-scroll" tabindex="-1" role="dialog" aria-hidden="false">
            <div class="modal-dialog modal-lg">
              <div class="modal-content-wrapper">
                <div class="modal-content">
                  <div class="modal-header clearfix text-left">
                    <button type="button" class="close" (click)="mdSlideUp.hide()" aria-hidden="true"><i class="pg pg-close fs-14"></i>
                    </button>
                    <h5><span class="semi-bold">Edit Information</span></h5>
                    <p class="p-b-10">Please change the required information and save</p>
                  </div>
                  <div class="modal-body">
                    <form role="form">
                      <div class="form-group-attached">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group form-group-default">
                              <label>First Name</label>
                              <input type="email" class="form-control">
                            </div>
                          </div>
                          <div class="col-md-4">
                              <div class="form-group form-group-default">
                                <label>Middle Name</label>
                                <input type="text" class="form-control">
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group form-group-default">
                                <label>Last Name</label>
                                <input type="text" class="form-control">
                              </div>
                            </div>
                        </div>
                        
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group form-group-default">
                              <label>Hire Date</label>
                              <input type="email" class="form-control">
                            </div>
                          </div>
                          <div class="col-md-4">
                              <div class="form-group form-group-default">
                                <label>Employee ID</label>
                                <input type="text" class="form-control">
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group form-group-default">
                                <label>ITG Batch</label>
                                <input type="text" class="form-control">
                              </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                              <div class="form-group form-group-default">
                                <label>Designation</label>
                                <input type="email" class="form-control">
                              </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-group-default">
                                  <label>Department</label>
                                  <input type="text" class="form-control">
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group form-group-default">
                                  <label>Work Location</label>
                                  <input type="text" class="form-control">
                                </div>
                              </div>
                          </div>
                      
                      </div>
                    </form>
                    <div class="row">
                      <div class="col-md-8">
                        <div class="p-t-20 clearfix p-l-10 p-r-10">
                        
                        </div>
                      </div>
                      <div class="col-md-4 m-t-10 sm-m-t-10">
                        <button (click)="createNotificationForEdit();mdSlideUpEdit.hide()" type="button" class="btn btn-primary btn-block m-t-5">Save</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
          </div>
          <!-- /.modal-dialog -->




<!-- delete modal -->
<div bsModal #mdSlideUpDelete="bs-modal" class="modal fade slide-up disable-scroll" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-sm">
      <div class="modal-content-wrapper">
        <div class="modal-content">
        
          <div class="modal-body text-center m-t-20">
            <h4 class="no-margin p-b-10">Are you sure to delete timesheet</h4>
            <div class="row">
              <div class="col-md-6">
                  <button class="btn btn-success btn-cons" (click)="mdSlideUpDelete.hide();" type="button">Close</button>
              </div>
              <div class="col-md-6">
                  <button class="btn btn-danger btn-cons" (click)="mdSlideUpDelete.hide();" type="button">Delete</button>
                
              </div>
               
            </div>
          </div>
          
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
  </div>
<!-- delete modal -->





<pg-container *ngIf="editTimeSheet">
    <div class="card card-default p-3" style="padding-bottom: 5px !important;margin-bottom: 15px;">
        <div class="row">
          <div class="col-md-4">
              <div class="form-group form-group-default input-group">
                  <div class="form-input-group">
                    <label>Start</label>
                    <pg-datepicker disabled [(ngModel)]="startValue"></pg-datepicker>
                  </div>
                  <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="fa fa-calendar"></i>
                      </span>
                  </div>
                </div>
          </div>
          <div class="col-md-4">
              <div class="form-group form-group-default input-group">
                  <div class="form-input-group">
                    <label>End</label>
                    <pg-datepicker disabled [(ngModel)]="endValue"></pg-datepicker>
                  </div>
                  <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="fa fa-calendar"></i>
                      </span>
                  </div>
                </div>
          </div>
    
          <div class="col-md-4">
              <div class="form-group form-group-default input-group">
                  <div class="form-input-group">
                    <label>Submitted</label>
                    <pg-datepicker disabled [(ngModel)]="subValue"></pg-datepicker>
                  </div>
                  <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="fa fa-calendar"></i>
                      </span>
                  </div>
                </div>
          </div>
    
    
        
        </div>
      </div>


    <div class="go-back" style="margin-bottom:15px;">
       <button (click)="showTimeSheetEdit()" class="btn btn-primary">
          <i class="fa fa-arrow-left"></i>
       </button>
    </div>

  <div class="card card-default p-3">
        <div class="row mt-2">
            <div class="col-lg-12">
                <div class="table-responsive">
                  
                     <table class="table table-hover table-condensed dataTable no-footer">
                       <thead>
                         <tr>
                
                           <th style="width:12.5%">
                             <span style="color: rgba(0, 0, 0, 0.7)">
                               Projects
                             </span>
                           </th>
                           <th style="width:12.5%">
                             <span class="header-date">
                                15/01/17 
                             </span>
                             <br>
                              SUNDAY
                           </th>
                           <th style="width:12.5%">
                              <span class="header-date">
                                  16/01/17 
                               </span>
                             <br>
                             MONDAY</th>
                           <th style="width:12.5%">
                              <span class="header-date">
                                  17/01/17 
                               </span>
                             <br>
                             TUESDAY</th>
                           <th style="width:12.5%">
                              <span class="header-date">
                                  18/01/17 
                               </span>
                             <br>
                             WEDNESDAY</th> 
                           <th style="width:12.5%">
                              <span class="header-date">
                                  19/01/17 
                               </span>
                             <br>
                             THURSDAY</th>
                           <th style="width:12.5%">
                              <span class="header-date">
                                  20/01/17 
                               </span>
                             <br>
                             FRIDAY</th>
                           <th style="width:12.5%">
                              <span class="header-date">
                                  21/01/17 
                               </span>
                             <br>
                             SATURDAY</th>
                           
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td class="v-align-middle semi-bold">Internal</td>                         
                            <td class="v-align-middle semi-bold"><input type="email" value="8" class="form-control" required=""></td>
                               <td class="v-align-middle semi-bold"><input type="email"  value="8" class="form-control" required=""></td>                              
                                  <td class="v-align-middle semi-bold"><input type="email"  value="8" class="form-control" required=""></td>
                                     <td class="v-align-middle semi-bold"><input type="email"  value="8" class="form-control" required=""></td>
                                        <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                           <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                  
                                  <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td></tr>
                                   <tr>
                           <td class="v-align-middle semi-bold">Vacation</td>                         
                            <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                               <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>                              
                                  <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                     <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                        <td class="v-align-middle semi-bold"><input type="email" value="8" class="form-control" required=""></td>
                                           <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                  
                                  <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td></tr>
                                   <tr>
                           <td class="v-align-middle semi-bold">Holiday</td>                         
                            <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                               <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>                              
                                  <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                     <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                        <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                           <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                  
                                  <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td></tr>
                                   <tr>
                           <td class="v-align-middle semi-bold">Comp Time</td>                         
                            <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                               <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>                              
                                  <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                     <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                        <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                           <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                  
                                  <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td></tr>
                        
                       </tbody>
                     </table>

                     <table class=" mb-2 total-details table table-hover table-condensed dataTable no-footer">
                       <tr>
                         <td>
                           <b>Total</b>
                         </td>
                         <td>
                           Billable : 32
                         </td>
                         <td>
                          Holiday : 0
                        </td>
                        <td>
                          Vacation : 8
                        </td>
                        <td>
                          Comptime : 0
                        </td>
                        
                       </tr>
                     </table>

                   </div>
             </div>
              
              <div class="col-md-12">
                  <div class="form-group form-group-default">
                      <label>Notes</label>
                      <textarea class="form-control" placeholder="Enter notes related to your daily activity" type="text"></textarea>
                  </div>
                 
              </div>
              <div class="col-md-3">
                  <pg-upload
                  Action="https://jsonplaceholder.typicode.com/posts/"
                  [FileList]="fileList2">
                  <button class="btn btn-success btn-cons" style="margin-right:0">
                    <i class="fa fa-upload m-r-10"></i><span>Upload File</span>
                  </button>
                </pg-upload>
              </div>
              <div class="col-md-9">
                <button (click)="showTimeSheetEdit()" class="btn btn-primary" style="bottom: 0;position: absolute;right: 15px;">
                  Update
                </button>
              </div>
        </div>
  </div>
</pg-container> 