<pg-container>
  
  <pg-breadcrumb>
    <ol class="breadcrumb" style="padding-left: 10px;padding-top:20px;">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active">Hierarchy</li>
    </ol>
 </pg-breadcrumb>  
</pg-container>
<pg-container>

    <div class="card card-default p-3" style="    min-height: 69vh;padding-bottom: 5px !important;margin-bottom:15px !important">
       
      <div class="row" style="height:64vh">
        <div class="col-md-8 scroller" style="border-right:1px solid lightgray;height:100%;overflow-y: auto">
          <p-tree [value]="files" >

            <ng-template let-node  pTemplate="default">

              <div style="display:flex;    position: relative;" (click)="s(node.label)">
                  <div class="img-container">
                      <img [src]="node.imgUrl" >
                  </div>
                  <div class="data-container">
                      <div class="for-label">
                        {{node.label}}
                      </div>
                      <div class="for-role">
                        {{node.role}}
                      </div>
                  </div>
              </div>
               
            </ng-template>
        </p-tree>
        </div>
        <div class="col-md-4" style="padding-top:15px;height:100%;overflow: hidden;">
          <div class="text-center">
            <img src="http://172.17.5.118:4200/assets/img/profiles/4x.jpg" alt="">
          </div>
          <div style="margin-top:10px;text-align:center">
            <div class="name" style="    font-size: 17px;
            font-weight: bold;">
              Venkata Chanakya Lokam
            </div>
            <div class="designation">
              Director - Marketing & Innovations
            </div>
            <p class="mt-0 mb-0">

              <i class="fa fa-volume-control-phone alt mr-2 text-primary"></i>(272-412)-27028
            
              <i class="fa fa-mobile alt mr-2 ml-2 text-primary"></i>9652024053
            </p>
            <p>
                Reports To : <span style="font-weight: bold">crangoori</span>
            </p>
            <a href="http://172.17.5.118:4200/view-profile"  target='_blank'>
              <button class="btn btn-primary">
                View Profile
              </button></a>
            
          </div>
        </div>
      </div>

    </div>
</pg-container>