*:focus{
    outline: none;
}

.for-label{
    font-size: 13px;
}
.for-role{
    font-size: 12px;
}
.img-container{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid white;
    overflow: hidden;
    position: absolute;
    left: -38px;
    top: -5px;
    img{
        height: 100%;
        width:100%
    }
}
.data-container{
    padding-left: 20px;
    padding-right:15px;
    min-width: 160px;
}


.scroller::-webkit-scrollbar {
    background-color: #b7b2b3;
    float: left;
    margin-bottom: 25px;
    margin-left: 22px;
    margin-top: 40px;
    width: 5px;
    overflow-y: scroll;
    color: #2368a0;
  }

  .scroller::-moz-scrollbar {
    background-color: #b7b2b3;
    float: left;
    margin-bottom: 25px;
    margin-left: 22px;
    margin-top: 40px;
    width: 5px;
    overflow-y: scroll;
    color: #2368a0;
  }

  .scroller::-webkit-scrollbar-thumb {
    background-color: #00aae7;
  }

  .scroller ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
  }

  .scroller {
    overflow-y: hidden !important;
  }

  .scroller:hover {
    overflow-y: scroll !important;
  }