
.fc-content{
    position: absolute !important;
top: -38px !important;

}
.fc-title{
    margin-top:27px;
    font-size:12px;
    }

.tab-solid-danger .nav-link.active {
border-bottom:3px solid #1094f7 !important;
background-color:transparent !important;
color:#232527 !important;
}

#calendar table tbody tr td.fc-event-container .fc-h-event{
padding: 0px 0px 0px 0px !important;
}


.fc-day-grid-event1{
background-color:#ffffff !important;
}
.holidays.active{
    border-bottom:2px solid #2C3E50;
}
.holiday-list{
   
    .left{
        width: 75%; 
        border-bottom: 1px solid #f3f3f3;
        h4{
            font-weight: 400;
            font-size: 14px;
        }
    }
    .right{
        width: 25%;
        position: relative;
        border-bottom: 1px solid #f3f3f3;
        span{
            position: absolute;
            bottom:10px;
            right:5px;
            color: gray;
        }
    }
}
.card-group>.card:first-child .card-header {
    background: #232527 !important;
}
.card-group .card .card-header .card-title > a.collapsed:after{
    color:white !important;
}
.holiday-list{
    .data{
        display:flex;padding:10px;
        &:last-child .left,&:last-child  .right{
            border:none;
        }
    }
    
}
