<pg-container>
  <div class="row mt-4">
    <div class="col-md-9 p-0">
      <div style="background:white;padding: 15px;margin:auto;width:97%">

        <full-calendar
        
        #fullcalendar
        [editable]="true"
        [events]="eventsModel"
        [header]="options.header"
       
        (dateClick)="dateClick($event)"
        (eventDragStop)="eventDragStop($event)"
        [plugins]="options.plugins"
        (eventClick)="eventClick($event)"
        (eventMouseEnter)="mouseOver($event,calendarPopover)" 
        (eventRender)="eventrender($event.detail)"
        [eventLimit]="4"
       [displayEventTime]="true"
       [displayEventEnd]="true"
       
      ></full-calendar>
      <ng-container *ngIf="isHidden" #calendarPopover>...</ng-container>
      </div>
    </div>
    <div class="col-md-3 p-0" style="background:white">
      <div class="form-group form-group-default form-group-default-select2" style="margin:10px;width:90%">
        <label class="">Year</label>
        <pg-select [ngModelOptions]="{standalone: true}" style="width: 100%;" [(ngModel)]="selectedOption" [PlaceHolder]="'Select Option'"
          AllowClear ShowSearch>
          <pg-option *ngFor="let option of year" [Label]="option.label" [Value]="option" [Disabled]="option.disabled">
          </pg-option>
        </pg-select>
      </div>
     <!-- <div>
      <div class="text-center holidays"  style="color:#fff;background:#232527;padding:10px;font-weight:bold;font-size:14px">
        Events
      </div>
 
     </div> -->
<div style="padding: 10px;">

      
    <pg-collapseset Accordion="true">
        <pg-collapse  id="this-week" [Title]="'THIS WEEK'">
         
            <div class="holiday-list"> 
              <div class="data" *ngFor="let data of birthdays" >
                <div class="left">
                  <h4 style="    margin: 0;
                  padding-bottom: 10px;">{{data.title}} <i class="fa fa-gift"></i></h4>
                </div>
                <div class="right">
                  <span>{{data.date | date:'shortDate'}}</span>
                </div>
                
              </div>
         </div>
  
        </pg-collapse>
        
        <pg-collapse id="holidays" [Title]="'HOLIDAYS'">
           
            <div class="holiday-list"> 
                <div class="data" *ngFor="let data of holidays" >
                  <div class="left">
                    <h4 style="    margin: 0;
                    padding-bottom: 10px;">{{data.title}}</h4>
                  </div>
                  <div class="right">
                    <span>{{data.date | date:'shortDate'}}</span>
                  </div>
                  
                </div>
           </div>

        </pg-collapse>
        <pg-collapse  id="birthdays" [Title]="'BIRTHDAYS'">
          <div class="holiday-list">
            <div class="data" *ngFor="let data of birthdays" >
              <div class="left">
                <h4 style="    margin: 0;
                padding-bottom: 10px;">{{data.title}}</h4>
              </div>
              <div class="right">
                <span>{{data.date | date:'shortDate'}}</span>
              </div>
              
            </div>
       </div>
        </pg-collapse>
        <pg-collapse  id="leaves" [Title]="'LEAVES'">
         <div class="empty">
            No leaves found
         </div>
        </pg-collapse>

    
      </pg-collapseset>
</div>
   
    </div>
  </div>
</pg-container>
