<div class="login-wrapper ">
	<!-- START Login Background Pic Wrapper-->
	<div class="bg-pic">
		<!-- START Background Pic-->
		<div class="img-holder" [ngStyle]="{'background':'url(assets/img/bg-login.jpg)','background-size':'cover'}" style="opacity:0.85 !important;height: 100%;"></div>
		<!-- START Background Caption-->
		<div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-30 m-b-20">
			<h2 class="semi-bold text-white">Hubble - Your portal for Payroll, Timesheets and CRM</h2>

			<p class="small">
				&copy; 2019 Miracle Software Systems, Inc
			</p>
		</div>
		<!-- END Background Caption-->
	</div>
	<!-- END Login Background Pic Wrapper-->
	<!-- START Login Right Container-->
	<div class="login-container bg-white">
		<div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-50 sm-p-l-15 sm-p-r-15 sm-p-t-40">
			<img src="assets/img/miracle-logo.svg" alt="logo" width="200px" height="50" style="margin-left:-10px !important;">

			<p></p>
			<!-- START Login Form -->
			<form class="p-t-15" (ngSubmit)="loginForm.form.valid && login()" role="form" #loginForm="ngForm">
				<!-- START Form Control-->
				<div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="loginUserName.invalid && (loginUserName.dirty || loginUserName.touched)">
					<label>Username</label>
					<input type="text" id="userName" name="userName" [(ngModel)]="userName" #loginUserName="ngModel" required placeholder="Username"
					 class="form-control">
				</div>
				<div *ngIf="loginUserName.invalid && (loginUserName.dirty || loginUserName.touched)">
					<label *ngIf="loginUserName.errors.required" class="error">This field is required.</label>
				</div>
				<!-- END Form Control-->
				<!-- START Form Control-->
				<div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="loginPassword.invalid && (loginPassword.dirty || loginPassword.touched)">
					<label>Password</label>
					<input type="password" class="form-control" placeholder="Password" id="password" name="password" [(ngModel)]="password" #loginPassword="ngModel"
					 required appAppPassword>
				</div>
				<div *ngIf="loginPassword.invalid && (loginPassword.dirty || loginPassword.touched)">
					<label *ngIf="loginPassword.errors.required" class="error">This field is required.</label>
				</div>
				<!-- START Form Control-->
				<div class="row">
					<div class="col-md-6 no-padding sm-p-l-10">
						<div class="checkbox ">
							<input type="checkbox" value="1" id="checkbox1">
							<label for="checkbox1">Keep Me Signed in</label>
						</div>
					</div>
					<div class="col-md-6 d-flex align-items-center justify-content-end">
						<a href="../forgot-password" class="text-primary small">Forgot Password
							<i class="fa fa-question"></i>
						</a>
					</div>
				</div>

				<!-- END Form Control-->
				<button [disabled]=!loginForm.form.valid class="btn btn-primary m-light-blue-bg m-t-10" type="submit">
					<i class="fa fa-lock" style="font-size: 16px;
					vertical-align: middle;"></i> Sign in</button>
			</form>
			<!--END Login Form-->
			<div class="pull-bottom sm-pull-bottom">
				<div class="m-b-50 p-r-80 sm-m-t-0 sm-p-r-15 sm-p-b-20 clearfix">

					<div class="col-sm-10 no-padding m-t-10">
						<p>
							<small>If you are a new employee, please reach out to reporting HR for credentials after registering
								<a href="../register" class="text-primary">here</a>
							</small>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END Login Right Container-->
</div>