<div class="social-wrapper">
  <div class="users-image" (mouseover)="showOverlay = true" (mouseleave)="showOverlay = false">
    <div style="position: relative">
      <img src="assets/img/profiles/4x.jpg" alt="">
      <div class="image-overlay" *ngIf="showOverlay">
        <i class="fa fa-camera"></i>
      </div>
    </div>
  </div>
  <div class="social " data-pages="social">
    <!-- START JUMBOTRON -->
    <div class="jumbotron" data-social="cover" coverpage>
      <div class="cover-photo" pg-parallax [ngStyle]="{'background-image': 'url(https://images.pexels.com/photos/1455986/pexels-photo-1455986.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)'}">
      </div>
      <div class="{% if mode =='horizontal_menu' %} container  {% else %} container-fluid {% endif %}  container-fixed-lg sm-p-l-0 sm-p-r-0">
        <div class="inner">

          <div class="pull-bottom bottom-left m-b-40 sm-p-l-15">

            <h1 class="text-white no-margin">
              <span class="semi-bold">Rajeev</span> Gottimukkala</h1>
            <h5 class="text-white no-margin text-right">Webmaster - Since July, 2015</h5>
          </div>
        </div>
      </div>
    </div>



    <div class="container-fluid container-fixed-lg sm-p-l-0 sm-p-r-0">
      <div class="row">
        <div class="col-md-3 profile-sidebar">
          <div>
            <ul>
              <li class="active">
                <i class="fa fa-user"></i>Basic</li>
              <li>
                <i class="fa fa-suitcase"></i>Employment</li>
              <li>
                <i class="fa fa-user"></i>Personal</li>
              <li>
                <i class="fa fa-university"></i>Bank</li>
              <li>
                <i class="fa fa-facebook"></i>Social</li>
              <li>
                <i class="fa fa-university"></i>Bank</li>
              <!-- <li>
                      <i class="fa fa-facebook"></i> 
                    Social</li> -->
            </ul>
          </div>
        </div>

        <div class="col-md-9">
          <div class="profile-main">
            <h3>
              <span class="semi-bold">

                Basic Details
              </span>
            </h3>


            <i class="fa fa-edit" (click)="showSlideUp()"></i>
            <br>
            <div class="row">
              <div class="col-md-4">
                <label for="" class="for-label">First Name</label>
                <p class="for-text">Rajeev</p>
              </div>
              <div class="col-md-4">
                <label for="" class="for-label">Middle Name</label>
                <p class="for-text">Varma</p>
              </div>
              <div class="col-md-4">
                <label for="" class="for-label">Last Name</label>
                <p class="for-text">Gottimukkala</p>
              </div>



              <div class="col-md-4">
                <label for="" class="for-label">Designation</label>
                <p class="for-text">Web Master</p>
              </div>
              <div class="col-md-4">
                <label for="" class="for-label">Department</label>
                <p class="for-text">Marketing</p>
              </div>
              <div class="col-md-4">
                <label for="" class="for-label">Work Location</label>
                <p class="for-text">Miracle Heights</p>
              </div>


              <div class="col-md-4">
                <label for="" class="for-label">Voip</label>
                <p class="for-text">27028</p>
              </div>
              <div class="col-md-4">
                <label for="" class="for-label">Contant Number 1</label>
                <p class="for-text">9652024053</p>
              </div>
              <div class="col-md-4">
                <label for="" class="for-label">Contact Number 2</label>
                <p class="for-text">7396994195</p>
              </div>


              <div class="col-md-4">
                <label for="" class="for-label">Voip</label>
                <p class="for-text">27028</p>
              </div>
              <div class="col-md-4">
                <label for="" class="for-label">Contant Number 1</label>
                <p class="for-text">9652024053</p>
              </div>
              <div class="col-md-4">
                <label for="" class="for-label">Contact Number 2</label>
                <p class="for-text">7396994195</p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>





  </div>
</div>



<!-- Modal -->
<div bsModal #mdSlideUp="bs-modal" class="modal fade slide-up disable-scroll" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <div class="modal-header clearfix text-left">
          <button type="button" class="close" (click)="mdSlideUp.hide()" aria-hidden="true">
            <i class="pg pg-close fs-14"></i>
          </button>
          <h5>
            <span class="semi-bold">Edit Information</span>
          </h5>
          <p class="p-b-10">Please change the required information and save</p>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group-attached">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group form-group-default">
                    <label>First Name</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-group-default">
                    <label>Middle Name</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-group-default">
                    <label>Last Name</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group form-group-default">
                    <label>Designation</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-group-default">
                    <label>Department</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-group-default">
                    <label>Work Location</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>

            </div>
          </form>
          <div class="row">
            <div class="col-md-8">
              <div class="p-t-20 clearfix p-l-10 p-r-10">
             
              </div>
            </div>
            <div class="col-md-4 m-t-10 sm-m-t-10">
              <button type="button" class="btn btn-primary btn-block m-t-5">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
</div>
<!-- /.modal-dialog -->