.users-image{

    position: absolute;
    top: 20vh;
    left: 20vw;
    z-index: 999 !important;
    img{
        height: 150px;
        width: 150px;
        border-radius: 50%;

      
    }
  
    .image-overlay{
       
        position: absolute;
        background: rgba(255,255,255,0.6);
        width: 100%;
        height: 100%;
        border-radius: 50%;
        top: 0;
        left: 0;
        .fa-camera{
            font-size: 25px;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            color: #232527;
        }
    }
    
}
.social-wrapper .social .jumbotron{
    height: 25vh !important;
}.pull-bottom{
    left: 25vh
}
.profile-sidebar{
    box-shadow: 0 0px 3px 0 rgba(0,0,0,0.2),0 2px 10px 0 rgba(0,0,0,0.19) !important;
    ul{
        margin-top: 35px;
        list-style-type: none;
        padding-left: 0;
        li{
            .fa{
                width:20px;
                text-align: center;
                padding-right:5px;
            }
           font-size: 15px;
           padding: 10px 15px;
           font-weight: bold;
           letter-spacing: 0.5px;
           margin:5px 0;
            &.active{
                box-shadow: 0 0px 3px 0 rgba(0,0,0,0.2),0 2px 10px 0 rgba(0,0,0,0.19) !important;
                color: white;
                background: #00aae7;
            }
           &:hover{
               background: #00aae7;
               cursor: pointer;
               color: white;
               box-shadow: 0 0px 3px 0 rgba(0,0,0,0.2),0 2px 10px 0 rgba(0,0,0,0.19) !important;
           }
        }
    }
}
.profile-main{
    box-shadow: 0 0px 3px 0 rgba(0,0,0,0.2),0 2px 10px 0 rgba(0,0,0,0.19) !important;
    padding: 25px;
    .for-label{
        color: rgba(23,31,35,.64);
        font-size: .875rem;
    }
    .for-text{
        color: #232527;
        font-size: 1rem;
        font-weight: 500;
    }
}
.fa-edit{
    position: absolute;
    right: 40px;
    top: 25px;
    font-size: 24px;
    color: #00aae7;
}
