<pg-container>

  <pg-breadcrumb>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Home</a>
      </li>
      <li class="breadcrumb-item active">Star Performers</li>
    </ol>
  </pg-breadcrumb>
</pg-container>



<pg-container>
  <div class="card card-default p-3" style="padding-bottom: 5px !important;margin-bottom:15px !important">
    <div class="row">

      <div class="col-md-3">
        <div class="form-group form-group-default form-group-default-select2">
          <label class="">Year</label>
          <pg-select style="width: 100%;" [(ngModel)]="selectedOption" [PlaceHolder]="'Select Option'" AllowClear
            ShowSearch>
            <pg-option *ngFor="let option of years" [Label]="option" [Value]="option">
            </pg-option>
          </pg-select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-group-default form-group-default-select2">
          <label class="">Month</label>
          <pg-select style="width: 100%;" [(ngModel)]="selectedOption" [PlaceHolder]="'Select Option'" AllowClear
            ShowSearch>
            <pg-option *ngFor="let option of months" [Label]="option" [Value]="option">
            </pg-option>
          </pg-select>
        </div>
      </div>

      <div class="col-md-3">

      </div>

      <div class="col-md-3">
        <button class="btn btn-primary" style="height: 56px;width:100%;border-radius: 0;font-size: 15px">
          <i class="fa fa-search mr-1" style="color:white;"></i> Search
        </button>
      </div>

    </div>
  </div>

  <div class="card card-default p-3">

    <div class="row">
      <div class="col-md-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Month</th>
              <th>Year</th>
              <th>Created By</th>
              <th>Status</th>
              <th>Campaign Services</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let data of starPerformerList">
              
              <td>{{data.month}}</td>
              <td>{{data.year}}</td>
              <td>Uday Kodati</td>
              <td>
                <p class="label label-success" style="padding:5px 10px;width:80px;margin:0 auto"
                  [ngStyle]="{'background-color':getStatus(data.status)}">
                  {{data.status}}
                </p>
              </td>
              <td style="padding:13px;">
                <div class="btn-group">
                  <button class="btn btn-primary" (click)="showSurvey()" type="button"
                    style="border-right: 2px solid white !important;">
                    <i class="fa fa-plus"></i> Survey
                  </button>
                  <button class="btn btn-success" type="button" style="background: #2368a0;border:#2368a0;border-right: 2px solid white !important;">
                    <i class="fa fa-film"></i> Movie
                  </button>
                  <button class="btn btn-success" type="button" style="background: #0d416b;border:#0d416b">
                    <i class="pg pg-note"></i> Feedback
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</pg-container>

<!-- add survey modal -->


<div bsModal #addSurveyModal="bs-modal" class="modal fade slide-up disable-scroll" tabindex="-1"
  role="dialog" aria-hidden="false">
  <div class="modal-dialog modal-lg" style="width:750px !important">
    <div class="modal-content-wrapper"  [style.opacity]="opacity" >
      <div class="modal-content">
        <div class="modal-header clearfix text-left">
          <button type="button" class="close" (click)="addSurveyModal.hide()" aria-hidden="true">
            <i class="pg pg-close fs-14"></i>
          </button>
          <h5>
            <span class="semi-bold">Add Survey Form</span>
          </h5>
          <p class="p-b-10">Please change the required information and save</p>
        </div>
        <div class="modal-body">

      


          <div class="row">
            <div class="col-md-8 m-t-10 sm-m-t-10">

              <button style="float: left" (click)="showReject();opacity=0" type="button" class="btn btn-danger miracle-submit m-t-5">Reject</button>

            </div>
            <div class="col-md-4 m-t-10 sm-m-t-10">
              <button (click)="addSurveyModal.hide()" type="button" class="btn btn-primary miracle-submit m-t-5">Approve</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
</div>

<!-- add survey modal -->