<pg-container>
  
    <pg-breadcrumb>
      <ol class="breadcrumb" style="padding-left: 10px;padding-top:20px;">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Employee Search</li>
      </ol>
    </pg-breadcrumb>  
  </pg-container>


<div class="container padding-45" style="padding-top:0 !important">

 <div class="for-employee-search">
    <pgcard  Controls="false" >
        <div class="row">
          <div class="col-md-3">
              <div  style="margin-top:20px" class="form-group form-group-default input-group" pgformgroupdefault=""><div class="form-input-group"><label >Employee Search</label><input placeholder="Search by name or email" class="form-control" type="email"></div><div  class="input-group-append "></div></div>
          </div>
  
          <div class="col-md-3">
              <div style="margin-top:20px" class="form-group form-group-default form-group-default-select2">
                  <label class="">Department</label>
                  <pg-select  [ngModelOptions]="{standalone: true}" style="width: 100%;" [(ngModel)]="selectedOption" [PlaceHolder]="'Select Option'" AllowClear ShowSearch>
                      <pg-option
                      *ngFor="let option of department"
                      [Label]="option.label"
                      [Value]="option"
                      [Disabled]="option.disabled">
                    </pg-option>
                    </pg-select>
                </div>
          </div>

       
          <div class="col-md-3">
              <div style="margin-top:20px" class=" form-group form-group-default form-group-default-select2">
                  <label class="">Work Location</label>
                  <pg-select  [ngModelOptions]="{standalone: true}" style="width: 100%;" [(ngModel)]="selectedOption" [PlaceHolder]="'Select Option'" AllowClear ShowSearch>
                      <pg-option
                      *ngFor="let option of location"
                      [Label]="option.label"
                      [Value]="option"
                      [Disabled]="option.disabled">
                    </pg-option>
                    </pg-select>
                </div>
          </div>
          <div class="col-md-3">
              <div style="margin-top:20px" class="form-group form-group-default form-group-default-select2">
                  <label class="">Designation</label>
                  <pg-select  [ngModelOptions]="{standalone: true}" style="width: 100%;" [(ngModel)]="selectedOption" [PlaceHolder]="'Select Option'" AllowClear ShowSearch>
                      <pg-option
                      *ngFor="let option of designation"
                      [Label]="option.label"
                      [Value]="option"
                      [Disabled]="option.disabled">
                    </pg-option>
                    </pg-select>
                </div>
          </div>

          
        </div>
       
      </pgcard>
 </div>

      
  <div class="row for-employee-search">
      <pgcard class="col-lg-6" Controls="false" *ngFor="let contact of contactList">
          <div class="row align-items-center" style="padding: 15px 0 0 0;
          padding-top: 8px;">
             
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="float-xl-left pr-4 float-none user-controls">
              <img [src]="contact.imgUrl" alt="User Avatar" class="rounded-circle user-avatar">
              </div>
              <div class="pl-xl-3">
              <div class="m-b-0">
                 <!-- <span style="position: absolute;width: 280px;    top: 30px;
                 font-size: 11px;
                 right: 30px;
                 text-align: right;">
                     <i  class="fa fa-user alt mr-2  text-primary"></i>{{contact.designation}} | <i  class="fa fa-envelope alt mr-2  text-primary"></i>{{contact.email}}
                 </span> -->


              <div class="user-avatar-name d-inline-block" style="position: relative">
              <h2 class="font-weight-normal m-b-10 user-name" style="margin-bottom: 0px;margin-top:0; font-size: 22px;">{{contact.name}}<span style="color:gray"> | </span><span style="font-style:italic;font-size:12px;color:gray">{{contact.email}}</span></h2>
        
              </div>
              
              </div>
              <div class="user-avatar-address">
              <p class="mb-0">
               
                <i class="fa fa-volume-control-phone alt mr-2 text-primary"></i>{{contact.voip}}
                <i class="fa fa-mobile alt mr-2 ml-2 text-primary"></i>{{contact.mobile}}
              </p>
              <div class="mt-2 float-left">
                  <a href="#" class="mr-1  badge badge-success">
                      <i class="fa fa-envelope"></i>
                    {{contact.email}}</a>
              <a href="" class="mr-1 ml-2 badge badge-danger">
                <i class="fa fa-map-marker"></i>
                {{contact.location}}</a>

                
            
              </div>
              </div>
              </div>
              </div>
              <!-- <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="text-center float-none mt-xl-0 mt-4">
            
              <a href="#" [routerLink]="'../view-profile'" placement="bottom" tooltip="View Profile" class="btn btn-complete mr-2" style="background: white;border-color: #00aae7">
               
                   <i class="fa fa-user" style="color:#00aae7"></i>
              
                </a>

                <a href="#" placement="bottom" tooltip="Text in mTalk" class="btn btn-complete"  style="background: white;border-color:#00aae7">
                   <i  class="fa fa-comment"  style="color:#00aae7"></i>
                  </a>
              </div>
              </div> -->
              </div>     
      </pgcard>
  </div>
</div>

