.card-body{
    padding-bottom: 12px;
}
.user-controls{
    padding-right: 15px !important;
}
.user-avatar{
    height: 90px;
    width: 90px;
    margin-top: 5px;
}
.fa-volume-control-phone{
    font-size: 14px;
}
.fa-mobile{
    font-size: 16px;
}
.badge{
    border-radius: 5px;
    padding: 5px 10px;
}
.user-name{
    font-size: 24px
}
.filter-name{
    font-weight: bold;
    font-size: 16px;
}
.radio label{
    display: block;
}
.btn-wishlist{
    position: absolute;
    top: 10px;
    left: 10px;
}
.btn-wishlist1{
    position: absolute;
    top: 15px;
    right: 10px;
    .fa-star{
        font-size:20px;
    }
}
.fa-star,.fa-star-o{
    font-size: 17px;
}
.radio.radio-success input[type=radio]:checked + label:before{
    border-color: #00aae7;
}
// .form-control:focus{
//     border-color: rgba(00, 0, 0, 0.1);
//     background-color: white;
//     outline: 0 !important;
//     box-shadow: 0 0 0 0.05rem rgba(00, 214, 255, 0.75);
// }
.vertical-hr{
    border-right: 1px solid lightgray;
}

.fa-user, .fa-comment{
    height: 15px;
    width:15px;
} 
.input-group-text{
    background: #00aae7;
    color: #fff;
}

// .btn-complete:hover{
//     background:#1e7e34 !important;
//     .fa-user,.fa-comment{
//         color:white !important;
//     }

// }
.btn-complete{
    border-color: #00aae7;
}
.btn-complete:hover{
    background:#00aae7 !important;
    .fa-user,.fa-comment{
        color:white !important;
    }

}