<!-- WRAP LAYOUT IF BOXED -->
<div class="container" *ngIf="_boxed; else basicLayoutBlock">
  <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
</div>
<ng-template #basicLayoutBlock>
<ng-container *ngTemplateOutlet="contentTpl"></ng-container> 
</ng-template>

<!-- YOUR LAYOUT CONTENT GOES INSIDE HERE -->
<ng-template #contentTpl>
<pg-sidebar>
  <!-- this might not be necessary -->
    <!-- <ng-template #sideBarOverlay>
      <div class="row">
        <div class="col-xs-6 no-padding">
          <a href="javascript:void(0)" class="p-l-40"><img src="assets/img/demo/social_app.svg" alt="socail">
          </a>
        </div>
        <div class="col-xs-6 no-padding">
          <a href="javascript:void(0)" class="p-l-10"><img src="assets/img/demo/email_app.svg" alt="socail">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 m-t-20 no-padding">
          <a href="javascript:void(0)" class="p-l-40"><img src="assets/img/demo/calendar_app.svg" alt="socail">
          </a>
        </div>
        <div class="col-xs-6 m-t-20 no-padding">
          <a href="javascript:void(0)" class="p-l-10"><img src="assets/img/demo/add_more.svg" alt="socail">
          </a>
        </div>
      </div>      
    </ng-template> -->
    <ng-template #sideBarHeader>
        <img src="assets/miracle-logo-white.png" alt="logo" class="brand" pgRetina src1x="assets/miracle-logo-white.png" src2x="assets/miracle-logo-white.png" width="78" height="37">
        <!-- <div class="sidebar-header-controls">
          <button type="button" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20 hidden-md-down" data-pages-toggle="#appMenu"><i class="fa fa-angle-down fs-16"></i>
          </button>
          <button type="button" class="btn btn-link d-lg-inline-block d-xlg-inline-block d-md-inline-block d-sm-none d-none" data-toggle-pin="sidebar" (click)="toggleMenuPin()"><i class="fa fs-12"></i>
          </button>
        </div> -->
    </ng-template>
    <ng-template #menuItems>
        <pg-menu-items [Items]="menuLinks1"></pg-menu-items>

        <style>
          .page-sidebar .sidebar-menu .menu-items > li > a > .title{
            width: fit-content !important;
          }
        </style>
    </ng-template>
</pg-sidebar>

<page-container>
    <pg-header [boxed]="_boxed">
        <!-- START MOBILE SIDEBAR TOGGLE -->
        <a href="javascript:void(0);" class="btn-link toggle-sidebar d-lg-none pg pg-menu" (click)="toggleMobileSidebar()"></a>
        <!-- END MOBILE SIDEBAR TOGGLE -->
        <div class="">
          <!-- START EMAIL MOBILE TOGGLE -->
          <a href="javascript:void(0);" class="toggle-secondary-sidebar" (click)="toggleSecondarySideBar()" *ngIf="_layoutOption === 'email'">Inbox <span class="text-info">(12)</span> <span class="caret"></span></a>
          <!-- END EMAIL MOBILE TOGGLE -->
  
          <div class="brand inline m-l-10" [class.d-none]="_layoutOption === 'email'">
            <!-- <img src="assets/miracle-logo-dark.png" alt="logo" pgRetina  width="80%" > -->
            <img src="assets/miracle-logo-dark.png" alt="logo" pgRetina src1x="assets/miracle-logo-dark.png" src2x="assets/miracle-logo-dark.png" width="120" height="35">
            
          </div>
          <!-- START NOTIFICATION LIST -->
          <ul class="d-lg-inline-block d-none notification-list no-margin d-lg-inline-block b-grey b-l b-r no-style p-l-30 p-r-20">
              <li class="p-r-10 inline">
                  <a href="javascript:void(0)" class="header-icon">
                      <img src="assets/M.svg" height="20px" width="20px" placement="bottom" tooltip="miraclesoft.com">
                  </a>
                  </li>
            <li class="p-r-10 inline">
              <div class="dropdown" dropdown>
                <a href="javascript:;" id="notification-center" class="header-icon" >
                  <img src="assets/miraclemefav.ico" height="23px" width="23px" placement="bottom" tooltip="me.miraclesoft.com">
                
                </a>
                <!-- START Notification Dropdown -->
             
                <!-- END Notification Dropdown -->
              </div>
              </li>
              <li class="p-r-10 inline">
                  <a href="javascript:void(0)" class="header-icon">
                      <img src="assets/B.svg" height="20px" width="20px" tooltip="blog.miraclesoft.com" placement="bottom">
                      <!-- <button class="btn btn-default tip m-b-5 m-r-5" placement="top" tooltip="Up here!" type="button">Top</button> -->
                  </a>
                  </li>
                  <li class="p-r-10 inline">
                      <a href="javascript:void(0)" class="header-icon">
                          <img src="assets/H.svg" height="20px" width="20px" tooltip="help.miraclesoft.com" placement="bottom">
                          <!-- <button class="btn btn-default tip m-b-5 m-r-5" placement="top" tooltip="Up here!" type="button">Top</button> -->
                      </a>
                      </li>
           
          </ul>
          <!-- END NOTIFICATIONS LIST -->
          <!-- <a href="javascript:void(0)" class="search-link d-lg-inline-block d-none" (click)="openSearch($event)"><i class="pg pg-search"></i>Type anywhere to <span class="bold">search</span></a> -->
        </div>
        <div class="d-flex align-items-center">
          <!-- START User Info-->
          <div class="pull-left p-r-10 fs-14 font-heading d-lg-block d-none">
          <span class="semi-bold">{{fileNameLimit(fullName)}}</span>
          </div>
          <div class="dropdown pull-right d-lg-block d-none" dropdown>
            <button class="profile-dropdown-toggle" type="button" dropdownToggle id="profileDropdown">
              <span class="thumbnail-wrapper d32 circular inline">
              <img src="https://www.miraclesoft.com/images/employee-profile-pics/{{userDetails.LoginId}}.png" alt="" pgRetina src1x="assets/img/profiles/avatar.jpg" src2x="assets/img/profiles/avatar_small2x.jpg" width="32" height="32">
              </span>
            </button>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown" *dropdownMenu role="menu">
              <a [routerLink]="['/dashboard/my-profile']" class="dropdown-item"><i class="fs-13 pg pg-settings_small"></i> Profile</a>
              <a href="javascript:void(0)" class="dropdown-item"><i class="fs-13 pg pg-outdent"></i> Reset Password</a>
              <!-- <a href="javascript:void(0)" class="dropdown-item"><i class="fs-13 pg pg-signals"></i> </a> -->
              <a href="javascript:void(0)" class="clearfix bg-master-lighter dropdown-item">
              <span class="pull-left" class="logout" (click)='logout()'>Logout</span>
              <span class="pull-right"><i class="fs-13 pg pg-power"></i></span>
              </a>
            </div>
          </div>
          <!-- END User Info-->
          <!-- <a href="javascript:void(0)" class="header-icon pg pg-alt_menu btn-link m-l-10 sm-no-margin d-inline-block" (click)="openQuickView($event)"></a> -->
        </div>    
    </pg-header>
  <div class="page-content-wrapper {{_pageContainerClass}}">
    <!-- START PAGE CONTENT -->
    <div class="content {{_contentClass}}">
      <router-outlet></router-outlet>			
    </div>
    <!-- END PAGE CONTENT -->
    <ng-template [ngIf]="_footer">
      <!-- START COPYRIGHT -->
      <div class=" container-fluid container-fixed-lg footer">
        <div class="copyright sm-text-center">
          <p class="small no-margin pull-left sm-pull-reset">
            <span class="hint-text">&copy; 2019</span> <span class="font-montserrat"> Miracle Software Systems, Inc.</span>
          </p>
          <div class="clearfix">
          </div>
        </div>
      </div>
      <!-- END COPYRIGHT -->
    </ng-template>
  </div>
</page-container>
<app-search-overlay></app-search-overlay>
<!-- <app-quickview></app-quickview> -->
</ng-template>