
.contact-grid {
    float: left;
    width: 100%;
    text-align: center; }
  
  .profile-header {
    min-height: 150px;
    color: #fff; }
    .l-bg-purple-dark {
        background:#232527!important;
        color: #fff;
    }
    .bg-cyan{
        background: #0d416b !important;
    }
    .b-grey{

        background: #2368a0!important;
    }
    .bg-master{
      background: #00aae7!important;
    }
  .user-name {
    padding: 15px 5px 5px;
    font-size: 20px;
    text-align: center;
  }
  
  .user-img {
    padding: 3px;
    border-radius: 50% 50% 50% 50%;
    max-width: 112px;
    margin-top: -37px;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px; }
  
 
  
  .contact-grid .phone .material-icons {
    font-size: 16px;
    padding: 4px 7px 40px 0px; }
  
  .categories ul li a, .categories ul li a:active, .categories ul li a:hover {
    line-height: 24px;
    background: #fff;
    color: #4e5961;
    text-decoration: none; }
  
  .portfolio-thumb .enlarge, .portfolio-thumb .link {
    display: inline-block;
    margin: 0;
    margin-top: -25px;
    font-size: 50px;
    line-height: 50px;
    color: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    height: 50px;
    width: 64px;
    top: 40%;
    left: 50%;
    text-align: center;
    z-index: 3; }
  
  .portfolio-thumb .enlarge.centered, .portfolio-thumb .link.centered {
    margin-left: -32px;
    transform: translateY(-200px);
    transition-delay: 0s; }
  
  .portfolio-item {
    position: relative;
    margin-bottom: 30px;
    transform: scale(1);
    opacity: 1;
    transition: all .4s ease-out; }
    .portfolio-item.filtered {
      transform: scale(0.5);
      opacity: 0.2;
      cursor: default; }
      .portfolio-item.filtered a {
        cursor: default; }
      .portfolio-item.filtered .enlarge {
        display: none; }
      .portfolio-item.filtered .link {
        display: none; }
      .portfolio-item.filtered .overlay-mask {
        display: none; }
      .portfolio-item.filtered .project-title {
        display: none; }
  
  .portfolio-thumb {
    display: block;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    border-radius: 15px; }
    .portfolio-thumb .overlay-mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #b749ca;
      opacity: 0;
      filter: alpha(opacity=0);
      z-index: 1;
      transition: opacity .3s ease-out; }
    .portfolio-thumb:hover .overlay-mask {
      opacity: 0.8;
      filter: alpha(opacity=80); }
    .portfolio-thumb:hover .enlarge {
      transform: translateX(0);
      opacity: 1;
      filter: alpha(opacity=100);
      transition: all .3s ease-out .3s; }
      .portfolio-thumb:hover .enlarge.centered {
        transform: translateY(0);
        transition-delay: 0.3s; }
    .portfolio-thumb:hover .link {
      transform: translate(0);
      opacity: 1;
      filter: alpha(opacity=100);
      transition: all .3s ease-out .6s; }
      .portfolio-thumb:hover .link.centered {
        transform: translateY(0);
        transition-delay: 0.3s; }
    .portfolio-thumb:hover .project-title {
      bottom: 0;
      transition: bottom .3s ease-out .1s,color .2s ease-out 0s; }
    .portfolio-thumb .enlarge {
      margin-left: -84px;
      transform: translateX(-200px);
      transition: all .3s ease-out; }
    .portfolio-thumb .link {
      margin-left: 20px;
      transform: translateX(200px);
      transition: all .3s ease-out; }
    .portfolio-thumb .project-title {
      display: block;
      width: 100%;
      position: absolute;
      bottom: -100px;
      background: #fff;
      margin: 0;
      padding: 20px 0;
      font-size: 21px;
      font-weight: 300;
      color: #777;
      text-align: center;
      z-index: 2;
      transition: bottom .4s ease-out,color .2s ease-out; }
      .portfolio-thumb .project-title:hover {
        color: #5cc9df; }
  
  .categories ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    text-align: center; }
    .categories ul li {
      display: inline-block;
      padding: 0;
      line-height: 24px;
      background: transparent;
      margin: 0;
      margin-left: 5px;
      margin-bottom: 10px; }
      .categories ul li a {
        display: block;
        font-size: 18px;
        font-weight: 500;
        padding: 10px 20px;
        border-radius: 5px;
        border: 2px solid transparent;
        transition: all .2s ease-out; }
        .categories ul li a:hover {
          color: #fff;
          background: #9c27b0; }
      .categories ul li.active a {
        color: #fff;
        background: #9c27b0; }
  
  .projects-container .row {
    transition: height .5s ease-out; }
  
  .no-opacity .portfolio-item.filtered {
    display: none; }
  
  .scrollimation .portfolio-thumb {
    transform: translateY(100px);
    opacity: 0;
    transition: opacity .4s ease-out, transform .4s ease-out; }
    .scrollimation .portfolio-thumb.in {
      transform: translateY(0px);
      opacity: 1; }
  
  .touch .scrollimation .portfolio-thumb {
    transform: translateY(0px);
    opacity: 1; }
  
  .gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    filter: alpha(opacity=80); }
  
  .gu-hide {
    display: none !important; }
  
  .gu-unselectable {
    user-select: none !important; }
  
  .gu-transit {
    opacity: 0.2;
    filter: alpha(opacity=20); }
  
  .taskbar .checked {
    border: 3px solid #dda500 !important; }
  
  .taskbar .box {
    padding-bottom: 7px; }
    .taskbar .box .task-name {
      font-size: 18px;
      font-weight: 600;
      color: green; }
    .taskbar .box .task-desc {
      font-size: 1.1em;
      color: #555; }
    .taskbar .box .task-deadline {
      margin-top: 5px;
      margin-right: 5px;
      font-size: 0.8em;
      color: #555; }
  
  .taskbar .done div.box {
    pointer-events: none; }
    .taskbar .done div.box .tasks {
      color: #fff !important; }
  
  .taskbar .avatar-image {
    display: inline-block;
    position: relative; }
  
  .taskbar .task-header {
    text-align: center;
    font-size: 25px;
    padding: 20px;
    color: #6b6a6a; }
  
  .taskbar .card-footer {
    background: #fff !important;
    border-radius: 0px 0px 10px 10px; }
    .taskbar .card-footer .progress {
      height: 5px; }
  
  .pad {
    padding-left: 0;
    padding-right: 0;
    display: flex; }
  
  .move {
    text-align: center;
    background: #eee; }
    .move .btn {
      margin-bottom: 20px; }
  
  .board {
    float: left;
    position: relative;
    max-width: 300px;
    height: auto;
    margin: 8px;
    background-color: lightgray;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }
  
  .drop-card {
    float: left;
    width: 100%;
    height: auto;
    background-color: white;
    padding: 10px;
    margin: 4px 0;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    cursor: move;
    cursor: grab; }
    .drop-card header {
      float: left;
      width: 100%;
      padding: .5em;
      background-color: lightgray;
      text-transform: uppercase;
      border-radius: 3px 3px 0 0; }
  
  .drop-cardtitle {
    float: left;
    width: 100%; }
  
  .noselect {
    user-select: none; }
  
  .gu-mirror {
    cursor: move;
    cursor: grabbing;
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 1;
    transform: rotate(5deg); }
  
  .gu-hide {
    display: none !important; }
  
  .gu-unselectable {
    user-select: none !important; }
  
  .gu-transit {
    opacity: 0.4;
    filter: alpha(opacity=20); }
  
  #board1 header {
    background-color: #bc3425;
    color: white; }
  
  #board2 header {
    background-color: #92549e;
    color: white; }
  
  #board3 header {
    background-color: #00b1cf;
    color: white; }
  
  .drop-cards .is-moving {
    background-color: white;
    color: black; }
  
  .cards {
    padding: 4px 8px; }
    
    /* media queries */

    // @media screen and (width: 760px) {
    //   #leftsidebar {width: 200px; float: left;}
    //   #main {margin-left: 216px;}
    // }
   
    // #main{
    //   position:absolute;
     
     
    //   padding:10px;
    // }
    #main > div{
      display: inline-block;
      margin:10px;
    }
    .d1{
       background: #232527;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    text-align: center;
    line-height: 5px;
    vertical-align: middle;
    padding: 20px;
    cursor:pointer;
    }
    
    .d2{
      background: #0d416b;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      text-align: center;
      line-height: 5px;
      vertical-align: middle;
      padding: 20px;
      cursor:pointer;
    }
    .d3{
      background: #2368a0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      text-align: center;
      line-height: 5px;
      vertical-align: middle;
      padding: 20px;
      cursor:pointer;
    }
    
    .d4{
      background: #00aae7;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    text-align: center;
    line-height: 5px;
    vertical-align: middle;
    padding: 20px;
    cursor:pointer;
    }
    .input-group-text{
      background: #00aae7;
      color: #fff;
  }
  .filter-name{
    font-weight: bold;
    font-size: 16px;
}