<div class="container for-employee-search">

    <div class="card card-transparent">
      <div class="card-body">
        <pg-breadcrumb class="ng-star-inserted">
          <ol class="breadcrumb" style="margin-top:-15px;">
            <li class="breadcrumb-item">
              <a href="javascript:void(0);">Home</a>
            </li>
            <li class="breadcrumb-item active">Employee Search</li>
          </ol>
        </pg-breadcrumb>
        <pgcard  Controls="false" >
        <div class="row">
          <div class="col-md-3">
              <div  style="margin-top:20px" class="form-group form-group-default input-group" pgformgroupdefault=""><div class="form-input-group"><label >Employee Search</label><input placeholder="Search by name or email" class="form-control" type="email"></div><div  class="input-group-append "></div></div>
          </div>
  
          <div class="col-md-3">
              <div style="margin-top:20px" class="form-group form-group-default form-group-default-select2">
                  <label class="">Department</label>
                  <pg-select  [ngModelOptions]="{standalone: true}" style="width: 100%;" [(ngModel)]="selectedOption" [PlaceHolder]="'Select Option'" AllowClear ShowSearch>
                      <pg-option
                      *ngFor="let option of department"
                      [Label]="option.label"
                      [Value]="option"
                      [Disabled]="option.disabled">
                    </pg-option>
                    </pg-select>
                </div>
          </div>

       
          <div class="col-md-3">
              <div style="margin-top:20px" class=" form-group form-group-default form-group-default-select2">
                  <label class="">Work Location</label>
                  <pg-select  [ngModelOptions]="{standalone: true}" style="width: 100%;" [(ngModel)]="selectedOption" [PlaceHolder]="'Select Option'" AllowClear ShowSearch>
                      <pg-option
                      *ngFor="let option of location"
                      [Label]="option.label"
                      [Value]="option"
                      [Disabled]="option.disabled">
                    </pg-option>
                    </pg-select>
                </div>
          </div>
          <div class="col-md-3">
              <div style="margin-top:20px" class="form-group form-group-default form-group-default-select2">
                  <label class="">Designation</label>
                  <pg-select  [ngModelOptions]="{standalone: true}" style="width: 100%;" [(ngModel)]="selectedOption" [PlaceHolder]="'Select Option'" AllowClear ShowSearch>
                      <pg-option
                      *ngFor="let option of designation"
                      [Label]="option.label"
                      [Value]="option"
                      [Disabled]="option.disabled">
                    </pg-option>
                    </pg-select>
                </div>
          </div>

          
        </div>
       
      </pgcard>
   

        <div class="row mt-3">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card border-apply">
                          <div class="m-b-20">
                            <div class="contact-grid">
              
                              <div class="profile-header l-bg-purple-dark">
                                <div style="text-align: end;margin-right: 9px;">
                                  <button class="btn btn-default btn-xs m-t-10" style="border-radius:0px !important;background-color: #00aae7;  color: #ffffff;border: 1px solid #00aae7;">Marketing</button>
                                </div>
                                <div class="user-name">Chanakya lokam</div>
                                <div class="name-center">Director - Marketing and Innovation</div>
                              </div>
                              <img class="user-img" src="assets\img\profiles\2x.jpg" height="90" width="90" style="border-radius:50%;cursor:pointer;" (click)="showSlideUp()">
                              <p class="phone">
                                <i class="fs-14 pg pg-mail" style="vertical-align:middle;"></i>&nbsp; clokam@miraclesoft.com
                              </p>
                              <div>
                                <span class="phone">
                                  <i class="fs-14 fa fa-phone"></i>&nbsp;&nbsp;264-625-2583 | (248)-679-2661</span>
                              </div>
                              <!-- <div>
                                <div>
                                  <i class="fs-14 pg pg-mail"></i>
                                  <p>Mail</p>
                                </div>
                                <div>
                                  <i class="fs-14 pg pg-mail"></i>
                                  <p>Mail</p>
                                </div>
                              </div> -->
                              <div id="main">
                                <div class="d1">
                                  <i class="fs-14 pg pg-mail" style="vertical-align: middle;color:#ffffff;font-size:18px;margin-top:-8px;margin-left:-7px;"></i>
              
                                </div>
                                <div class="d1">
                                  <i class="fa fa-commenting-o" aria-hidden="true" style="vertical-align: middle;color:#ffffff;font-size:18px;margin-top:-8px;margin-left:-9px;"></i>
              
                                </div>
                              </div>
              
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card border-apply">
                          <div class="m-b-20">
                            <div class="contact-grid">
                              <div class="profile-header bg-cyan">
                                <div style="text-align: end;margin-right: 9px;">
                                  <button class="btn btn-default btn-xs m-t-10" style="border-radius:0px !important;background-color: #232527; color: #ffffff;border: 1px solid #232527;">Development</button>
                                </div>
                                <div class="user-name">Siva Kusampudi</div>
                                <div class="name-center">Manager – Web, Content and Social </div>
                              </div>
                              <img class="user-img" src="assets\img\profiles\6x.jpg" height="90" width="90" style="border-radius:50%;cursor:pointer;" (click)="showSlideUp()">
                              <p>
                                <i class="fs-14 pg pg-mail" style="vertical-align:middle;"></i> &nbsp;vkusampudi@miraclesoft.com
                              </p>
                              <div>
                                <span class="phone">
                                  <i class="fs-14 fa fa-phone"></i>&nbsp;&nbsp;264-625-2583 | 770-226-6889</span>
                              </div>
                              <!-- <div id="main">
                                <div id="d1">
                
                                  <button style="background-color: #0d416b;
                                    color: #ffffff;
                                    padding: 3px 8px 4px 8px;font-size:12px;border: 1px solid #0d416b;cursor:pointer">
                                    Send Mail
                                  </button>
                                </div>
                                <div id="d2">
                
                
                                  <button style="background-color: #0d416b;
                                    color: #ffffff;
                                    padding: 3px 8px 4px 8px;font-size:12px;border: 1px solid #0d416b;cursor:pointer">
                                    Message
                                  </button>
                                </div>
                              </div> -->
                              <div id="main">
                                <div class="d2">
                                  <i class="fs-14 pg pg-mail" style="vertical-align: middle;color:#ffffff;font-size:18px;margin-top:-8px;margin-left:-7px;"></i>
              
                                </div>
                                <div class="d2">
                                  <i class="fa fa-commenting-o" aria-hidden="true" style="vertical-align: middle;color:#ffffff;font-size:18px;margin-top:-8px;margin-left:-9px;"></i>
              
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card border-apply">
                          <div class="m-b-20">
                            <div class="contact-grid">
                              <div class="profile-header b-grey">
                                <div style="text-align: end;margin-right: 9px;">
                                  <button class="btn btn-default btn-xs m-t-10" style="border-radius:0px !important;background-color: #0d416b;color: #ffffff;border: 1px solid #0d416b;">Operations </button>
                                </div>
                                <div class="user-name">Deepika Rangoori</div>
                                <div class="name-center">Web Experience Lead </div>
                              </div>
                              <img class="user-img" src="assets\img\profiles\7x.jpg" height="90" width="90" style="border-radius:50%;cursor:pointer;" (click)="showSlideUp()">
                              <p>
                                <i class="fs-14 pg pg-mail" style="vertical-align:middle;"></i> &nbsp;crangoori@miraclesoft.com
                              </p>
                              <div>
                                <span class="phone">
                                  <i class="fs-14 fa fa-phone"></i>&nbsp;&nbsp;264-625-2583 | (950)-219-5091</span>
                              </div>
                              <!-- <div id="main">
                                <div id="d1">
                
                                  <button style="background-color: #2368a0;
                                    color: #ffffff;
                                    padding: 3px 8px 4px 8px;font-size:12px; border: 1px solid #2368a0;cursor:pointer">
                                    Send Mail
                                  </button>
                                </div>
                                <div id="d2">
                
                
                                  <button style="background-color: #2368a0;
                                    color: #ffffff;
                                    padding: 3px 8px 4px 8px;font-size:12px; border: 1px solid #2368a0;cursor:pointer">
                                    Message
                                  </button>
                                </div>
                              </div> -->
                              <div id="main">
                                <div class="d3">
                                  <i class="fs-14 pg pg-mail" style="vertical-align: middle;color:#ffffff;font-size:18px;margin-top:-8px;margin-left:-7px;"></i>
              
                                </div>
                                <div class="d3">
                                  <i class="fa fa-commenting-o" aria-hidden="true" style="vertical-align: middle;color:#ffffff;font-size:18px;margin-top:-8px;margin-left:-9px;"></i>
              
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card border-apply">
                          <div class="m-b-20">
                            <div class="contact-grid">
                              <div class="profile-header bg-master">
                                <div style="text-align: end;margin-right: 9px;">
                                  <button class="btn btn-default btn-xs m-t-10" style="border-radius:0px !important;background-color: #2368a0; color: #ffffff;border: 1px solid #2368a0;">Recruitment</button>
                                </div>
                                <div class="user-name">Rajeev Gottimukkala</div>
                                <div class="name-center">Web Master </div>
                              </div>
                              <img class="user-img" src="assets\img\profiles\4x.jpg" height="90" width="90" style="border-radius:50%;cursor:pointer;" (click)="showSlideUp()">
                              <p>
                                <i class="fs-14 pg pg-mail" style="vertical-align:middle;"></i> &nbsp;rgottimukkala1@miraclesoft.com
              
              
                              </p>
                              <div>
                                <span class="phone">
                                  <i class="fs-14 fa fa-phone"></i>&nbsp;&nbsp;264-625-2583 | (739)-699-4195</span>
                              </div>
                              <!-- <div id="main">
                                <div id="d1">
                
                                  <button style="background-color: #00aae7;
                                    color: #ffffff;
                                    padding: 3px 8px 4px 8px;font-size:12px;border: 1px solid #00aae7;cursor:pointer">
                                    Send Mail
                                  </button>
                                </div>
                                <div id="d2">
                
                
                                  <button style="background-color: #00aae7;
                                    color: #ffffff;
                                    padding: 3px 8px 4px 8px;font-size:12px; border: 1px solid #00aae7;cursor:pointer">
                                    Message
                                  </button>
                                </div>
                              </div> -->
                              <div id="main">
                                <div class="d4">
                                  <i class="fs-14 pg pg-mail" style="vertical-align: middle;color:#ffffff;font-size:18px;margin-top:-8px;margin-left:-7px;"></i>
              
                                </div>
                                <div class="d4">
                                  <i class="fa fa-commenting-o" aria-hidden="true" style="vertical-align: middle;color:#ffffff;font-size:18px;margin-top:-8px;margin-left:-9px;"></i>
              
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                          <div class="card border-apply">
                            <div class="m-b-20">
                              <div class="contact-grid">
                
                                <div class="profile-header l-bg-purple-dark">
                                  <div style="text-align: end;margin-right: 9px;">
                                    <button class="btn btn-default btn-xs m-t-10" style="border-radius:0px !important;background-color: #00aae7;  color: #ffffff;border: 1px solid #00aae7;">Marketing</button>
                                  </div>
                                  <div class="user-name">Chanakya lokam</div>
                                  <div class="name-center">Director - Marketing and Innovation</div>
                                </div>
                                <img class="user-img" src="assets\img\profiles\2x.jpg" height="90" width="90" style="border-radius:50%;cursor:pointer;" (click)="showSlideUp()">
                                <p class="phone">
                                  <i class="fs-14 pg pg-mail" style="vertical-align:middle;"></i>&nbsp; clokam@miraclesoft.com
                                </p>
                                <div>
                                  <span class="phone">
                                    <i class="fs-14 fa fa-phone"></i>&nbsp;&nbsp;264-625-2583 | (248)-679-2661</span>
                                </div>
                                <!-- <div>
                                  <div>
                                    <i class="fs-14 pg pg-mail"></i>
                                    <p>Mail</p>
                                  </div>
                                  <div>
                                    <i class="fs-14 pg pg-mail"></i>
                                    <p>Mail</p>
                                  </div>
                                </div> -->
                                <div id="main">
                                  <div class="d1">
                                    <i class="fs-14 pg pg-mail" style="vertical-align: middle;color:#ffffff;font-size:18px;margin-top:-8px;margin-left:-7px;"></i>
                
                                  </div>
                                  <div class="d1">
                                    <i class="fa fa-commenting-o" aria-hidden="true" style="vertical-align: middle;color:#ffffff;font-size:18px;margin-top:-8px;margin-left:-9px;"></i>
                
                                  </div>
                                </div>
                
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="card border-apply">
                            <div class="m-b-20">
                              <div class="contact-grid">
                                <div class="profile-header bg-cyan">
                                  <div style="text-align: end;margin-right: 9px;">
                                    <button class="btn btn-default btn-xs m-t-10" style="border-radius:0px !important;background-color: #232527; color: #ffffff;border: 1px solid #232527;">Development</button>
                                  </div>
                                  <div class="user-name">Siva Kusampudi</div>
                                  <div class="name-center">Manager – Web, Content and Social </div>
                                </div>
                                <img class="user-img" src="assets\img\profiles\6x.jpg" height="90" width="90" style="border-radius:50%;cursor:pointer;" (click)="showSlideUp()">
                                <p>
                                  <i class="fs-14 pg pg-mail" style="vertical-align:middle;"></i> &nbsp;vkusampudi@miraclesoft.com
                                </p>
                                <div>
                                  <span class="phone">
                                    <i class="fs-14 fa fa-phone"></i>&nbsp;&nbsp;264-625-2583 | 770-226-6889</span>
                                </div>
                                <!-- <div id="main">
                                  <div id="d1">
                  
                                    <button style="background-color: #0d416b;
                                      color: #ffffff;
                                      padding: 3px 8px 4px 8px;font-size:12px;border: 1px solid #0d416b;cursor:pointer">
                                      Send Mail
                                    </button>
                                  </div>
                                  <div id="d2">
                  
                  
                                    <button style="background-color: #0d416b;
                                      color: #ffffff;
                                      padding: 3px 8px 4px 8px;font-size:12px;border: 1px solid #0d416b;cursor:pointer">
                                      Message
                                    </button>
                                  </div>
                                </div> -->
                                <div id="main">
                                  <div class="d2">
                                    <i class="fs-14 pg pg-mail" style="vertical-align: middle;color:#ffffff;font-size:18px;margin-top:-8px;margin-left:-7px;"></i>
                
                                  </div>
                                  <div class="d2">
                                    <i class="fa fa-commenting-o" aria-hidden="true" style="vertical-align: middle;color:#ffffff;font-size:18px;margin-top:-8px;margin-left:-9px;"></i>
                
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                </div>
            </div>


        
        </div>
  
      </div>
    </div>
  </div>