@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
// @import "~fullcalendar/dist/fullcalendar.min.css";

* {
    // font-family: "Segoe UI", Arial, sans-serif !important;
}
.form-control,.form-control:focus{
    color:#8c8c8c !important;
}

//for hierarchy

.ui-tree{
    border:none !important;
    width:100% !important;
    &:focus{
        outline: none;
    }
}
.ui-treenode-label{
    background: #00aae7;
    color: white;
    padding: 5px 10px !important;
    padding-left: 25px !important;
    border-radius: 15px !important;
    box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22) !important;
    border: 2px solid white;
    &:focus{
        outline: none;
    }
}
.ui-treenode-content{
    &:focus{
        outline: none;
    }
}
.ui-treenode-children{
    padding: 0 0 0 6em !important;
    .ui-treenode-label{
        background: #0d416b !important;
    }
   
}

.ui-tree-toggler {
    margin-right:10px !important;
}

pg-collapseset{
    
    .card-header{
        padding: 10px !important;
    }
    .card-body{
        padding: 0 !important;
    }
}
.fc-button{
    background: #232527 !important;
    border: 1px solid #232527 !important;
    &:focus{
        box-shadow: unset !important;
    }
    .fc-icon{
        font-size: 1rem !important; 
    }
}
pg-collapse.holidays{
    z-index: 0 !important;
    .card-header{
        background: #00aae7 !important;
        a{
            color: white !important;
            &::after{
                color: white !important
            }
        }
    }
}
#holidays .card-header{
    background: #00aae7;
}
#birthdays .card-header{
    background: #2368a0;
}
#leaves .card-header{
    background: #ef4048;
}
#this-week .card-header{
    background: #232527;
}
pg-collapse#birthdays,pg-collapse#leaves,pg-collapse#holidays,pg-collapse#this-week{
    z-index: 0 !important;
    .empty{
        padding-left: 10px !important;
        padding: 15px;
    }
    .card-header{
        .card-title > a:hover{
            color: white !important;
        }
        
        &:hover{
            color: white !important;
        }
        a{
            // padding-left:22px !important;
            color: white !important;
            &::after{
                color: white !important
            }
        }
        a:hover{
            color: white !important;
            &::after{
                color: white !important
            } 
        }
    }
}