<pg-container>
  
    <pg-breadcrumb>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Timesheets</li>
      </ol>
    </pg-breadcrumb>  
  </pg-container>

<pg-container>
    <div class="card card-default p-3" style="padding-bottom: 5px !important;margin-bottom: 15px;">
        <div class="row">
          <div class="col-md-3">
              <div class="form-group form-group-default input-group">
                  <div class="form-input-group">
                    <label>Date</label>
                    <pg-datepicker></pg-datepicker>
                  </div>
                  <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="fa fa-calendar"></i>
                      </span>
                  </div>
                </div>
          </div>
       <div class="col-md-3"></div>
       <div class="col-md-4"></div>
          <div class="col-md-2 float-right">
            <button [routerLink]="'/timesheets-2'" class="btn btn-primary" style="height: 56px;width:100%;border-radius: 0;font-size: 15px;">
              <i class="fa fa-history"></i> History
            </button>
    
          </div>
        
        </div>
      </div>


    <!-- <div class="go-back" style="margin-bottom:15px;">
       <button (click)="showTimeSheetEdit()" class="btn btn-primary">
          <i class="fa fa-arrow-left"></i>
       </button>
    </div> -->

  <div class="card card-default p-3">
        <div class="row mt-2">
            <div class="col-lg-12">
                <div class="table-responsive">
                  
                     <table class="table table-hover table-condensed dataTable no-footer">
                       <thead>
                         <tr>
                
                           <th style="width:12.5%">
                             <span style="color:#00aae7">
                               Projects
                             </span>
                           </th>
                           <th style="width:12.5%">
                             <span class="header-date">
                                15/01/17 
                             </span>
                             <br>
                              SUNDAY
                           </th>
                           <th style="width:12.5%">
                              <span class="header-date">
                                  16/01/17 
                               </span>
                             <br>
                             MONDAY</th>
                           <th style="width:12.5%">
                              <span class="header-date">
                                  17/01/17 
                               </span>
                             <br>
                             TUESDAY</th>
                           <th style="width:12.5%">
                              <span class="header-date">
                                  18/01/17 
                               </span>
                             <br>
                             WEDNESDAY</th> 
                           <th style="width:12.5%">
                              <span class="header-date">
                                  19/01/17 
                               </span>
                             <br>
                             THURSDAY</th>
                           <th style="width:12.5%">
                              <span class="header-date">
                                  20/01/17 
                               </span>
                             <br>
                             FRIDAY</th>
                           <th style="width:12.5%">
                              <span class="header-date">
                                  21/01/17 
                               </span>
                             <br>
                             SATURDAY</th>
                           
                         </tr>
                       </thead>
                       <tbody>
                          <tr>
                              <td class="v-align-middle semi-bold">Hubble</td>                         
                               <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                  <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>                              
                                     <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                        <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                           <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                              <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                     
                                     <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td></tr>
                                      <tr>
                                          <tr>
                                              <td class="v-align-middle semi-bold">Miracle Me</td>                         
                                               <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                                  <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>                              
                                                     <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                                        <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                                           <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                                              <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                                     
                                                     <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td></tr>
                                                      <tr>
                         <tr>
                           <td class="v-align-middle semi-bold">Internal</td>                         
                            <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                               <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>                              
                                  <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                     <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                        <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                           <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                  
                                  <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td></tr>
                                   <tr>
                           <td class="v-align-middle semi-bold">Vacation</td>                         
                            <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                               <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>                              
                                  <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                     <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                        <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                           <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                  
                                  <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td></tr>
                                   <tr>
                           <td class="v-align-middle semi-bold">Holiday</td>                         
                            <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                               <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>                              
                                  <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                     <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                        <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                           <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                  
                                  <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td></tr>
                                   <tr>
                           <td class="v-align-middle semi-bold">Comp Time</td>                         
                            <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                               <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>                              
                                  <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                     <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                        <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                           <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td>
                                  
                                  <td class="v-align-middle semi-bold"><input type="email" class="form-control" required=""></td></tr>
                        
                       </tbody>
                     </table>

                     <table class=" mb-2 total-details table table-hover table-condensed dataTable no-footer">
                       <tr>
                         <td>
                           <b>Total</b>
                         </td>
                         <td>
                           Billable : 0
                         </td>
                         <td>
                          Holiday : 0
                        </td>
                        <td>
                          Vacation : 0
                        </td>
                        <td>
                          Comptime : 0
                        </td>
                        
                       </tr>
                     </table>

                   </div>
             </div>
              
              <div class="col-md-12 mt-3" style="display: flex">
                  <div class="form-group form-group-default" style="width:50%">
                      <label>Notes</label>
                      <textarea class="form-control" placeholder="Enter notes related to your daily activity" type="text"></textarea>
                  </div>
                  <pg-upload
                  Action="https://jsonplaceholder.typicode.com/posts/"
                  [FileList]="fileList2">
                  <button class="btn" style="background: #2368a0;color:white;margin-left:20px;margin-top:30px;" >
                    <i class="fa fa-upload"></i>
                  </button>
                </pg-upload>
                 
              </div>
              <!-- <div class="col-md-3">
                  <pg-upload
                  Action="https://jsonplaceholder.typicode.com/posts/"
                  [FileList]="fileList2">
                  <button class="btn btn-success btn-cons" style="margin-right:0">
                    <i class="fa fa-upload m-r-10"></i><span>Upload File</span>
                  </button>
                </pg-upload>
              </div> -->
              <div class="col-md-12">
                <button style="float:right" (click)="showTimeSheetEdit()" class="btn btn-primary" >
                  Submit
                </button>
              </div>
        </div>
  </div>
</pg-container> 